{
  "swagger": "2.0",
  "info": {
    "title": "HashiCorp Resource Manager Service",
    "description": "API for managing organizations, projects, and listing resources within projects.",
    "version": "1.0"
  },
  "tags": [
    {
      "name": "AuthorizationService"
    },
    {
      "name": "OrganizationService"
    },
    {
      "name": "ResourceService"
    },
    {
      "name": "ProjectService"
    }
  ],
  "host": "api.cloud.hashicorp.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/2019-12-10/resource-manager/resources/iam-policy": {
      "get": {
        "summary": "GetIamPolicy gets the IAM policy for a resource.",
        "operationId": "ResourceService_GetIamPolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ResourceGetIamPolicyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name",
            "description": "ResourceName is the resource name of the resource. Either this or the ResourceId needs to be provided.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource_id",
            "description": "ResourceId is the resource name of the resource. Either this or the ResourceName needs to be provided.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ResourceService"
        ]
      },
      "put": {
        "summary": "SetIamPolicy sets the IAM policy for a resource. Since this updates the full policy, the policy takes an \"etag\"\nargument that should match with the current policy stored in the system. This is to avoid concurrent writes erasing each other's data.\nHence, the client should always get the current policy that includes the etag, modify the policy and then set the policy with the same etag.\nIf there is no existing policy the etag must be empty.",
        "operationId": "ResourceService_SetIamPolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ResourceSetIamPolicyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ResourceSetIamPolicyRequest"
            }
          }
        ],
        "tags": [
          "ResourceService"
        ]
      }
    },
    "/resource-manager/2019-12-10/authorization/batch-test-iam-permissions": {
      "post": {
        "summary": "BatchTestIamPermissions allows for a batch of TestIamPermissions requests to be made in a single call.",
        "operationId": "AuthorizationService_BatchTestIamPermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.BatchAuthorizationTestIamPermissionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "BatchAuthorizationTestIamPermissionsRequest is a request to test a set of permissions for multiple resources.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.BatchAuthorizationTestIamPermissionsRequest"
            }
          }
        ],
        "tags": [
          "AuthorizationService"
        ]
      }
    },
    "/resource-manager/2019-12-10/authorization/test-iam-permissions": {
      "post": {
        "summary": "TestIamPermissions returns a subset of the request permissions the calling principal has for the authorization context.",
        "operationId": "AuthorizationService_TestIamPermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.AuthorizationTestIamPermissionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "AuthorizationTestIamPermissionsRequest is a request to test a set of permissions.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.AuthorizationTestIamPermissionsRequest"
            }
          }
        ],
        "tags": [
          "AuthorizationService"
        ]
      }
    },
    "/resource-manager/2019-12-10/organizations": {
      "get": {
        "summary": "List lists the organizations the caller has access to.",
        "operationId": "OrganizationService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.OrganizationListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "OrganizationService"
        ]
      },
      "post": {
        "summary": "Warning! Internal use only. Create creates a new organization. The owner is set to the identity of the\ncaller. An organization can not be owned by a machine account.",
        "operationId": "OrganizationService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.OrganizationCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.OrganizationCreateRequest"
            }
          }
        ],
        "tags": [
          "OrganizationService"
        ],
        "x-config": {
          "hideFromPublicApi": true
        }
      }
    },
    "/resource-manager/2019-12-10/organizations/{id}": {
      "get": {
        "summary": "Get retrieves the requested organization by ID.",
        "operationId": "OrganizationService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.OrganizationGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID is the identifier of the organization to retrieve.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "OrganizationService"
        ]
      }
    },
    "/resource-manager/2019-12-10/organizations/{id}/iam-policy": {
      "get": {
        "summary": "GetIamPolicy retrieves the requested organization's IAM policy.",
        "operationId": "OrganizationService_GetIamPolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.OrganizationGetIamPolicyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID is the identifier of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "OrganizationService"
        ]
      },
      "put": {
        "summary": "SetIamPolicy sets the IAM policy for an organization. Since this updates the full policy, the policy takes an \"etag\"\nargument that should match with the current policy stored in the system. This is to avoid concurrent writes erasing each other's data.\nHence, the client should always get the current policy that includes the etag, modify the policy and then set the policy with the same etag.\nIf there is no existing policy the etag must be empty.",
        "operationId": "OrganizationService_SetIamPolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.OrganizationSetIamPolicyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID is the identifier of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "policy": {
                  "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Policy",
                  "description": "Policy is the updated IAM policy for the organization. The policy\nwill be completely replaced and therefore Policy.Etag must be specified\nin order to prevent concurrent updates."
                }
              },
              "title": "see OrganizationService.SetIamPolicy"
            }
          }
        ],
        "tags": [
          "OrganizationService"
        ]
      }
    },
    "/resource-manager/2019-12-10/organizations/{id}/name": {
      "put": {
        "summary": "SetName updates the organization's name.",
        "operationId": "OrganizationService_SetName",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.OrganizationSetNameResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID is the identifier of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name is the new name of the organization."
                }
              },
              "title": "see OrganizationService.SetName"
            }
          }
        ],
        "tags": [
          "OrganizationService"
        ]
      }
    },
    "/resource-manager/2019-12-10/organizations/{id}/roles": {
      "get": {
        "summary": "ListRoles returns a list of all user facing Roles for an organization.",
        "operationId": "OrganizationService_ListRoles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.OrganizationListRolesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID is the identifier of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "OrganizationService"
        ]
      }
    },
    "/resource-manager/2019-12-10/organizations/{id}/test-iam-permissions": {
      "post": {
        "summary": "TestIamPermissions returns a subset of the request permissions the calling principal has for the organization.",
        "operationId": "OrganizationService_TestIamPermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.OrganizationTestIamPermissionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID is the identifier of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "permissions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Permissions to test."
                }
              },
              "title": "see OrganizationService.TestIamPermissions"
            }
          }
        ],
        "tags": [
          "OrganizationService"
        ]
      }
    },
    "/resource-manager/2019-12-10/organizations/{id}/{role_id}": {
      "get": {
        "summary": "GetRole returns a Role and its mapped permissions.",
        "operationId": "OrganizationService_GetRole",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.OrganizationGetRoleResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID is the identifier of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "role_id",
            "description": "RoleId is the identifier of the role to retrieve.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "roles/[^/]+"
          }
        ],
        "tags": [
          "OrganizationService"
        ]
      }
    },
    "/resource-manager/2019-12-10/projects": {
      "get": {
        "summary": "List retrieves the projects the caller has access to.",
        "operationId": "ProjectService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ProjectListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "scope.type",
            "description": "ResourceType is the type of object being referenced.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNKNOWN",
              "ORGANIZATION",
              "PROJECT"
            ],
            "default": "UNKNOWN"
          },
          {
            "name": "scope.id",
            "description": "id is the id of the object being referenced.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sorting.order_by",
            "description": "Specifies the list of per field ordering that should be used for sorting. \nThe order matters as rows are sorted in order by fields and when the field\nmatches, the next field is used to tie break the ordering.\nThe per field default ordering is ascending.  \n\nThe fields should be immutabile, unique, and orderable. If the field is\nnot unique, more than one sort fields should be passed.\n\nExample: oder_by=name,age desc,created_at asc\nIn that case, 'name' will get the default 'ascending' order.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "query",
            "description": "Query is the search query to filter the projects.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ProjectService"
        ]
      },
      "post": {
        "summary": "Warning! Internal use only. Create provisions a new project.\nCreate is an asynchronous action, meaning that the project creation may not be immediately visible to the client. \nThe client should poll the returned operation until it is completed to ensure the project is successfully created.\nFor more details on polling an operation, consult the [HCP Operations Service /wait endpoint documentation](https://developer.hashicorp.com/hcp/api-docs/operations#Wait).",
        "operationId": "ProjectService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ProjectCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ProjectCreateRequest"
            }
          }
        ],
        "tags": [
          "ProjectService"
        ],
        "x-config": {
          "hideFromPublicApi": true
        }
      }
    },
    "/resource-manager/2019-12-10/projects/count": {
      "get": {
        "summary": "GetProjectsCount returns the count of projects within a parent scope.",
        "operationId": "ProjectService_GetProjectsCount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ProjectGetProjectsCountResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "scope.type",
            "description": "ResourceType is the type of object being referenced.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNKNOWN",
              "ORGANIZATION",
              "PROJECT"
            ],
            "default": "UNKNOWN"
          },
          {
            "name": "scope.id",
            "description": "id is the id of the object being referenced.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ProjectService"
        ]
      }
    },
    "/resource-manager/2019-12-10/projects/{id}": {
      "get": {
        "summary": "Get retrieves the requested project by ID. A not found status will be returned\nfor projects in the DELETED state.",
        "operationId": "ProjectService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ProjectGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID is the identifier of the organization to retrieve.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ProjectService"
        ]
      },
      "delete": {
        "summary": "Warning! Internal use only. Delete updates the state of a project to `DELETED`.\nDelete is an asynchronous action, meaning that the project deletion may not be immediately visible to the client.\nThe client should poll the returned operation until it is completed to ensure the project is successfully deleted.\nFor more details on polling an operation, consult the [HCP Operations Service /wait endpoint documentation](https://developer.hashicorp.com/hcp/api-docs/operations#Wait).",
        "operationId": "ProjectService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ProjectDeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID is the identifier of the project to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ProjectService"
        ],
        "x-config": {
          "hideFromPublicApi": true
        }
      }
    },
    "/resource-manager/2019-12-10/projects/{id}/description": {
      "put": {
        "summary": "SetDescription updates the requested project's description.\nSetDescription is an asynchronous action, meaning that the project update may not be immediately visible to the client.\nThe client should poll the returned operation until it is completed to ensure the project is successfully updated.\nFor more details on polling an operation, consult the [HCP Operations Service /wait endpoint documentation](https://developer.hashicorp.com/hcp/api-docs/operations#Wait).",
        "operationId": "ProjectService_SetDescription",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ProjectSetDescriptionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "id is the identifier of the project to update.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "description is the value the project's description should be updated to."
                }
              },
              "title": "ProjectSetDescriptionRequest see ProjectService.SetDescription"
            }
          }
        ],
        "tags": [
          "ProjectService"
        ]
      }
    },
    "/resource-manager/2019-12-10/projects/{id}/iam-policy": {
      "get": {
        "summary": "GetIamPolicy retrieves the user managed IAM policy for a project.",
        "operationId": "ProjectService_GetIamPolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ProjectGetIamPolicyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID is the identifier of the project.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ProjectService"
        ]
      },
      "put": {
        "summary": "SetIamPolicy updates the IAM policy for a project. Since this updates the full policy, the policy takes an \"etag\"\nargument that should match with the current policy stored in the system. This is to avoid concurrent writes erasing each other's data.\nHence, the client should always get the current policy that includes the etag, modify the policy and then set the policy with the same etag.\nIf there is no existing policy the etag must be empty.",
        "operationId": "ProjectService_SetIamPolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ProjectSetIamPolicyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID is the identifier of the project.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "policy": {
                  "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Policy",
                  "description": "Policy is the IAM policy to be updated for the project. The policy\nwill be completely replaced and therefore Policy.Etag must be specified\nin order to prevent concurrent updates."
                }
              },
              "title": "ProjectSetIamPolicyRequest see ProjectService.SetIamPolicy"
            }
          }
        ],
        "tags": [
          "ProjectService"
        ]
      }
    },
    "/resource-manager/2019-12-10/projects/{id}/name": {
      "put": {
        "summary": "SetName updates the requested project's name.\nSetName is an asynchronous action, meaning that the project update may not be immediately visible to the client.\nThe client should poll the returned operation until it is completed to ensure the project is successfully updated.\nFor more details on polling an operation, consult the [HCP Operations Service /wait endpoint documentation](https://developer.hashicorp.com/hcp/api-docs/operations#Wait).",
        "operationId": "ProjectService_SetName",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ProjectSetNameResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "id is the identifier of the project to update.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name is the value the project's name should be updated to."
                }
              },
              "title": "ProjectSetNameRequest see ProjectService.SetName"
            }
          }
        ],
        "tags": [
          "ProjectService"
        ]
      }
    },
    "/resource-manager/2019-12-10/projects/{id}/test-iam-permissions": {
      "post": {
        "summary": "TestIamPermissions returns a subset of the request permissions the calling principal has for the project.",
        "operationId": "ProjectService_TestIamPermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ProjectTestIamPermissionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID is the identifier of the project.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "permissions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Permissions to test."
                }
              },
              "title": "see ProjectService.TestIamPermissions"
            }
          }
        ],
        "tags": [
          "ProjectService"
        ]
      }
    },
    "/resource-manager/2019-12-10/resource": {
      "get": {
        "summary": "GetResource retrieves a resource.",
        "operationId": "ResourceService_GetResource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.GetResourceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_id",
            "description": "ResourceId is the unique identifier of the resource.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource_name",
            "description": "ResourceName is the name of the resource.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ResourceService"
        ]
      }
    },
    "/resource-manager/2019-12-10/resource/roles": {
      "get": {
        "summary": "ListRoles lists roles applicable on the given resource. Requires caller to have \"resource-manager.resource.list-roles\"\npermission on the given resource.",
        "operationId": "ResourceService_ListRoles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ListRolesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource.name",
            "description": "Name is the resource name of the resource.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource.id",
            "description": "Id is the resource id of the resource.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ResourceService"
        ]
      }
    },
    "/resource-manager/2019-12-10/resources": {
      "get": {
        "summary": "List lists the resources the caller has access to.",
        "operationId": "ResourceService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ResourceListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "scope.type",
            "description": "ResourceType is the type of object being referenced.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNKNOWN",
              "ORGANIZATION",
              "PROJECT"
            ],
            "default": "UNKNOWN"
          },
          {
            "name": "scope.id",
            "description": "id is the id of the object being referenced.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ResourceService"
        ]
      }
    },
    "/resource-manager/2019-12-10/resources/accessible": {
      "get": {
        "summary": "ListAccessibleResources lists the resources the caller has access to at and below the given scope.",
        "operationId": "ResourceService_ListAccessibleResources",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ResourceListAccessibleResourcesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "scope_resource_name",
            "description": "ScopeResourceName is resource name of the parent object to list resources under.\nEither this or the ResourceId needs to be provided.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "scope_resource_id",
            "description": "ScopeResourceId is resource ID of the parent object to list resources under.\nEither this or the ResourceName needs to be provided.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource_type",
            "description": "ResourceType is the resource type of the resources to list.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "permission",
            "description": "Permission is the permission to check.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "leaf_name_filter",
            "description": "LeafNameFilter optionally allows for filtering results based on a\nsubstring match of the final/leaf name within the resource's resource\nname.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ResourceService"
        ]
      }
    },
    "/resource-manager/2019-12-10/resources/test-iam-permissions": {
      "post": {
        "summary": "TestIamPermissions returns a subset of the request permissions the calling principal has on the resource.",
        "operationId": "ResourceService_TestIamPermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ResourceTestIamPermissionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ResourceTestIamPermissionsRequest"
            }
          }
        ],
        "tags": [
          "ResourceService"
        ]
      }
    }
  },
  "definitions": {
    "google.protobuf.Any": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        }
      },
      "additionalProperties": {},
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := \u0026pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "google.rpc.Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of\n[google.rpc.Code][google.rpc.Code]."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\n[google.rpc.Status.details][google.rpc.Status.details] field, or localized\nby the client."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/google.protobuf.Any"
          },
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "hashicorp.cloud.common.PaginationRequest": {
      "type": "object",
      "properties": {
        "page_size": {
          "type": "integer",
          "format": "int64",
          "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted."
        },
        "next_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set."
        },
        "previous_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set."
        }
      },
      "description": "PaginationRequest are the parameters for a paginated list request."
    },
    "hashicorp.cloud.common.PaginationResponse": {
      "type": "object",
      "properties": {
        "next_page_token": {
          "type": "string",
          "description": "This token allows you to get the next page of results for list requests.\nIf the number of results is larger than `page_size`, use the\n`next_page_token` as a value for the query parameter `next_page_token` in\nthe next request. The value will become empty when there are no more pages."
        },
        "previous_page_token": {
          "type": "string",
          "description": "This token allows you to get the previous page of results for list\nrequests. If the number of results is larger than `page_size`, use the\n`previous_page_token` as a value for the query parameter\n`previous_page_token` in the next request. The value will become empty when\nthere are no more pages."
        }
      },
      "description": "PaginationResponse is the response holding the page tokens for a paginated\nlist response."
    },
    "hashicorp.cloud.common.SortingRequest": {
      "type": "object",
      "properties": {
        "order_by": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the list of per field ordering that should be used for sorting. \nThe order matters as rows are sorted in order by fields and when the field\nmatches, the next field is used to tie break the ordering.\nThe per field default ordering is ascending.  \n\nThe fields should be immutabile, unique, and orderable. If the field is\nnot unique, more than one sort fields should be passed.\n\nExample: oder_by=name,age desc,created_at asc\nIn that case, 'name' will get the default 'ascending' order."
        }
      },
      "description": "SortingRequest are the parameters for a sorted list request."
    },
    "hashicorp.cloud.location.Link": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "type is the unique type of the resource. Each service publishes a\nunique set of types. The type value is recommended to be formatted\nin \"\u003corg\u003e.\u003ctype\u003e\" such as \"hashicorp.hvn\". This is to prevent conflicts\nin the future, but any string value will work."
        },
        "id": {
          "type": "string",
          "description": "id is the identifier for this resource."
        },
        "uuid": {
          "type": "string",
          "description": "uuid is the unique UUID for this resource."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the location where this resource is."
        },
        "description": {
          "type": "string",
          "description": "description is a human-friendly description for this link. This is\nused primarily for informational purposes such as error messages."
        }
      },
      "description": "Link is used to uniquely reference any resource within HashiCorp Cloud.\nThis can be conceptually considered a \"foreign key\"."
    },
    "hashicorp.cloud.location.Location": {
      "type": "object",
      "properties": {
        "organization_id": {
          "type": "string",
          "description": "organization_id is the id of the organization."
        },
        "project_id": {
          "type": "string",
          "description": "project_id is the projects id."
        },
        "region": {
          "$ref": "#/definitions/hashicorp.cloud.location.Region",
          "description": "region is the region that the resource is located in. It is\noptional if the object being referenced is a global object."
        }
      },
      "description": "Location represents a target for an operation in HCP."
    },
    "hashicorp.cloud.location.Region": {
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "title": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")"
        },
        "region": {
          "type": "string",
          "title": "region is the cloud region (\"us-west1\", \"us-east1\")"
        }
      },
      "description": "Region identifies a Cloud data-plane region."
    },
    "hashicorp.cloud.operation.Operation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "id is the unique ID for this operation used in other RPC calls.\nThis ID is only guaranteed to be unique within the region that\nthe operation is running in."
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation.State",
          "description": "state is the current state of the operation. This is a simple tri-state:\nPENDING means the operation is created but not yet started, RUNNING means\nthe operation is currently running (though it may be very long-running),\nand DONE means the operation is complete whether successfully or not."
        },
        "error": {
          "$ref": "#/definitions/google.rpc.Status",
          "description": "error is the error that occurred in the operation."
        },
        "response": {
          "$ref": "#/definitions/google.protobuf.Any",
          "description": "response is the result of the operation. See the documentation for the API\ncall creating the operation to understand what the value of this is."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "Location is location of the resource that this operation belongs to."
        },
        "link": {
          "$ref": "#/definitions/hashicorp.cloud.location.Link",
          "description": "Link is the resource link the operation is associated with."
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "CreatedAt is the timestamp of when the operation was first created."
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "UpdatedAt is the timestamp of when the operation was last updated."
        }
      },
      "description": "Operation represents a single operation."
    },
    "hashicorp.cloud.operation.Operation.State": {
      "type": "string",
      "enum": [
        "PENDING",
        "RUNNING",
        "DONE",
        "QUEUED"
      ],
      "default": "PENDING",
      "description": "State is one of the states that an Operation can be in.\n\nThe states are purposely coarse grained to make it easy to understand\nthe operation state machine: pending =\u003e running =\u003e done. Or pending =\u003e\nqueued =\u003e running =\u003e done. No other state transitions are possible.\nSuccess/failure can be determined based on the result oneof."
    },
    "hashicorp.cloud.resourcemanager.AuthorizationTestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Permissions is the set of permissions to test."
        },
        "resource_id": {
          "type": "string",
          "description": "ResourceId holds the unique, immutable and non-reusable ID of the resource.\n\nExample formats include:\n  - vault.cluster:t79BRg8WhTmDPBRM\n  - vagrant.box:gTmD2KMMRt9DWhJz"
        },
        "resource_name": {
          "type": "string",
          "description": "ResourceName holds the Resource Name in the Resource Identifier v2 format.\nThis parameter is expected to be provided only for external calls.\n\nExample formats include:\n  - vault/project/e1e04e11-d590-41cf-b818-1535bc4b4889/cluster/my-cluster\n  - vagrant/organization/ubuntu/box/lunar64/version/v20230130.0.0\n  - iam/organization/zBmk8k7Pk99ph7Kr/service-principal/my-sp-43563412\n  - consul/project/e57a01aa-1929-40e8-80b8-4907fc46429c/cluster/my-cluster\n\nIn case of organization or project level authorization the ResourceName is\nexpected to be provided in the following format:\n  - organization/863063b6-c485-4cf4-8df3-6991a2ffd4b4\n  - project/e1e04e11-d590-41cf-b818-1535bc4b4889\n  - project/gTmD2KMMRt9DWhJz"
        }
      },
      "description": "AuthorizationTestIamPermissionsRequest is a request to test a set of permissions."
    },
    "hashicorp.cloud.resourcemanager.AuthorizationTestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "allowed_permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "AllowedPermissions is the set of permissions granted.\nIt is a subset of AuthorizationTestIamPermissionsRequest.Permissions."
        }
      },
      "description": "AuthorizationTestIamPermissionsResponse is the set of granted permissions for the AuthorizationTestIamPermissionsRequest."
    },
    "hashicorp.cloud.resourcemanager.BatchAuthorizationTestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.resourcemanager.AuthorizationTestIamPermissionsRequest"
          },
          "description": "resources is the list of resources to test with a set of permissions."
        }
      },
      "description": "BatchAuthorizationTestIamPermissionsRequest is a request to test a set of permissions for multiple resources."
    },
    "hashicorp.cloud.resourcemanager.BatchAuthorizationTestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "resource_permissions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/hashicorp.cloud.resourcemanager.AuthorizationTestIamPermissionsResponse"
          },
          "description": "Request:\n[\n  {\n    Permissions: [...],\n    ResourceId: \"abc123\",\n    ResourceName: \"\",\n  },\n  {\n    Permissions: [...],\n    ResourceId: \"\",\n    ResourceName: \"iam/group/456\"\n  },\n  {\n    Permissions: [...],\n    ResourceId: \"def789\",\n    ResourceName: \"iam/group/789\",\n  },\n]\n\nResponse:\n{\n   \"abc123\": { AllowedPermissions: [...] },\n   \"iam/group/456\": { AllowedPermissions: [...] },\n   \"def789\": { AllowedPermissions: [...] },\n   \"iam/group/789\": { AllowedPermissions: [...] },\n}",
          "title": "resource_permissions is a map of resource_id and/or resource_name to the granted permissions.\nThe key is determined by whether or not the resource_id/resource_name is a non-empty string.\nTake for example the following psuedo-code:"
        }
      },
      "description": "BatchAuthorizationTestIamPermissionsResponse is the set of granted permissions for multiple resources."
    },
    "hashicorp.cloud.resourcemanager.GetResourceResponse": {
      "type": "object",
      "properties": {
        "resource_id": {
          "type": "string",
          "description": "ResourceId is the ID of the registered resource."
        },
        "resource_name": {
          "type": "string",
          "description": "ResourceName is the name of the registered resource."
        },
        "resource_type": {
          "type": "string",
          "description": "ResourceType is the type of the registered resource."
        },
        "parent_id": {
          "type": "string",
          "description": "ParentId is the ID of the parent of the registered resource."
        }
      },
      "title": "GetResourceResponse is the response for GetResource RPC"
    },
    "hashicorp.cloud.resourcemanager.ListRolesResponse": {
      "type": "object",
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Role"
          },
          "title": "Roles is list of roles applicable on the resource"
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination contains the pagination tokens for a subsequent request."
        }
      }
    },
    "hashicorp.cloud.resourcemanager.Organization": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID is an UUID identifying the Organization object."
        },
        "name": {
          "type": "string",
          "description": "Name is the user settable name of the organization."
        },
        "owner": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.OrganizationOwner",
          "description": "Owner is the contact for support issue that may occur at the\norganization level. Further, if the organization owner is\ndeleted, the organization itself will be deleted."
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "CreatedAt is the time the organization was created at."
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Organization.OrganizationState",
          "description": "State is the state of the organization."
        },
        "tfc_synced": {
          "type": "boolean",
          "description": "TfcSynced is true if this organization has synced to TFC."
        }
      },
      "description": "Organization is the root node in the resource hierarchy. All resources for an\nentity reside under the organization."
    },
    "hashicorp.cloud.resourcemanager.Organization.OrganizationState": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "ACTIVE",
        "PENDING_DELETE"
      ],
      "default": "UNKNOWN",
      "description": "OrganizationState is the states the organization can be in."
    },
    "hashicorp.cloud.resourcemanager.OrganizationCreateRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name is the user settable name of the organization. Will default to\n\"\u003cPrincipal's name\u003e's Organization\" if unset."
        }
      },
      "title": "see OrganizationService.Create"
    },
    "hashicorp.cloud.resourcemanager.OrganizationCreateResponse": {
      "type": "object",
      "properties": {
        "organization": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Organization",
          "description": "Organization is the newly created organization."
        }
      },
      "title": "see OrganizationService.Create"
    },
    "hashicorp.cloud.resourcemanager.OrganizationGetIamPolicyResponse": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Policy",
          "description": "Policy is the IAM policy for the organization."
        }
      },
      "title": "see OrganizationService.GetIamPolicy"
    },
    "hashicorp.cloud.resourcemanager.OrganizationGetResponse": {
      "type": "object",
      "properties": {
        "organization": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Organization",
          "description": "Organization is the specified organization."
        }
      },
      "title": "see OrganizationService.Get"
    },
    "hashicorp.cloud.resourcemanager.OrganizationGetRoleResponse": {
      "type": "object",
      "properties": {
        "role": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Role",
          "description": "Role is the requested role."
        }
      },
      "title": "OrganizationGetRoleResponse see OrganizationService.GetRole"
    },
    "hashicorp.cloud.resourcemanager.OrganizationListResponse": {
      "type": "object",
      "properties": {
        "organizations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Organization"
          },
          "description": "Organizations is the organizations the caller has access to."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination contains the pagination tokens for a subsequent request."
        }
      },
      "title": "see OrganizationService.List"
    },
    "hashicorp.cloud.resourcemanager.OrganizationListRolesResponse": {
      "type": "object",
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Role"
          },
          "description": "Roles contains a page of the provisioned roles for the requested organization."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination contains the pagination tokens for a subsequent request."
        }
      },
      "title": "OrganizationListRolesResponse see OrganizationService.ListRoles"
    },
    "hashicorp.cloud.resourcemanager.OrganizationOwner": {
      "type": "object",
      "properties": {
        "user": {
          "type": "string",
          "description": "User is the user principal id of the owner."
        }
      },
      "description": "OrganizationOwner identifies the user who owns the organization."
    },
    "hashicorp.cloud.resourcemanager.OrganizationSetIamPolicyResponse": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Policy",
          "description": "Policy is the updated IAM policy for the organization."
        }
      },
      "title": "see OrganizationService.SetIamPolicy"
    },
    "hashicorp.cloud.resourcemanager.OrganizationSetNameResponse": {
      "type": "object",
      "properties": {
        "organization": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Organization",
          "description": "Organization is the specified organization with an updated name."
        }
      },
      "title": "see OrganizationService.SetName"
    },
    "hashicorp.cloud.resourcemanager.OrganizationTestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "allowed_permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "AllowedPermissions are a subset of the request permissions the calling principal has for the organization."
        }
      },
      "title": "see OrganizationService.TestIamPermissions"
    },
    "hashicorp.cloud.resourcemanager.Policy": {
      "type": "object",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.resourcemanager.PolicyBinding"
          },
          "description": "Bindings is a list of role to members for this policy."
        },
        "etag": {
          "type": "string",
          "description": "Etag identifies this version of the policy."
        }
      },
      "description": "An organization policy which has a single owner and many contributors.\n\n\"policy\": {\n  \"bindings\": [{\n    \"role_id\": \"roles/owner\",\n    \"members\": [\n      {\n        \"member_type\": \"USER\",\n        \"member_id\": \"f0b6f14c-ff6d-481a-8bd6-f4f0d356bc93\"\n      }\n    ]\n  }, {\n    \"role_id\": \"roles/contributor\",\n    \"members\": [\n      {\n        \"member_type\": \"USER\",\n        \"member_id\": \"b24c10e6-7f2d-4660-a163-f54f52439080\"\n      },\n      {\n        \"member_type\": \"USER\",\n        \"member_id\": \"b2becb8c-4947-4a29-94bb-c952b1b67f1e\"\n      },\n      {\n        \"member_type\": \"GROUP\",\n        \"member_id\": \"356120ef-3014-404c-b574-c1c9e804663a\"\n      }\n    ]\n  }],\n  \"etag\": \"afd123\"\n}",
      "title": "Policy binds many instances of roles to member lists in the resource hierarchy.\nFor example:"
    },
    "hashicorp.cloud.resourcemanager.PolicyBinding": {
      "type": "object",
      "properties": {
        "role_id": {
          "type": "string",
          "title": "RoleId is the globally unique identifier for the role.\ne.g. projects/30788e25-a942-470a-9a75-128cc7b97fde/roles/my-custom-project-role"
        },
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.resourcemanager.PolicyBindingMember"
          },
          "description": "Members is a set of identities that are associated with the role."
        }
      },
      "description": "PolicyBinding binds a list of members to a role."
    },
    "hashicorp.cloud.resourcemanager.PolicyBindingMember": {
      "type": "object",
      "properties": {
        "member_type": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.PolicyBindingMemberType",
          "description": "MemberType is the type of the member."
        },
        "member_id": {
          "type": "string",
          "description": "MemberId is the unique identifier for the member."
        }
      },
      "description": "PolicyBindingMember represents an identity associated with a policy binding."
    },
    "hashicorp.cloud.resourcemanager.PolicyBindingMemberType": {
      "type": "string",
      "enum": [
        "UNSET",
        "USER",
        "GROUP",
        "SERVICE_PRINCIPAL"
      ],
      "default": "UNSET",
      "description": "PolicyBindingMemberType is the type of the policy binding member."
    },
    "hashicorp.cloud.resourcemanager.Project": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID is an UUID identifying the project object."
        },
        "name": {
          "type": "string",
          "description": "Name is the user settable name of the project."
        },
        "parent": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ResourceID",
          "description": "Parent is the parent resource of the project."
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "CreatedAt is the time the project was created at."
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Project.ProjectState",
          "description": "State is the state of the project."
        },
        "description": {
          "type": "string",
          "description": "Description is the user settable description of the project."
        }
      },
      "description": "Project is a container for resources."
    },
    "hashicorp.cloud.resourcemanager.Project.ProjectState": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "ACTIVE",
        "DELETING",
        "DELETED"
      ],
      "default": "UNKNOWN",
      "description": "ProjectState is the states the project can be in."
    },
    "hashicorp.cloud.resourcemanager.ProjectCreateRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name is the user settable name of the project."
        },
        "parent": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ResourceID",
          "description": "Parent is the parent resource to nest the new project under."
        },
        "description": {
          "type": "string",
          "description": "Description is the user settable description of the project."
        }
      },
      "title": "see ProjectService.Create"
    },
    "hashicorp.cloud.resourcemanager.ProjectCreateResponse": {
      "type": "object",
      "properties": {
        "project": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Project",
          "description": "Project is the newly created project."
        },
        "operation_id": {
          "type": "string",
          "description": "operation_id is the ID of the operation that represents the async creation of the project.\nThe client should poll the returned operation until it is completed.\nFor more details on polling an operation, consult the [HCP Operations Service /wait endpoint documentation](https://developer.hashicorp.com/hcp/api-docs/operations#Wait)."
        }
      },
      "title": "see ProjectService.Create"
    },
    "hashicorp.cloud.resourcemanager.ProjectDeleteResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "operation is the operation that represents the async delete.\nThe client should poll the returned operation until it is completed.\nFor more details on polling an operation, consult the [HCP Operations Service /wait endpoint documentation](https://developer.hashicorp.com/hcp/api-docs/operations#Wait)."
        }
      },
      "title": "ProjectDeleteResponse See ProjectService.Delete"
    },
    "hashicorp.cloud.resourcemanager.ProjectGetIamPolicyResponse": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Policy",
          "description": "Policy is the system managed IAM policy for the project."
        }
      },
      "title": "ProjectGetIamPolicyResponse see ProjectService.GetIamPolicy"
    },
    "hashicorp.cloud.resourcemanager.ProjectGetProjectsCountResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Count is the count of projects belonging to a parent scope."
        }
      },
      "title": "ProjectGetProjectsCountResponse see ProjectService.GetProjectsCount"
    },
    "hashicorp.cloud.resourcemanager.ProjectGetResponse": {
      "type": "object",
      "properties": {
        "project": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Project",
          "description": "Project is the specified project."
        }
      },
      "title": "see ProjectService.Get"
    },
    "hashicorp.cloud.resourcemanager.ProjectListResponse": {
      "type": "object",
      "properties": {
        "projects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Project"
          },
          "description": "Projects is the projects the caller has access to at the requested scope."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination contains the pagination tokens for a subsequent request."
        }
      },
      "title": "see ProjectService.List"
    },
    "hashicorp.cloud.resourcemanager.ProjectSetDescriptionResponse": {
      "type": "object",
      "properties": {
        "operation_id": {
          "type": "string",
          "description": "operation_id is the operation that represents the async update of the project description.\nThe client should poll the returned operation until it is completed.\nFor more details on polling an operation, consult the [HCP Operations Service /wait endpoint documentation](https://developer.hashicorp.com/hcp/api-docs/operations#Wait)."
        }
      },
      "title": "ProjectSetDescriptionResponse See ProjectService.SetDescription"
    },
    "hashicorp.cloud.resourcemanager.ProjectSetIamPolicyResponse": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Policy",
          "description": "Policy is the updated IAM policy for the project."
        }
      },
      "title": "ProjectSetIamPolicyResponse see ProjectService.SetIamPolicy"
    },
    "hashicorp.cloud.resourcemanager.ProjectSetNameResponse": {
      "type": "object",
      "properties": {
        "operation_id": {
          "type": "string",
          "description": "operation_id is the operation that represents the async update of the project name.\nThe client should poll the returned operation until it is completed.\nFor more details on polling an operation, consult the [HCP Operations Service /wait endpoint documentation](https://developer.hashicorp.com/hcp/api-docs/operations#Wait)."
        }
      },
      "title": "ProjectSetNameResponse see ProjectService.SetName"
    },
    "hashicorp.cloud.resourcemanager.ProjectTestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "allowed_permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "AllowedPermissions are a subset of the request permissions the calling principal has for the project."
        }
      },
      "title": "see ProjectService.TestIamPermissions"
    },
    "hashicorp.cloud.resourcemanager.Resource": {
      "type": "object",
      "properties": {
        "link": {
          "$ref": "#/definitions/hashicorp.cloud.location.Link",
          "description": "Link is a link to the resource. This includes the organization\nand project ID as well as the ID of the resource itself."
        },
        "resource_name": {
          "type": "string",
          "description": "ResourceName is the name of the resource. This is only available on\nList responses and is not valid for any creation or update requests."
        },
        "resource_id": {
          "type": "string",
          "description": "ResourceID is the ID of the resource. This is only available on List\nresponses and is not valid for any creation or update requests."
        },
        "geo": {
          "type": "string",
          "description": "Geo is the geography where the resource is registered. A resource MAY NOT\nhave a geography associated with it. The currently valid values are: \"\",\n\"us\", and \"eu\".  This is only available on List responses and is not valid\nfor any creation or update requests."
        }
      }
    },
    "hashicorp.cloud.resourcemanager.ResourceGetIamPolicyResponse": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Policy",
          "description": "Policy is the system managed IAM policy for the resource."
        }
      },
      "title": "ResourceGetIamPolicyRequest see ResourceService.GetIamPolicy"
    },
    "hashicorp.cloud.resourcemanager.ResourceID": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ResourceID.ResourceType",
          "description": "ResourceType is the type of object being referenced."
        },
        "id": {
          "type": "string",
          "description": "id is the id of the object being referenced."
        }
      },
      "description": "ResourceID is a reference to an object in the resource hierarchy."
    },
    "hashicorp.cloud.resourcemanager.ResourceID.ResourceType": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "ORGANIZATION",
        "PROJECT"
      ],
      "default": "UNKNOWN"
    },
    "hashicorp.cloud.resourcemanager.ResourceIdentifier": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name is the resource name of the resource."
        },
        "id": {
          "type": "string",
          "description": "Id is the resource id of the resource."
        }
      },
      "description": "ResourceIdentifier identifies a resource by either its name or id."
    },
    "hashicorp.cloud.resourcemanager.ResourceListAccessibleResourcesResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.resourcemanager.ResourceV2"
          },
          "description": "Resources is the resources the caller has access to at the requested scope and of the requested type."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination contains the pagination tokens for a subsequent request."
        }
      },
      "title": "ResourceListAccessibleResourcesResponse see ResourceService.ListAccessibleResources"
    },
    "hashicorp.cloud.resourcemanager.ResourceListResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Resource"
          },
          "description": "Resources is the resources the caller has access to at the requested scope."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination contains the pagination tokens for a subsequent request."
        }
      }
    },
    "hashicorp.cloud.resourcemanager.ResourceSetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "resource_name": {
          "type": "string",
          "description": "ResourceName is the resource name of the resource. Either this or the ResourceId needs to be provided."
        },
        "resource_id": {
          "type": "string",
          "description": "ResourceId is the resource name of the resource. Either this or the ResourceName needs to be provided."
        },
        "policy": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Policy",
          "description": "Policy is the IAM policy to be updated for the resource. The policy\nwill be completely replaced and therefore Policy.Etag must be specified\nin order to prevent concurrent updates."
        }
      },
      "title": "ResourceSetIamPolicyRequest see ResourceService.SetIamPolicy"
    },
    "hashicorp.cloud.resourcemanager.ResourceSetIamPolicyResponse": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Policy",
          "description": "Policy is the updated IAM policy for the resource."
        }
      },
      "title": "ResourceSetIamPolicyResponse see ResourceService.SetIamPolicy"
    },
    "hashicorp.cloud.resourcemanager.ResourceTestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "#/definitions/hashicorp.cloud.resourcemanager.Resource",
          "description": "resource is the scope of the permissions that is going to be retrieved."
        },
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Permissions to test."
        }
      },
      "title": "see ResourceService.TestIamPermissions"
    },
    "hashicorp.cloud.resourcemanager.ResourceTestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "allowed_permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "AllowedPermissions are a subset of the request permissions the calling principal has for the resource."
        }
      },
      "title": "see ResourceService.TestIamPermissions"
    },
    "hashicorp.cloud.resourcemanager.ResourceV2": {
      "type": "object",
      "properties": {
        "resource_name": {
          "type": "string",
          "description": "ResourceName is the name of the resource."
        },
        "resource_id": {
          "type": "string",
          "description": "ResourceID is the ID of the resource."
        },
        "geo": {
          "type": "string",
          "description": "Geo is the geography where the resource is registered. A resource MAY NOT\nhave a geography associated with it. The currently valid values are: \"\",\n\"us\", and \"eu\"."
        }
      },
      "description": "ResourceV2 is a container for resource v2 identifiers."
    },
    "hashicorp.cloud.resourcemanager.Role": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Builtin roles are prefixed with \"roles/\"",
          "title": "ID is the globally unique identifier for this role.\nExamples:\n* roles/contributor\n* organizations/30788e25-a942-470a-9a75-128cc7b97fde/roles/my-custom-role (custom role scoped to an organization)\n* projects/30788e25-a942-470a-9a75-128cc7b97fde/roles/my-custom-project-role"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Version is the instance of this role - version is incremented when a\npermission is added or removed and when other metadata is changed."
        },
        "title": {
          "type": "string",
          "description": "Title is a display name for this role."
        },
        "description": {
          "type": "string",
          "description": "Description provides information regarding the purpose of this role."
        },
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Permissions is a set of allowed permissions in the format: \u003cservice\u003e.\u003cnoun\u003e.\u003caction\u003e\nExamples:\n* network.hvns.create\n* network.hvns.read\n* consul.clusters.create"
        },
        "lowest_applicable_resource_types": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "LowestApplicableResourceTypes is a list of lowest applicable resource types that this role should be assigned to.\nThe parent resource types will be deduced by the Resource Manager.\nThe list should contain valid resource types in the format hashicorp.\u003cservice\u003e.\u003cresource\u003e\nExamples:\n* hashicorp.resource-manager.project\n* hashicorp.secrets.app"
        }
      },
      "description": "Role binds a name to a set of permissions."
    }
  },
  "securityDefinitions": {
    "bearer": {
      "type": "apiKey",
      "description": "Authentication token, prefixed by Bearer: Bearer \u003ctoken\u003e",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "bearer": []
    }
  ]
}
