# Set the default code owner for all files to be the web-presence team
* @hashicorp/web-presence
# TODO: as we onboard content authors to this repository, we'll likely want to
# work together to set code owners for specific `content` areas.