# Set the default code owner for all files to be the web-presence team
* @hashicorp/web-devdot

# Content CODEOWNERS

# Terraform documentation ownership
/content/terraform-plugin-framework @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-log @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-mux @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-sdk @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-testing @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-docs-agents @hashicorp/team-hcpt-agent-engineering
/content/terraform-cdk @hashicorp/cdktf
/content/terraform @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform
/content/terraform/v1.9.x/docs/language/backend @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/terraform-azure @hashicorp/tf-eco-hybrid-cloud @hashicorp/terraform-aws
/content/terraform/v1.10.x/docs/language/backend @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/terraform-azure @hashicorp/tf-eco-hybrid-cloud @hashicorp/terraform-aws
/content/terraform/v1.11.x/docs/language/backend @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/terraform-azure @hashicorp/tf-eco-hybrid-cloud @hashicorp/terraform-aws
/content/terraform/v1.12.x/docs/language/backend @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/terraform-azure @hashicorp/tf-eco-hybrid-cloud @hashicorp/terraform-aws