{
  "swagger": "2.0",
  "info": {
    "title": "HashiCorp Cloud Platform Waypoint",
    "description": "Service for managing applications.",
    "version": "2024-11-22"
  },
  "tags": [
    {
      "name": "WaypointService"
    }
  ],
  "host": "api.cloud.hashicorp.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/waypoint/2024-11-22/github/callback": {
      "get": {
        "summary": "GitHubCallbackSession is not implemented.",
        "operationId": "WaypointService_GitHubCallbackSession",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.GitHubCallbackSessionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "code",
            "description": "code is the code from the callback",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "description": "state is session id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{location.organization_id}/projects/{location.project_id}/namespaces": {
      "get": {
        "summary": "GetNamespace gets a namespace, based on either the namespace ID or an HCP location.\nReturns NotFound if the namespace doesn't exist.",
        "operationId": "WaypointService_GetNamespace",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.GetNamespaceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      },
      "post": {
        "summary": "CreateNamespaces creates an HCP Waypoint namespaces.",
        "operationId": "WaypointService_CreateNamespace",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.CreateNamespaceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.CreateNamespaceBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{location.organization_id}/projects/{location.project_id}/namespaces/{namespace.id}": {
      "delete": {
        "summary": "DeleteNamespace deletes an HCP Waypoint namespace.",
        "operationId": "WaypointService_DeleteNamespace",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.DeleteNamespaceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/action": {
      "get": {
        "operationId": "WaypointService_GetActionRun",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.GetActionRunResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "action_id",
            "description": "The id of the action config being requested",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "action_name",
            "description": "The name of the action being requested (will only be used if id not provided)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sequence",
            "description": "The sequence number of the action run (required)",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uint64"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      },
      "put": {
        "summary": "Running Actions",
        "operationId": "WaypointService_RunAction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.RunActionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.RunActionBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/action-runs": {
      "get": {
        "summary": "Lists all action runs for the entire namespace, for all configs",
        "operationId": "WaypointService_ListActionRunsByNamespace",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.ListActionRunsByNamespaceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "scope.application.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "scope.application.name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/action-runs/{action_run.id}/status-log": {
      "post": {
        "summary": "Status Logs for Action runs",
        "operationId": "WaypointService_SendStatusLog2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.SendStatusLogResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action_run.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.SendStatusLogBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/action/by-name/{action_name}/runs": {
      "get": {
        "summary": "Lists all action runs for a given config",
        "operationId": "WaypointService_ListActionRuns2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.ListActionRunsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action_name",
            "description": "The name of the action being listed (will only be used if id not provided)",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "action_id",
            "description": "The id of the action config being listed",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "scope.application.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "scope.application.name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/action/{action_id}/runs": {
      "get": {
        "summary": "Lists all action runs for a given config",
        "operationId": "WaypointService_ListActionRuns",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.ListActionRunsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action_id",
            "description": "The id of the action config being listed",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "action_name",
            "description": "The name of the action being listed (will only be used if id not provided)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "scope.application.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "scope.application.name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/action/{action_run.specifier.action.id}/action-runs/{action_run.specifier.sequence}/status-log": {
      "post": {
        "summary": "Status Logs for Action runs",
        "operationId": "WaypointService_SendStatusLog",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.SendStatusLogResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action_run.specifier.action.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "action_run.specifier.sequence",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.SendStatusLogBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/actionconfig": {
      "get": {
        "summary": "Config Endpoints",
        "operationId": "WaypointService_GetActionConfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.GetActionConfigResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "action_id",
            "description": "The id of the action config being requested",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "action_name",
            "description": "The name of the action being requested (will only be used if id not provided)",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      },
      "delete": {
        "operationId": "WaypointService_DeleteActionConfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "action_id",
            "description": "The id of the action config being deleted",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "action_name",
            "description": "The name of the action being deleted (will only be used if id not provided)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "force",
            "description": "Force, if set to true, will auto-unassign the action from all apps and templates",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      },
      "post": {
        "operationId": "WaypointService_CreateActionConfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.CreateActionConfigResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.CreateActionConfigBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      },
      "patch": {
        "operationId": "WaypointService_UpdateActionConfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.UpdateActionConfigResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.UpdateActionConfigBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/actionconfigs": {
      "get": {
        "operationId": "WaypointService_ListActionConfigs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.ListActionConfigResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/add-on": {
      "post": {
        "summary": "CreateAddOn adds an Add-on to a project from an Add-on definition",
        "operationId": "WaypointService_CreateAddOn",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.CreateAddOnResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.CreateAddOnBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/add-on-definition": {
      "post": {
        "summary": "CreateAddOnDefinition creates a new Add-on definition",
        "operationId": "WaypointService_CreateAddOnDefinition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.CreateAddOnDefinitionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.CreateAddOnDefinitionBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/add-on-definition/by-name/{add_on_definition.name}": {
      "get": {
        "summary": "GetAddOnDefinition returns an Add-on definition, referenced by name or ID",
        "operationId": "WaypointService_GetAddOnDefinition2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.GetAddOnDefinitionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "add_on_definition.name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "add_on_definition.id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      },
      "delete": {
        "summary": "DeleteAddOnDefinition deletes an existing Add-on definition",
        "operationId": "WaypointService_DeleteAddOnDefinition2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.DeleteAddOnDefinitionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "add_on_definition.name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "add_on_definition.id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/add-on-definition/by-name/{existing_add_on_definition.name}": {
      "put": {
        "summary": "UpdateAddOnDefinition updates an existing Add-on definition",
        "operationId": "WaypointService_UpdateAddOnDefinition2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.UpdateAddOnDefinitionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "existing_add_on_definition.name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.UpdateAddOnDefinitionBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      },
      "patch": {
        "summary": "UpdateAddOnDefinition updates an existing Add-on definition",
        "operationId": "WaypointService_UpdateAddOnDefinition4",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.UpdateAddOnDefinitionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "existing_add_on_definition.name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.UpdateAddOnDefinitionBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/add-on-definition/{add_on_definition.id}": {
      "get": {
        "summary": "GetAddOnDefinition returns an Add-on definition, referenced by name or ID",
        "operationId": "WaypointService_GetAddOnDefinition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.GetAddOnDefinitionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "add_on_definition.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "add_on_definition.name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      },
      "delete": {
        "summary": "DeleteAddOnDefinition deletes an existing Add-on definition",
        "operationId": "WaypointService_DeleteAddOnDefinition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.DeleteAddOnDefinitionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "add_on_definition.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "add_on_definition.name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/add-on-definition/{existing_add_on_definition.id}": {
      "put": {
        "summary": "UpdateAddOnDefinition updates an existing Add-on definition",
        "operationId": "WaypointService_UpdateAddOnDefinition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.UpdateAddOnDefinitionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "existing_add_on_definition.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.UpdateAddOnDefinitionBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      },
      "patch": {
        "summary": "UpdateAddOnDefinition updates an existing Add-on definition",
        "operationId": "WaypointService_UpdateAddOnDefinition3",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.UpdateAddOnDefinitionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "existing_add_on_definition.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.UpdateAddOnDefinitionBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/add-on-definitions": {
      "get": {
        "summary": "ListAddOnDefinitions returns all existing Add-on definitions",
        "operationId": "WaypointService_ListAddOnDefinitions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.ListAddOnDefinitionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "with_total_count",
            "description": "If set to false or not provided, response will not include a total_count value",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/add-on/by-name/{add_on.name}": {
      "get": {
        "summary": "GetAddOn returns an existing Add-on",
        "operationId": "WaypointService_GetAddOn2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.GetAddOnResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "add_on.name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "add_on.id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      },
      "delete": {
        "summary": "DestroyAddOn destroys an existing Add-on",
        "operationId": "WaypointService_DestroyAddOn2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.DestroyAddOnResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "add_on.name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "add_on.id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/add-on/by-name/{add_on.name}/workspace": {
      "get": {
        "summary": "Used to retrieve the upgrade status of a workspace given the workspace id or workspace name.",
        "operationId": "WaypointService_GetTFWorkspaceInfo3",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.GetTFWorkspaceInfoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "add_on.name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "application.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "application.name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "add_on.id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/add-on/{add_on.id}": {
      "get": {
        "summary": "GetAddOn returns an existing Add-on",
        "operationId": "WaypointService_GetAddOn",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.GetAddOnResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "add_on.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "add_on.name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      },
      "delete": {
        "summary": "DestroyAddOn destroys an existing Add-on",
        "operationId": "WaypointService_DestroyAddOn",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.DestroyAddOnResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "add_on.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "add_on.name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/add-on/{add_on.id}/workspace": {
      "get": {
        "summary": "Used to retrieve the upgrade status of a workspace given the workspace id or workspace name.",
        "operationId": "WaypointService_GetTFWorkspaceInfo4",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.GetTFWorkspaceInfoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "add_on.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "application.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "application.name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "add_on.name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/add-on/{existing_add_on.id}": {
      "put": {
        "summary": "UpdateAddOn updates an existing Add-on",
        "operationId": "WaypointService_UpdateAddOn",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.UpdateAddOnResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "existing_add_on.id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.UpdateAddOnBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/add-ons": {
      "get": {
        "summary": "ListAddOns returns all existing Add-ons",
        "operationId": "WaypointService_ListAddOns",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.ListAddOnsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "application.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "application.name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "with_total_count",
            "description": "If set to false or not provided, response will not include a total_count value",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/agent/group": {
      "get": {
        "summary": "ListAgentGroups returns the Agent groups defined on the HCP Project.",
        "operationId": "WaypointService_ListAgentGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.ListAgentGroupsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      },
      "post": {
        "summary": "CreateAgentGroup creates a new Agent group.",
        "operationId": "WaypointService_CreateAgentGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.CreateAgentGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.CreateAgentGroupBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/agent/group/{name}": {
      "get": {
        "summary": "GetAgentGroup returns the information about the specified group.",
        "operationId": "WaypointService_GetAgentGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.GetAgentGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "description": "The name of the group to retrieve the information about",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      },
      "delete": {
        "summary": "DeleteAgentGroup deletes an agent group.",
        "operationId": "WaypointService_DeleteAgentGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.DeleteAgentGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "description": "The name of the group to delete",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "WaypointService"
        ]
      },
      "patch": {
        "summary": "UpdateAgentGroup updates an agent group.",
        "operationId": "WaypointService_UpdateAgentGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.UpdateAgentGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "description": "The name of the group to update\nWe don’t allow groups to be renamed so this is a stable identifier.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.UpdateAgentGroupBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/agent/group:validate": {
      "post": {
        "summary": "ValidateAgentGroups is called by the agent on startup to check that the groups\nit is listening on are valid groups.",
        "operationId": "WaypointService_ValidateAgentGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.ValidateAgentGroupsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.ValidateAgentGroupsBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/agent/operation:endAction": {
      "post": {
        "summary": "EndingAction is run by the agent after it's operation finishes and it called StartingAction\nbefore running the operation. It includes the action run id that was retrieved from StartingAction.\nThis also includes the ability to send a final status log message that will be included\nfor the action run.",
        "operationId": "WaypointService_EndingAction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.EndingActionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.EndingActionBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/agent/operation:queue": {
      "post": {
        "summary": "Used by any code that wishes to have an agent execute an operation, this places a new operation\ninto the queue for a specific group. A future caller of RetrieveAgentOperation will then\nreturn that operation.",
        "operationId": "WaypointService_QueueAgentOperation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.QueueAgentOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.QueueAgentOperationBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/agent/operation:retrieve": {
      "post": {
        "summary": "Used by the Agent itself, RetrieveAgentOperation returns any available operations from the specified\ngroups. The Agent polls on this endpoint every 60 seconds by default.",
        "operationId": "WaypointService_RetrieveAgentOperation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.RetrieveAgentOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.RetrieveAgentOperationBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/agent/operation:startAction": {
      "post": {
        "summary": "StartingAction is run by the agent after retrieving an operation and seeing an action_config_id\nspecified on the operation. This allows for agents to integrate with actions closely.",
        "operationId": "WaypointService_StartingAction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.StartingActionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.WaypointService.StartingActionBody"
            }
          }
        ],
        "tags": [
          "WaypointService"
        ]
      }
    },
    "/waypoint/2024-11-22/organizations/{namespace.location.organization_id}/projects/{namespace.location.project_id}/application-templates": {
      "get": {
        "summary": "ListApplicationTemplates returns a list of all application templates known.",
        "operationId": "WaypointService_ListApplicationTemplates",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.waypoint.v20241122.ListApplicationTemplatesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "namespace.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
[...]
