{
  "swagger": "2.0",
  "info": {
    "title": "HashiCorp Cloud Platform Vagrant Box Registry",
    "description": "API for managing Vagrant boxes.",
    "version": "2022-09-30"
  },
  "tags": [
    {
      "name": "RegistryService"
    }
  ],
  "host": "api.cloud.hashicorp.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/vagrant/2022-09-30/registries": {
      "get": {
        "summary": "ListRegistries lists available Vagrant Box Registries in a particular\nProject.",
        "operationId": "ListRegistries",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ListRegistriesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ]
      },
      "post": {
        "summary": "CreateRegistry creates a Vagrant Box Registry at the Location\nspecified.",
        "operationId": "CreateRegistry",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.CreateRegistryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "data",
            "description": "Details of the Registry to create.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Registry"
            }
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}": {
      "get": {
        "summary": "ReadRegistry reads a Vagrant Box Registry by its name.",
        "operationId": "ReadRegistry",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ReadRegistryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The name of the Registry to look up.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "expanded",
            "description": "Expand the registry child elements.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "RegistryService"
        ],
        "security": []
      },
      "delete": {
        "summary": "DeleteRegistry deletes a Vagrant Box Registry at the Location\nspecified.",
        "description": "Deletion removes the Registry and all of its Box, Version, and\nProvider data, including any Hosted Providers and their\nrespective data. This operation is permanent and cannot be\nundone.",
        "operationId": "DeleteRegistry",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.DeleteRegistryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The name of the Registry to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ]
      },
      "put": {
        "summary": "UpdateRegistry updates the details of a Vagrant Box Registry.",
        "operationId": "UpdateRegistry",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.UpdateRegistryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The name of the Registry to update.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "description": "The updated Registry details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Registry"
            }
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/activate": {
      "put": {
        "summary": "ActivateRegistry activates a Vagrant Box Registry at the\nLocation specified. The Registry must already exist and must be\ncurrently disabled.",
        "description": "Activation will re-enable a Registry, allowing requests and\naccruing charges as normal.",
        "operationId": "ActivateRegistry",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ActivateRegistryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The name of the Registry to activate.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/box/{box}": {
      "get": {
        "summary": "ReadBox reads a Vagrant Box.",
        "operationId": "ReadBox",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ReadBoxResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box to look up. As an example, this field would\nrepresent the \"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "expanded",
            "description": "Expand the box child elements.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "RegistryService"
        ],
        "security": []
      },
      "delete": {
        "summary": "DeleteBox deletes a Vagrant Box.",
        "description": "Deleting a Box removes all its Versions and Providers as\nwell. This operation cannot be undone.",
        "operationId": "DeleteBox",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.DeleteBoxResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box to delete. As an example, this field would\nrepresent the \"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ]
      },
      "put": {
        "summary": "UpdateBox updates the details of a Vagrant Box.",
        "description": "Note that this only updates details about the Box itself. To\nwork with a Box's Versions or Providers, use those respective\nservices.",
        "operationId": "UpdateBox",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.UpdateBoxResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box to update. As an example, this field would\nrepresent the \"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "description": "Details of the Box to update.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Box"
            }
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/box/{box}/version/{version}": {
      "get": {
        "summary": "ReadVersion reads a Box Version.",
        "operationId": "ReadVersion",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ReadVersionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the version to look up.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "expanded",
            "description": "Expand the version child elements.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "RegistryService"
        ],
        "security": []
      },
      "delete": {
        "summary": "DeleteVersion deletes a Box Version.",
        "description": "Deleting a Box Version removes all its Providers as well. This\noperation cannot be undone.",
        "operationId": "DeleteVersion",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.DeleteVersionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ]
      },
      "put": {
        "summary": "UpdateVersion updates a Box Version.",
        "operationId": "UpdateVersion",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.UpdateVersionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the version to update.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "description": "Details of the Version to update.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Version"
            }
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/box/{box}/version/{version}/provider/{provider}": {
      "get": {
        "summary": "ReadProvider fetches a Provider for the specified Version.",
        "operationId": "ReadProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ReadProviderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version for the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "provider",
            "description": "The name of the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "expanded",
            "description": "Expand the provider child elements.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "RegistryService"
        ],
        "security": []
      },
      "delete": {
        "summary": "DeleteProvider deletes a Provider. Note that this deletes any data\nassociated with a Hosted Provider, so use with care.",
        "operationId": "DeleteProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.DeleteProviderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version for the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "provider",
            "description": "The name of the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ]
      },
      "put": {
        "summary": "UpdateProvider updates details about a specified Provider.",
        "description": "Note that you don't use this to upload data to Hosted Providers, to do\nthat, use the Upload method.",
        "operationId": "UpdateProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.UpdateProviderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version for the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "provider",
            "description": "The name of the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "description": "Details of the Provider to update.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Provider"
            }
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/box/{box}/version/{version}/provider/{provider}/architecture/{architecture}": {
      "get": {
        "summary": "ReadArchitecture fetches a Architecture for the specified Provider.",
        "operationId": "ReadArchitecture",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ReadArchitectureResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version for the Architecture.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "provider",
            "description": "The name of the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "architecture",
            "description": "The name of the Architecture.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ],
        "security": []
      },
      "delete": {
        "summary": "DeleteArchitecture deletes a Architecture. Note that this deletes any box data\nassociated with an Architecture, so use with care.",
        "operationId": "DeleteArchitecture",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.DeleteArchitectureResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version for the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "provider",
            "description": "The name of the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "architecture",
            "description": "The name of the Architecture.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ]
      },
      "put": {
        "summary": "UpdateArchitecture updates details about a specified Architecture.",
        "operationId": "UpdateArchitecture",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.UpdateArchitectureResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version for the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "provider",
            "description": "The name of the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "architecture",
            "description": "The type of the Architecture.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "description": "Details of the Architecture to update.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Architecture"
            }
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/box/{box}/version/{version}/provider/{provider}/architecture/{architecture}/direct/complete/{object}": {
      "put": {
        "summary": "CompleteDirectUploadBox is a callback endpoint used to signal than a direct\nto backend storage upload of Boxfile is finished.",
        "operationId": "CompleteDirectUploadBox",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.CompleteDirectUploadBoxResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version for the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "provider",
            "description": "The name of the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "architecture",
            "description": "The name of the Architecture.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "description": "Object identifier.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/box/{box}/version/{version}/provider/{provider}/architecture/{architecture}/direct/upload": {
      "get": {
        "summary": "DirectUploadBox initiates the upload of a single hosted Boxfile directly to\nthe backend storage. The service will return details that can be used to upload\nthe data over HTTP.",
        "operationId": "DirectUploadBox",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.DirectUploadBoxResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version for the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "provider",
            "description": "The name of the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "architecture",
            "description": "The type of the Architecture.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/box/{box}/version/{version}/provider/{provider}/architecture/{architecture}/download": {
      "get": {
        "summary": "Download initiates a Boxfile download.",
        "description": "For Archivist-hosted Boxfile, this is an atomic call that prepares the\nProvider for download from the object storage. For externally-hosted\nBoxfiles, this is simply a pass-through to the external download data\nsupplied in the record.",
        "operationId": "DownloadBox",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.DownloadBoxResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version for the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "provider",
            "description": "The name of the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "architecture",
            "description": "The type of the Architecture.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ],
        "security": []
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/box/{box}/version/{version}/provider/{provider}/architecture/{architecture}/upload": {
      "get": {
        "summary": "UploadBox initiates the upload of a single hosted Boxfile. The service\nwill return details that can be used to upload the data over HTTP.",
        "description": "Overwrite is permitted; old/existing data for a particular Architecture will\nbe replaced with data from a new successful upload for that same\nArchitecture.",
        "operationId": "UploadBox",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.UploadBoxResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version for the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "provider",
            "description": "The name of the Provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "architecture",
            "description": "The type of the Architecture.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/box/{box}/version/{version}/provider/{provider}/architectures": {
      "get": {
        "summary": "ListArchitectures lists all Architectures within a Provider.",
        "operationId": "ListArchitectures",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ListArchitecturesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "provider",
            "description": "The name of the Provider to look up Architectures in.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ],
        "security": []
      },
      "post": {
        "summary": "CreateArchitecture creates a Architecture in the specified Version.",
        "operationId": "CreateArchitecture",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.CreateArchitectureResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "provider",
            "description": "The name of the Provider to create the Architecture in.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "description": "Details of the Architecture to create.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Architecture"
            }
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/box/{box}/version/{version}/providers": {
      "get": {
        "summary": "ListProviders lists all Providers within a Version.",
        "operationId": "ListProviders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ListProvidersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version to look up Providers in.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "expanded",
            "description": "Expand the provider child elements.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "RegistryService"
        ],
        "security": []
      },
      "post": {
        "summary": "CreateProvider creates a Provider in the specified Version.",
        "operationId": "CreateProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.CreateProviderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version to create the Provider in.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "description": "Details of the Provider to create.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Provider"
            }
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/box/{box}/version/{version}/release": {
      "put": {
        "summary": "Release releases the specified Version. The Version must not\nalready be released.",
        "operationId": "ReleaseVersion",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ReleaseVersionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version to release.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/box/{box}/version/{version}/revoke": {
      "put": {
        "summary": "Revoke revokes the specified Version. The Version must be actively\nreleased.",
        "operationId": "RevokeVersion",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.RevokeVersionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The name of the Version to revoke.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/box/{box}/versions": {
      "get": {
        "summary": "ListVersion lists all of the Versions within a particular Box.",
        "operationId": "ListVersions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ListVersionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "expanded",
            "description": "Expand the version child elements.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "RegistryService"
        ],
        "security": []
      },
      "post": {
        "summary": "CreateVersion creates a new Box Version.",
        "operationId": "CreateVersion",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.CreateVersionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "box",
            "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "description": "Details of the Version to create.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Version"
            }
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/boxes": {
      "get": {
        "summary": "ListBoxes lists all of the Boxes within a particular Registry.",
        "operationId": "ListBoxes",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ListBoxesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The name of the Registry to list boxes in.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "expanded",
            "description": "Expand the box child elements.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "RegistryService"
        ],
        "security": []
      },
      "post": {
        "summary": "CreateBox creates a new Vagrant Box.",
        "operationId": "CreateBox",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.CreateBoxResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The Registry segment of the Box. As an example, this field would represent\nthe \"hashicorp\" in \"hashicorp/vagrant\".",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "description": "Details of the Box to create.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Box"
            }
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/registry/{registry}/deactivate": {
      "put": {
        "summary": "DeactivateRegistry deactivates a Vagrant Box Registry at the\nLocation specified. The Registry must already exist and must be\ncurrently enabled.",
        "description": "Deactivation will disable a Registry but not delete its data.\nAll requests to the Registry will return not-found errors. This\ncan be used to temporarily block access to a Registry to prevent\naccess-related charges to the Registry.",
        "operationId": "DeactivateRegistry",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.DeactivateRegistryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "registry",
            "description": "The name of the Registry to deactivate.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "RegistryService"
        ]
      }
    },
    "/vagrant/2022-09-30/search": {
      "get": {
        "summary": "Search returns a list of available boxes based on search parameters",
        "operationId": "Search",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.SearchIndexResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "description": "The terms to search by.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "providers",
            "description": "Provider to filter by, if provided.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort.order_by",
            "description": "Specifies the list of per field ordering that should be used for sorting. \nThe order matters as rows are sorted in order by fields and when the field\nmatches, the next field is used to tie break the ordering.\nThe per field default ordering is ascending.  \n\nThe fields should be immutabile, unique, and orderable. If the field is\nnot unique, more than one sort fields should be passed.\n\nExample: oder_by=name,age desc,created_at asc\nIn that case, 'name' will get the default 'ascending' order.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "architectures",
            "description": "Architecture to filter by, if provided.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "RegistryService"
        ],
        "security": []
      }
    }
  },
  "definitions": {
    "google.protobuf.Any": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        }
      },
      "additionalProperties": {},
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := \u0026pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "google.rpc.Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of\n[google.rpc.Code][google.rpc.Code]."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\n[google.rpc.Status.details][google.rpc.Status.details] field, or localized\nby the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/google.protobuf.Any"
          },
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "hashicorp.cloud.common.PaginationRequest": {
      "type": "object",
      "properties": {
        "page_size": {
          "type": "integer",
          "format": "int64",
          "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted."
        },
        "next_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set."
        },
        "previous_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set."
        }
      },
      "description": "PaginationRequest are the parameters for a paginated list request."
    },
    "hashicorp.cloud.common.PaginationResponse": {
      "type": "object",
      "properties": {
        "next_page_token": {
          "type": "string",
          "description": "This token allows you to get the next page of results for list requests.\nIf the number of results is larger than `page_size`, use the\n`next_page_token` as a value for the query parameter `next_page_token` in\nthe next request. The value will become empty when there are no more pages."
        },
        "previous_page_token": {
          "type": "string",
          "description": "This token allows you to get the previous page of results for list\nrequests. If the number of results is larger than `page_size`, use the\n`previous_page_token` as a value for the query parameter\n`previous_page_token` in the next request. The value will become empty when\nthere are no more pages."
        }
      },
      "description": "PaginationResponse is the response holding the page tokens for a paginated\nlist response."
    },
    "hashicorp.cloud.common.SortingRequest": {
      "type": "object",
      "properties": {
        "order_by": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the list of per field ordering that should be used for sorting. \nThe order matters as rows are sorted in order by fields and when the field\nmatches, the next field is used to tie break the ordering.\nThe per field default ordering is ascending.  \n\nThe fields should be immutabile, unique, and orderable. If the field is\nnot unique, more than one sort fields should be passed.\n\nExample: oder_by=name,age desc,created_at asc\nIn that case, 'name' will get the default 'ascending' order."
        }
      },
      "description": "SortingRequest are the parameters for a sorted list request."
    },
    "hashicorp.cloud.location.Link": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "type is the unique type of the resource. Each service publishes a\nunique set of types. The type value is recommended to be formatted\nin \"\u003corg\u003e.\u003ctype\u003e\" such as \"hashicorp.hvn\". This is to prevent conflicts\nin the future, but any string value will work."
        },
        "id": {
          "type": "string",
          "description": "id is the identifier for this resource."
        },
        "uuid": {
          "type": "string",
          "description": "uuid is the unique UUID for this resource."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the location where this resource is."
        },
        "description": {
          "type": "string",
          "description": "description is a human-friendly description for this link. This is\nused primarily for informational purposes such as error messages."
        }
      },
      "description": "Link is used to uniquely reference any resource within HashiCorp Cloud.\nThis can be conceptually considered a \"foreign key\"."
    },
    "hashicorp.cloud.location.Location": {
      "type": "object",
      "properties": {
        "organization_id": {
          "type": "string",
          "description": "organization_id is the id of the organization."
        },
        "project_id": {
          "type": "string",
          "description": "project_id is the projects id."
        },
        "region": {
          "$ref": "#/definitions/hashicorp.cloud.location.Region",
          "description": "region is the region that the resource is located in. It is\noptional if the object being referenced is a global object."
        }
      },
      "description": "Location represents a target for an operation in HCP."
    },
    "hashicorp.cloud.location.Region": {
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "title": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")"
        },
        "region": {
          "type": "string",
          "title": "region is the cloud region (\"us-west1\", \"us-east1\")"
        }
      },
      "description": "Region identifies a Cloud data-plane region."
    },
    "hashicorp.cloud.operation.Operation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "id is the unique ID for this operation used in other RPC calls.\nThis ID is only guaranteed to be unique within the region that\nthe operation is running in."
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation.State",
          "description": "state is the current state of the operation. This is a simple tri-state:\nPENDING means the operation is created but not yet started, RUNNING means\nthe operation is currently running (though it may be very long-running),\nand DONE means the operation is complete whether successfully or not."
        },
        "error": {
          "$ref": "#/definitions/google.rpc.Status",
          "description": "error is the error that occurred in the operation."
        },
        "response": {
          "$ref": "#/definitions/google.protobuf.Any",
          "description": "response is the result of the operation. See the documentation for the API\ncall creating the operation to understand what the value of this is."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "Location is location of the resource that this operation belongs to."
        },
        "link": {
          "$ref": "#/definitions/hashicorp.cloud.location.Link",
          "description": "Link is the resource link the operation is associated with."
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "CreatedAt is the timestamp of when the operation was first created."
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "UpdatedAt is the timestamp of when the operation was last updated."
        }
      },
      "description": "Operation represents a single operation."
    },
    "hashicorp.cloud.operation.Operation.State": {
      "type": "string",
      "enum": [
        "PENDING",
        "RUNNING",
        "DONE",
        "QUEUED"
      ],
      "default": "PENDING",
      "description": "State is one of the states that an Operation can be in.\n\nThe states are purposely coarse grained to make it easy to understand\nthe operation state machine: pending =\u003e running =\u003e done. Or pending =\u003e\nqueued =\u003e running =\u003e done. No other state transitions are possible.\nSuccess/failure can be determined based on the result oneof."
    },
    "hashicorp.cloud.vagrant_20220930.ActivateRegistryResponse": {
      "type": "object"
    },
    "hashicorp.cloud.vagrant_20220930.Architecture": {
      "type": "object",
      "properties": {
        "architecture_type": {
          "type": "string",
          "description": "The architecture type that is supported."
        },
        "default": {
          "type": "boolean",
          "title": "Whether or not this is the default Architecture for the Provider"
        },
        "box_data": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.BoxData",
          "title": "Data for the box, including the download_url and checksum information"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date the record was created.",
          "readOnly": true
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date that the record was last updated.",
          "readOnly": true
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.Box": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name segment of the Box. As an example, this field would represent the\n\"vagrant\" in \"hashicorp/vagrant\". Should be unique within the Registry.\nThis field should only be set when creating the box."
        },
        "description": {
          "type": "string",
          "description": "A long-form description of the box."
        },
        "short_description": {
          "type": "string",
          "description": "A short-form description of the box. Limited to 100 characters."
        },
        "is_private": {
          "type": "boolean",
          "description": "Whether or not the Box is private."
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date the record was created.",
          "readOnly": true
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date that the record was last updated.",
          "readOnly": true
        },
        "summary": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.BoxSummary",
          "description": "Summary details about this box.",
          "readOnly": true
        },
        "downloads": {
          "type": "string",
          "format": "int64",
          "description": "The number of times this box has been downloaded.",
          "readOnly": true
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.BoxState",
          "description": "The state of the box.",
          "readOnly": true
        },
        "description_html": {
          "type": "string",
          "description": "The HTML rendered description.",
          "readOnly": true
        },
        "versions": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Version"
          },
          "description": "Versions of box (if expanded).",
          "readOnly": true
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.BoxData": {
      "type": "object",
      "properties": {
        "download_url": {
          "type": "string",
          "description": "The download URL for this box data."
        },
        "checksum": {
          "type": "string",
          "description": "The checksum for the box data."
        },
        "checksum_type": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ChecksumType",
          "description": "The algorithm type for the provided checksum."
        },
        "size": {
          "type": "string",
          "format": "uint64",
          "description": "The size of the box file, if available.",
          "readOnly": true
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date the record was created.",
          "readOnly": true
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date that the record was last updated.",
          "readOnly": true
        }
      },
      "description": "BoxData is the data around the box to be downloaded, including the download\nURL, checksum information, and size if available."
    },
    "hashicorp.cloud.vagrant_20220930.BoxState": {
      "type": "string",
      "enum": [
        "INACTIVE_OR_UNSPECIFIED",
        "NO_VERSIONS",
        "NO_RELEASED_VERSIONS",
        "NO_PROVIDERS",
        "AVAILABLE"
      ],
      "default": "INACTIVE_OR_UNSPECIFIED",
      "description": "BoxState is an enumeration of possible Box states."
    },
    "hashicorp.cloud.vagrant_20220930.BoxSummary": {
      "type": "object",
      "properties": {
        "versions_count": {
          "type": "string",
          "format": "int64",
          "description": "Total number of versions available on this box."
        },
        "provider_names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "List of providers taht have versions available for this box"
        },
        "latest_released_at": {
          "type": "string",
          "format": "date-time",
          "title": "The date the most recent version was released"
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.ChecksumType": {
      "type": "string",
      "enum": [
        "UNSET",
        "NONE",
        "MD5",
        "SHA1",
        "SHA256",
        "SHA384",
        "SHA512"
      ],
      "default": "UNSET",
      "description": "ChecksumType describe supported checksum types."
    },
    "hashicorp.cloud.vagrant_20220930.CompleteDirectUploadBoxResponse": {
      "type": "object"
    },
    "hashicorp.cloud.vagrant_20220930.CreateArchitectureResponse": {
      "type": "object",
      "properties": {
        "architecture": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Architecture",
          "description": "The created Architecture."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.CreateBoxResponse": {
      "type": "object",
      "properties": {
        "box": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Box",
          "description": "The created Box."
        },
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "The operation associated with the box creation. This can be used to\nmonitor the progress of background tasks related to the creation of this\nbox."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.CreateProviderResponse": {
      "type": "object",
      "properties": {
        "provider": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Provider",
          "title": "The created Provider"
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.CreateRegistryResponse": {
      "type": "object",
      "properties": {
        "registry": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Registry",
          "description": "The created Registry."
        },
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "The operation associated with the registry creation. This can be used to\nmonitor the progress of background tasks related to the creation of this\nregistry."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.CreateVersionResponse": {
      "type": "object",
      "properties": {
        "version": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Version",
          "description": "The created Version."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.DeactivateRegistryResponse": {
      "type": "object"
    },
    "hashicorp.cloud.vagrant_20220930.DeleteArchitectureResponse": {
      "type": "object"
    },
    "hashicorp.cloud.vagrant_20220930.DeleteBoxResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "The operation associated with the box deletion. This can be used to\nmonitor the progress of background tasks related to the deletion of this\nbox."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.DeleteProviderResponse": {
      "type": "object"
    },
    "hashicorp.cloud.vagrant_20220930.DeleteRegistryResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "The operation associated with the registry deletion. This can be used to\nmonitor the progress of background tasks related to the deletion of this\nregistry."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.DeleteVersionResponse": {
      "type": "object"
    },
    "hashicorp.cloud.vagrant_20220930.DirectUploadBoxResponse": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "A pre-signed URL to upload the Architecture to."
        },
        "callback": {
          "type": "string",
          "description": "A callback URL to confirm upload completion."
        },
        "object": {
          "type": "string",
          "description": "Upload identifier used when completing the upload."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.DownloadBoxResponse": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL to download the Architecture data from."
        },
        "checksum": {
          "type": "string",
          "description": "(Optional) checksum data to validate the download with."
        },
        "checksum_type": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ChecksumType",
          "description": "The algorithm type for the provided checksum."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.Index": {
      "type": "object",
      "properties": {
        "box_name": {
          "type": "string",
          "description": "The name segment of the box."
        },
        "registry_name": {
          "type": "string",
          "description": "The registry the box belongs to."
        },
        "description": {
          "type": "string",
          "description": "The long-form description of the box."
        },
        "short_description": {
          "type": "string",
          "description": "A short-form description of the box. Limited to 100 characters."
        },
        "is_private": {
          "type": "boolean",
          "description": "Whether or not the box is private."
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date the box was created."
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "title": "The date that the record was last updated"
        },
        "downloads": {
          "type": "string",
          "format": "int64",
          "description": "The number of times this box has been downloaded."
        },
        "current_version_name": {
          "type": "string",
          "title": "The current version of the box"
        },
        "version_updated_at": {
          "type": "string",
          "format": "date-time",
          "title": "The date that the version was updated"
        },
        "version_description": {
          "type": "string",
          "description": "A long-form description of the version."
        },
        "provider_names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Providers supported in this version."
        },
        "architecture_types": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Architectures supported in this version."
        },
        "avatar": {
          "type": "string",
          "title": "Avatar is the url to use as the avatar for the index"
        },
        "vc_url": {
          "type": "string",
          "title": "A vagrant cloud url dynamically generated on each search"
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.ListArchitecturesResponse": {
      "type": "object",
      "properties": {
        "architectures": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Architecture"
          },
          "description": "The returned Architectures."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination tokens for a subsequent request."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.ListBoxesResponse": {
      "type": "object",
      "properties": {
        "boxes": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Box"
          },
          "description": "The returned Box records for this page."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination tokens for a subsequent request."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.ListProvidersResponse": {
      "type": "object",
      "properties": {
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination tokens for a subsequent request."
        },
        "providers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Provider"
          },
          "title": "The returned Providers"
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.ListRegistriesResponse": {
      "type": "object",
      "properties": {
        "registries": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Registry"
          },
          "description": "The returned Registry records for this page."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination tokens for a subsequent request."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.ListVersionsResponse": {
      "type": "object",
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Version"
          },
          "description": "The returned Box records for this page."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination tokens for a subsequent request."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.Provider": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Provider, should be unique within the version."
        },
        "architectures": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Architecture"
          },
          "description": "Architectures of provider (if expanded).",
          "readOnly": true
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date the record was created.",
          "readOnly": true
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date that the record was last updated.",
          "readOnly": true
        },
        "summary": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.ProviderSummary",
          "title": "The ProviderSummary provides quick facts about provider child objects",
          "readOnly": true
        }
      },
      "description": "Provider describes a Provider with its list of architectures and box data."
    },
    "hashicorp.cloud.vagrant_20220930.ProviderSummary": {
      "type": "object",
      "properties": {
        "architectures_count": {
          "type": "string",
          "format": "int64",
          "title": "Count of the architectures attached to this provider"
        },
        "architecture_types": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "List of the architecture types attached to this provider"
        }
      },
      "title": "The ProviderSummary provides quick facts about provider child objects"
    },
    "hashicorp.cloud.vagrant_20220930.ReadArchitectureResponse": {
      "type": "object",
      "properties": {
        "architecture": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Architecture",
          "description": "The returned Architecture."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.ReadBoxResponse": {
      "type": "object",
      "properties": {
        "box": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Box",
          "description": "The requested Box."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.ReadProviderResponse": {
      "type": "object",
      "properties": {
        "provider": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Provider",
          "description": "The returned Provider."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.ReadRegistryResponse": {
      "type": "object",
      "properties": {
        "registry": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Registry",
          "description": "The returned Registry."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.ReadVersionResponse": {
      "type": "object",
      "properties": {
        "version": {
          "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Version",
          "description": "The returned Version."
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.Registry": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Registry. This is a user-settable, globally-unique name,\nand forms the first segment of a box, ie: the \"hashicorp\" in\n\"hashicorp/vagrant\". No two registries can have the same name, regardless\nof the location (org/project) they are in."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "The Location that the Registry resides in."
        },
        "activated": {
          "type": "boolean",
          "description": "Whether or not the Registry is currently activated.",
          "readOnly": true
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date the record was created.",
          "readOnly": true
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date that the record was last updated.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description of the registry, if it exists."
        },
        "description_html": {
          "type": "string",
          "title": "The HTML rendered description",
          "readOnly": true
        },
        "gravatar_url": {
          "type": "string",
          "title": "The gravatar used for this registry",
          "readOnly": true
        },
        "boxes": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/hashicorp.cloud.vagrant_20220930.Box"
          },
          "description": "Boxes of registry (if expanded).",
          "readOnly": true
        }
      }
    },
    "hashicorp.cloud.vagrant_20220930.ReleaseVersionResponse": {
      "type": "object"
    },
[...]
