{
  "swagger": "2.0",
  "info": {
    "title": "HashiCorp Cloud Platform Consul",
    "description": "API for managing Consul clusters.",
    "version": "2020-08-26"
  },
  "host": "api.cloud.hashicorp.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/consul/2020-08-26/organizations/{cluster.location.organization_id}/projects/{cluster.location.project_id}/clusters": {
      "post": {
        "summary": "Create creates a new HCP Consul cluster.",
        "operationId": "Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.CreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "cluster.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.CreateRequest"
            }
          }
        ],
        "tags": [
          "ConsulService"
        ]
      }
    },
    "/consul/2020-08-26/organizations/{cluster.location.organization_id}/projects/{cluster.location.project_id}/clusters/{cluster.id}": {
      "patch": {
        "summary": "Update updates the properties of an existing HCP Consul cluster.",
        "operationId": "Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.UpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "cluster.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster.id",
            "description": "id is ID of the Consul cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "description": "cluster is the complete cluster resource to be updated.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Cluster"
            }
          },
          {
            "name": "update_mask.paths",
            "description": "The set of field mask paths.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "ConsulService"
        ]
      }
    },
    "/consul/2020-08-26/organizations/{location.organization_id}/projects/{location.project_id}/clusters": {
      "get": {
        "summary": "List lists all HCP Consul clusters.",
        "operationId": "List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.ListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ConsulService"
        ]
      }
    },
    "/consul/2020-08-26/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/restore": {
      "post": {
        "summary": "RestoreSnapshot restores a snapshot on a given cluster asynchronously.",
        "operationId": "RestoreSnapshot",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.RestoreSnapshotResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "description": "cluster_id represents the cluster to restore to.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.RestoreSnapshotRequest"
            }
          }
        ],
        "tags": [
          "ConsulService"
        ]
      }
    },
    "/consul/2020-08-26/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{id}": {
      "get": {
        "summary": "Get reads a single HCP Consul cluster.",
        "operationId": "Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.GetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the unique ID of the HCC cluster to get",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ConsulService"
        ]
      },
      "delete": {
        "summary": "Delete deletes the specified HCP Consul cluster.",
        "operationId": "Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.DeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the unique ID of the HCC cluster to get",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ConsulService"
        ]
      }
    },
    "/consul/2020-08-26/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{id}/client-config": {
      "get": {
        "summary": "GetClientConfigFiles returns the config files for a Consul agent running in\nclient mode. The files are base64-encoded.",
        "operationId": "GetClientConfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.GetClientConfigResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the unique ID of the HCP Consul cluster to get",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundle",
            "description": "bundle asks the service to respond with a file bundle as a zip archive.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "ConsulService"
        ]
      }
    },
    "/consul/2020-08-26/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{id}/master-acl-tokens": {
      "post": {
        "summary": "CreateCustomerMasterACLToken creates a new master ACL token for the customer\non the specified cluster. External clients will invoke this endpoint to re-generate\nnew master tokens.",
        "operationId": "CreateCustomerMasterACLToken",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.CreateCustomerMasterACLTokenResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the ID of the cluster to create a token on.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.CreateCustomerMasterACLTokenRequest"
            }
          }
        ],
        "tags": [
          "ConsulService"
        ]
      }
    },
    "/consul/2020-08-26/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{id}/upgrade-versions": {
      "get": {
        "summary": "ListUpgradeVersions returns the versions available for this Consul cluster to upgrade to.",
        "operationId": "ListUpgradeVersions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.ListUpgradeVersionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id of the Consul cluster to list versions for.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ConsulService"
        ]
      }
    },
    "/consul/2020-08-26/organizations/{location.organization_id}/projects/{location.project_id}/snapshots/{snapshot_id}": {
      "get": {
        "summary": "GetSnapshot retrieves an existing snapshot.",
        "operationId": "GetSnapshot",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.GetSnapshotResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "snapshot_id",
            "description": "snapshot_id represents the snapshot to get.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ConsulService"
        ]
      },
      "delete": {
        "summary": "DeleteSnapshot removes the snapshot from storage asynchronously.",
        "operationId": "DeleteSnapshot",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.DeleteSnapshotResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "snapshot_id",
            "description": "snapshot_id represents the snapshot to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ConsulService"
        ]
      }
    },
    "/consul/2020-08-26/organizations/{location.organization_id}/projects/{location.project_id}/versions": {
      "get": {
        "summary": "ListVersions returns the versions available for this org and project.",
        "operationId": "ListVersions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.ListVersionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ConsulService"
        ]
      }
    },
    "/consul/2020-08-26/organizations/{resource.location.organization_id}/projects/{resource.location.project_id}/snapshots": {
      "get": {
        "summary": "ListSnapshots lists snapshots.",
        "operationId": "ListSnapshots",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.ListSnapshotsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "resource.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource.type",
            "description": "type is the unique type of the resource. Each service publishes a\nunique set of types. The type value is recommended to be formatted\nin \"\u003corg\u003e.\u003ctype\u003e\" such as \"hashicorp.hvn\". This is to prevent conflicts\nin the future, but any string value will work.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource.id",
            "description": "id is the identifier for this resource.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource.uuid",
            "description": "uuid is the unique UUID for this resource.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource.description",
            "description": "description is a human-friendly description for this link. This is\nused primarily for informational purposes such as error messages.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ConsulService"
        ]
      },
      "post": {
        "summary": "CreateSnapshot takes a new snapshot asynchronously.",
        "operationId": "CreateSnapshot",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.CreateSnapshotResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "resource.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.CreateSnapshotRequest"
            }
          }
        ],
        "tags": [
          "ConsulService"
        ]
      }
    },
    "/consul/2020-08-26/organizations/{snapshot.location.organization_id}/projects/{snapshot.location.project_id}/snapshots/{snapshot.id}": {
      "patch": {
        "summary": "UpdateSnapshot updates an existing snapshot.",
        "description": "Right now only the name can be changed.",
        "operationId": "UpdateSnapshot",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.UpdateSnapshotResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "snapshot.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "snapshot.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "snapshot.id",
            "description": "id is the snapshot’s ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "description": "snapshot contains the fields to update.\n\nSupported fields: name",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Snapshot"
            }
          },
          {
            "name": "mask.paths",
            "description": "The set of field mask paths.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "ConsulService"
        ]
      }
    },
    "/consul/2020-08-26/versions": {
      "get": {
        "summary": "ListVersions returns the versions available for this org and project.",
        "operationId": "ListVersions2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_20200826.ListVersionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ConsulService"
        ]
      }
    }
  },
  "definitions": {
    "google.protobuf.Any": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type."
        }
      },
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := \u0026pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "google.protobuf.FieldMask": {
      "type": "object",
      "properties": {
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of field mask paths."
        }
      },
      "description": "paths: \"f.a\"\n    paths: \"f.b.d\"\n\nHere `f` represents a field in some root message, `a` and `b`\nfields in the message found in `f`, and `d` a field found in the\nmessage in `f.b`.\n\nField masks are used to specify a subset of fields that should be\nreturned by a get operation or modified by an update operation.\nField masks also have a custom JSON encoding (see below).\n\n# Field Masks in Projections\n\nWhen used in the context of a projection, a response message or\nsub-message is filtered by the API to only contain those fields as\nspecified in the mask. For example, if the mask in the previous\nexample is applied to a response message as follows:\n\n    f {\n      a : 22\n      b {\n        d : 1\n        x : 2\n      }\n      y : 13\n    }\n    z: 8\n\nThe result will not contain specific values for fields x,y and z\n(their value will be set to the default, and omitted in proto text\noutput):\n\n\n    f {\n      a : 22\n      b {\n        d : 1\n      }\n    }\n\nA repeated field is not allowed except at the last position of a\npaths string.\n\nIf a FieldMask object is not present in a get operation, the\noperation applies to all fields (as if a FieldMask of all fields\nhad been specified).\n\nNote that a field mask does not necessarily apply to the\ntop-level response message. In case of a REST get operation, the\nfield mask applies directly to the response, but in case of a REST\nlist operation, the mask instead applies to each individual message\nin the returned resource list. In case of a REST custom method,\nother definitions may be used. Where the mask applies will be\nclearly documented together with its declaration in the API.  In\nany case, the effect on the returned resource/resources is required\nbehavior for APIs.\n\n# Field Masks in Update Operations\n\nA field mask in update operations specifies which fields of the\ntargeted resource are going to be updated. The API is required\nto only change the values of the fields as specified in the mask\nand leave the others untouched. If a resource is passed in to\ndescribe the updated values, the API ignores the values of all\nfields not covered by the mask.\n\nIf a repeated field is specified for an update operation, new values will\nbe appended to the existing repeated field in the target resource. Note that\na repeated field is only allowed in the last position of a `paths` string.\n\nIf a sub-message is specified in the last position of the field mask for an\nupdate operation, then new value will be merged into the existing sub-message\nin the target resource.\n\nFor example, given the target message:\n\n    f {\n      b {\n        d: 1\n        x: 2\n      }\n      c: [1]\n    }\n\nAnd an update message:\n\n    f {\n      b {\n        d: 10\n      }\n      c: [2]\n    }\n\nthen if the field mask is:\n\n paths: [\"f.b\", \"f.c\"]\n\nthen the result will be:\n\n    f {\n      b {\n        d: 10\n        x: 2\n      }\n      c: [1, 2]\n    }\n\nAn implementation may provide options to override this default behavior for\nrepeated and message fields.\n\nIn order to reset a field's value to the default, the field must\nbe in the mask and set to the default value in the provided resource.\nHence, in order to reset all fields of a resource, provide a default\ninstance of the resource and set all fields in the mask, or do\nnot provide a mask as described below.\n\nIf a field mask is not present on update, the operation applies to\nall fields (as if a field mask of all fields has been specified).\nNote that in the presence of schema evolution, this may mean that\nfields the client does not know and has therefore not filled into\nthe request will be reset to their default. If this is unwanted\nbehavior, a specific service may require a client to always specify\na field mask, producing an error if not.\n\nAs with get operations, the location of the resource which\ndescribes the updated values in the request message depends on the\noperation kind. In any case, the effect of the field mask is\nrequired to be honored by the API.\n\n## Considerations for HTTP REST\n\nThe HTTP kind of an update operation which uses a field mask must\nbe set to PATCH instead of PUT in order to satisfy HTTP semantics\n(PUT must only be used for full updates).\n\n# JSON Encoding of Field Masks\n\nIn JSON, a field mask is encoded as a single string where paths are\nseparated by a comma. Fields name in each path are converted\nto/from lower-camel naming conventions.\n\nAs an example, consider the following message declarations:\n\n    message Profile {\n      User user = 1;\n      Photo photo = 2;\n    }\n    message User {\n      string display_name = 1;\n      string address = 2;\n    }\n\nIn proto a field mask for `Profile` may look as such:\n\n    mask {\n      paths: \"user.display_name\"\n      paths: \"photo\"\n    }\n\nIn JSON, the same mask is represented as below:\n\n    {\n      mask: \"user.displayName,photo\"\n    }\n\n# Field Masks and Oneof Fields\n\nField masks treat fields in oneofs just as regular fields. Consider the\nfollowing message:\n\n    message SampleMessage {\n      oneof test_oneof {\n        string name = 4;\n        SubMessage sub_message = 9;\n      }\n    }\n\nThe field mask can be:\n\n    mask {\n      paths: \"name\"\n    }\n\nOr:\n\n    mask {\n      paths: \"sub_message\"\n    }\n\nNote that oneof type names (\"test_oneof\" in this case) cannot be used in\npaths.\n\n## Field Mask Verification\n\nThe implementation of any API method which has a FieldMask type field in the\nrequest should verify the included field paths, and return an\n`INVALID_ARGUMENT` error if any path is unmappable.",
      "title": "`FieldMask` represents a set of symbolic field paths, for example:"
    },
    "google.rpc.Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code]."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\n[google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/google.protobuf.Any"
          },
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "grpc.gateway.runtime.Error": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/google.protobuf.Any"
          }
        }
      }
    },
    "hashicorp.cloud.common.PaginationRequest": {
      "type": "object",
      "properties": {
        "page_size": {
          "type": "integer",
          "format": "int64",
          "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted."
        },
        "next_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set."
        },
        "previous_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set."
        }
      },
      "description": "PaginationRequest are the parameters for a paginated list request."
    },
    "hashicorp.cloud.common.PaginationResponse": {
      "type": "object",
      "properties": {
        "next_page_token": {
          "type": "string",
          "description": "This token allows you to get the next page of results for list requests.\nIf the number of results is larger than `page_size`, use the\n`next_page_token` as a value for the query parameter `next_page_token` in\nthe next request. The value will become empty when there are no more pages."
        },
        "previous_page_token": {
          "type": "string",
          "description": "This token allows you to get the previous page of results for list\nrequests. If the number of results is larger than `page_size`, use the\n`previous_page_token` as a value for the query parameter\n`previous_page_token` in the next request. The value will become empty when\nthere are no more pages."
        }
      },
      "description": "PaginationResponse is the response holding the page tokens for a paginated\nlist response."
    },
    "hashicorp.cloud.consul_20200826.ACLToken": {
      "type": "object",
      "properties": {
        "accessor_id": {
          "type": "string",
          "description": "accessor_id is the Consul Accessor ID for this ACL token."
        },
        "secret_id": {
          "type": "string",
          "description": "secret_id is the Consul Secret ID for this ACL Token, it is sensitive."
        }
      },
      "description": "ACLToken is represents a single ACL token for a cluster."
    },
    "hashicorp.cloud.consul_20200826.CapacityConfig": {
      "type": "object",
      "properties": {
        "num_servers": {
          "type": "integer",
          "format": "int32",
          "description": "num_servers is the number of nodes this Consul cluster should have."
        }
      },
      "description": "CapacityConfig configures capacity settings like number of nodes and vm sizes."
    },
    "hashicorp.cloud.consul_20200826.Cluster": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "id is ID of the Consul cluster."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the location of the cluster."
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Cluster.State",
          "description": "state is the current state of the cluster.\nOutput only.",
          "readOnly": true
        },
        "config": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.ClusterConfig",
          "description": "config holds the configuration of the cluster."
        },
        "dns_names": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Cluster.DNSNames",
          "description": "dns_names holds the cluster's public and private DNS names.\nOutput only.",
          "readOnly": true
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "created_at is the timestamp of when the cluster was first created.\nOutput only.",
          "readOnly": true
        },
        "consul_version": {
          "type": "string",
          "description": "consul_version is the current Consul version the server nodes are running."
        }
      },
      "description": "Cluster represents a single Consul cluster."
    },
    "hashicorp.cloud.consul_20200826.Cluster.DNSNames": {
      "type": "object",
      "properties": {
        "public": {
          "type": "string",
          "description": "public is the DNS name pointing to the cluster's public IP addresses."
        },
        "private": {
          "type": "string",
          "description": "private is the DNS name pointing to the cluster's private IP addresses."
        }
      },
      "description": "DNSNames holds all of the cluster's DNS names."
    },
    "hashicorp.cloud.consul_20200826.Cluster.State": {
      "type": "string",
      "enum": [
        "UNSET",
        "PENDING",
        "CREATING",
        "RUNNING",
        "FAILED",
        "UPDATING",
        "RESTORING",
        "DELETING",
        "DELETED"
      ],
      "default": "UNSET",
      "description": "State is the state of the Consul cluster. Note that this state\nrepresents the abstract Consul cluster itself, not necessarily whether\nConsul cluster is currently available or not.\n\n - UNSET: UNSET is a sentinel zero value so that an uninitialized value can be\ndetected.\n - PENDING: PENDING is the state the cluster is in while it is waiting to be created.\n - CREATING: CREATING is the state the cluster is in while it is being provisioned for\nthe first time.\n - RUNNING: RUNNING is the steady state while the cluster is running.\n - FAILED: FAILED is a failure state in which the cluster is unavailable and may\nrequired an operator restore action to recover.\n - UPDATING: UPDATING is the state the cluster is in while undergoing a version\nupdate.\n - RESTORING: RESTORING is the state the cluster is in while restoring from a snapshot.\n - DELETING: DELETING is the state the cluster is in while it is being de-provisioned.\n - DELETED: DELETED is the state the cluster is in when it has been de-provisioned. At\nthis point, the cluster is eligible for garbage collection."
    },
    "hashicorp.cloud.consul_20200826.ClusterConfig": {
      "type": "object",
      "properties": {
        "consul_config": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.ConsulConfig",
          "description": "consul_config allows altering certain fields relating to the Consul\ncluster’s configuration."
        },
        "network_config": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.NetworkConfig",
          "description": "NetworkConfig contains the network to launch the Consul cluster into."
        },
        "maintenance_config": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.MaintenanceConfig",
          "description": "maintenance_config contains the configuration for maintenance events such as\nauto upgrades."
        },
        "snapshot_config": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.SnapshotConfig",
          "description": "snapshot_config contains the configuration for how often to snapshot and\nhow many to maintain."
        },
        "capacity_config": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.CapacityConfig",
          "description": "capacity_config contains the configuration for the cluster size settings."
        }
      },
      "description": "ClusterConfig holds the configuration for a Consul cluster."
    },
    "hashicorp.cloud.consul_20200826.ConsulConfig": {
      "type": "object",
      "properties": {
        "datacenter": {
          "type": "string",
          "description": "datacenter sets the datacenter the Consul servers will be running in. If\nnot set, a default value will be used.\n\nhttps://www.consul.io/docs/agent/options.html#datacenter"
        },
        "connect_enabled": {
          "type": "boolean",
          "description": "connect_enabled toggles Consul Connect on the Consul servers."
        },
        "primary": {
          "$ref": "#/definitions/hashicorp.cloud.location.Link",
          "description": "primary contains a link to the primary consul cluster in a federation."
        }
      },
      "description": "ConsulConfig exposes user settable configurations for a Consul cluster."
    },
    "hashicorp.cloud.consul_20200826.CreateCustomerMasterACLTokenRequest": {
      "type": "object",
      "properties": {
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the location of the cluster."
        },
        "id": {
          "type": "string",
          "description": "id is the ID of the cluster to create a token on."
        }
      },
      "description": "CreateCustomerMasterACLTokenRequest is used to create a master token on a specific cluster."
    },
    "hashicorp.cloud.consul_20200826.CreateCustomerMasterACLTokenResponse": {
      "type": "object",
      "properties": {
        "acl_token": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.ACLToken",
          "description": "acl_token is the newly created master token."
        }
      },
      "description": "CreateCustomerMasterACLTokenResponse contains the newly created customer master ACL token."
    },
    "hashicorp.cloud.consul_20200826.CreateRequest": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Cluster",
          "description": "Cluster is the Consul Cluster to create."
        }
      }
    },
    "hashicorp.cloud.consul_20200826.CreateResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "operation tracks the asynchronous creation of the Consul cluster."
        },
        "cluster": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Cluster",
          "description": "cluster is the newly created Consul cluster."
        }
      }
    },
    "hashicorp.cloud.consul_20200826.CreateSnapshotRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "name identifies the name of the snapshot."
        },
        "resource": {
          "$ref": "#/definitions/hashicorp.cloud.location.Link",
          "description": "resource identifies what resource to take a snapshot from."
        }
      },
      "description": "CreateSnapshotRequest is a request to create a new snapshot."
    },
    "hashicorp.cloud.consul_20200826.CreateSnapshotResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "operation represents the newly created snapshot."
        },
        "snapshot_id": {
          "type": "string",
          "description": "snapshot_id is the identifer of the newly created snapshot."
        }
      },
      "description": "CreateSnapshotResponse is a response from creating a snapshot."
    },
    "hashicorp.cloud.consul_20200826.DeleteResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "operation is the operation used to track the deletion of the Consul\ncluster."
        }
      }
    },
    "hashicorp.cloud.consul_20200826.DeleteSnapshotResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "operation represents the deletion of the requested snapshot."
        }
      },
      "description": "DeleteSnapshotResponse is a response to deleting a snapshot."
    },
    "hashicorp.cloud.consul_20200826.GetClientConfigResponse": {
      "type": "object",
      "properties": {
        "consul_config_file": {
          "type": "string",
          "format": "byte",
          "description": "consul_config_file is the body of JSON config file."
        },
        "ca_file": {
          "type": "string",
          "format": "byte",
          "description": "ca_file is the body of an intermediate certificate authority file."
        },
        "file_bundle_zip": {
          "type": "string",
          "format": "byte",
          "description": "file_bundle_zip is the contents of a zip archive containing the other\ntwo files, if the request specified it."
        }
      },
      "description": "GetClientConfigResponse the client config files for a Consul agent."
    },
    "hashicorp.cloud.consul_20200826.GetResponse": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Cluster",
          "description": "cluster is the retrieved Consul cluster."
        }
      }
    },
    "hashicorp.cloud.consul_20200826.GetSnapshotResponse": {
      "type": "object",
      "properties": {
        "snapshot": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Snapshot",
          "description": "snapshot is the requested snapshot."
        }
      },
      "description": "GetSnapshotResponse is a response for retrieving a snapshot's information."
    },
    "hashicorp.cloud.consul_20200826.ListResponse": {
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Cluster"
          },
          "description": "clusters are the retrieved Consul clusters."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination contains the pagination tokens for a subsequent request."
        }
      }
    },
    "hashicorp.cloud.consul_20200826.ListSnapshotsResponse": {
      "type": "object",
      "properties": {
        "snapshots": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Snapshot"
          },
          "description": "snapshots is a list of available snapshots."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination contains the pagination tokens for a subsequent request."
        }
      },
      "description": "ListSnapshotsResponse is a response from listing snapshots."
    },
    "hashicorp.cloud.consul_20200826.ListUpgradeVersionsResponse": {
      "type": "object",
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Version"
          }
        }
      }
    },
    "hashicorp.cloud.consul_20200826.ListVersionsResponse": {
      "type": "object",
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Version"
          }
        }
      }
    },
    "hashicorp.cloud.consul_20200826.MaintenanceConfig": {
      "type": "object",
      "description": "MaintenanceConfig configures when maintenance events should be taken on the\nConsul cluster."
    },
    "hashicorp.cloud.consul_20200826.NetworkConfig": {
      "type": "object",
      "properties": {
        "network": {
          "$ref": "#/definitions/hashicorp.cloud.location.Link",
          "description": "network is the link of the HVN to launch the Consul cluster in.\nThe network cannot be updated once the cluster is created."
        },
        "private": {
          "type": "boolean",
          "description": "private indicates if this cluster's instances should be configured in a\nnon-externally accessible way."
        }
      },
      "description": "NetworkConfig configures the network of the Consul cluster."
    },
    "hashicorp.cloud.consul_20200826.RestoreSnapshotRequest": {
      "type": "object",
      "properties": {
        "cluster_id": {
          "type": "string",
          "description": "cluster_id represents the cluster to restore to."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location specifies the location to the cluster is in."
        },
        "snapshot": {
          "$ref": "#/definitions/hashicorp.cloud.location.Link",
          "description": "snapshot represents the snapshot to restore."
        },
        "take_snapshot": {
          "type": "boolean",
          "description": "take_snapshot determines if a snapshot should be taken before performing a restore."
        }
      },
      "description": "RestoreSnapshotRequest is a request to restore a snapshot to a cluster."
    },
    "hashicorp.cloud.consul_20200826.RestoreSnapshotResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "operation represents the restore operation acting on the specified cluster."
        }
      },
      "description": "RestoreSnapshotResponse is a response to restoring a snapshot."
    },
    "hashicorp.cloud.consul_20200826.Snapshot": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "id is the snapshot’s ID."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the snapshot’s location."
        },
        "self_link": {
          "$ref": "#/definitions/hashicorp.cloud.location.Link",
          "description": "self_link is a link referring to this snapshot."
        },
        "resource": {
          "$ref": "#/definitions/hashicorp.cloud.location.Link",
          "description": "resource is the resource the snapshot was taken from."
        },
        "name": {
          "type": "string",
          "description": "name is the name of the snapshot."
        },
        "meta": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Snapshot.SnapshotMeta",
          "description": "meta is the snapshot metadata."
        },
        "type": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Snapshot.SnapshotType",
          "description": "type represents the type of this snapshot."
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Snapshot.SnapshotState",
          "description": "state represents the current status for this snapshot."
        },
        "running_operation_id": {
          "type": "string",
          "description": "running_operation_id is the ID of an operation performing work related to the current state of the snapshot."
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "created_at is the time that this snapshot was requested."
        },
        "finished_at": {
          "type": "string",
          "format": "date-time",
          "description": "finished_at is the time that this snapshot was finished."
        }
      },
      "description": "Snapshot is our representation needed to back-up a cluster."
    },
    "hashicorp.cloud.consul_20200826.Snapshot.SnapshotMeta": {
      "type": "object",
      "properties": {
        "size": {
          "type": "string",
          "format": "int64",
          "description": "size is the size of the snapshot in bytes."
        },
        "product_version": {
          "type": "string",
          "description": "product_version is the version of the product of the cluster at creation."
        },
        "restored_at": {
          "type": "string",
          "format": "date-time",
          "description": "restored_at notes the time that this snapshot was restored."
        },
        "additional_meta": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "additional_meta contains additional metadata of the snapshot."
        }
      }
    },
    "hashicorp.cloud.consul_20200826.Snapshot.SnapshotState": {
      "type": "string",
      "enum": [
        "STATE_UNSET",
        "QUEUED",
        "CREATING",
        "CREATING_FAILED",
        "READY",
        "DELETING",
        "DELETING_FAILED",
        "RESTORING"
      ],
      "default": "STATE_UNSET",
      "description": "SnapshotState represents the different states a snapshot can be in.\n\n - QUEUED: QUEUED is used for snapshots that haven’t started and are waiting for a cluster operation to finish before starting.\n - CREATING: CREATING is used for snapshots that are creating.\n - CREATING_FAILED: CREATING_FAILED is used for snapshots that failed creating.\n - READY: READY is used for snapshots that are ready to be restored.\n - DELETING: DELETING is used for snapshots that are deleting.\n - DELETING_FAILED: DELETING_FAILED is used for snapshots that failed deleting.\n - RESTORING: RESTORING is used for snapshots that are being restored.\n\nProgress can be tracked using cluster operations."
    },
    "hashicorp.cloud.consul_20200826.Snapshot.SnapshotType": {
      "type": "string",
      "enum": [
        "TYPE_UNSET",
        "AUTOMATIC",
        "MANUAL",
        "SCHEDULED"
      ],
      "default": "TYPE_UNSET",
      "description": "SnapshotType represents the type of a snapshot.\n\n - AUTOMATIC: AUTOMATIC is used for snapshots generated automatically, like a snapshot before update.\n - MANUAL: MANUAL is used for snapshots that are initiated by a user's actions.\n - SCHEDULED: SCHEDULED is used for snapshots that are generated based on a schedule."
    },
    "hashicorp.cloud.consul_20200826.SnapshotConfig": {
      "type": "object",
      "description": "SnapshotConfig configures how often cluster snapshot should be taken and how\nlong they should be retained."
    },
    "hashicorp.cloud.consul_20200826.UpdateResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "operation is used to track the progress of the asynchronous update.\nDepending on what was updated in the configuration the update may\nrequire deploying new server nodes which may take some time to complete."
        }
      }
    },
    "hashicorp.cloud.consul_20200826.UpdateSnapshotResponse": {
      "type": "object",
      "properties": {
        "snapshot": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Snapshot",
          "description": "snapshot is the updated snapshot."
        }
      },
      "description": "UpdateSnapshotResponse is a response to updating a snapshot."
    },
    "hashicorp.cloud.consul_20200826.Version": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "version is the string representation of the Consul version."
        },
        "status": {
          "$ref": "#/definitions/hashicorp.cloud.consul_20200826.Version.Status",
          "description": "status defines the version availability."
        }
      }
    },
    "hashicorp.cloud.consul_20200826.Version.Status": {
      "type": "string",
      "enum": [
        "AVAILABLE",
        "RECOMMENDED",
        "PREVIEW"
      ],
      "default": "AVAILABLE",
      "description": " - AVAILABLE: AVAILABLE represents a version that is generally available\nbut no longer the preferred/recommended version.\n - RECOMMENDED: RECOMMENDED represents a version that is generally available\nand recommended by HashiCorp.\n - PREVIEW: PREVIEW represents a version that is not generally available."
    },
    "hashicorp.cloud.location.Link": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "type is the unique type of the resource. Each service publishes a\nunique set of types. The type value is recommended to be formatted\nin \"\u003corg\u003e.\u003ctype\u003e\" such as \"hashicorp.hvn\". This is to prevent conflicts\nin the future, but any string value will work."
        },
        "id": {
          "type": "string",
          "description": "id is the identifier for this resource."
        },
        "uuid": {
          "type": "string",
          "description": "uuid is the unique UUID for this resource."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the location where this resource is."
        },
        "description": {
          "type": "string",
          "description": "description is a human-friendly description for this link. This is\nused primarily for informational purposes such as error messages."
        }
      },
      "description": "Link is used to uniquely reference any resource within HashiCorp Cloud.\nThis can be conceptually considered a \"foreign key\"."
    },
    "hashicorp.cloud.location.Location": {
      "type": "object",
      "properties": {
        "organization_id": {
          "type": "string",
          "description": "organization_id is the id of the organization."
        },
        "project_id": {
          "type": "string",
          "description": "project_id is the projects id."
        },
        "region": {
          "$ref": "#/definitions/hashicorp.cloud.location.Region",
          "description": "region is the region that the resource is located in. It is\noptional if the object being referenced is a global object."
        }
      },
      "description": "Location represents a target for an operation in HCP."
    },
    "hashicorp.cloud.location.Region": {
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "title": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")"
        },
        "region": {
          "type": "string",
          "title": "region is the cloud region (\"us-west1\", \"us-east1\")"
        }
      },
      "description": "Region identifies a Cloud data-plane region."
    },
    "hashicorp.cloud.operation.Operation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "id is the unique ID for this operation used in other RPC calls.\nThis ID is only guaranteed to be unique within the region that\nthe operation is running in."
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation.State",
          "description": "state is the current state of the operation. This is a simple tri-state:\nPENDING means the operation is created but not yet started, RUNNING means\nthe operation is currently running (though it may be very long-running),\nand DONE means the operation is complete whether successfully or not."
        },
        "error": {
          "$ref": "#/definitions/google.rpc.Status",
          "description": "error is the error that occurred in the operation."
        },
        "response": {
          "$ref": "#/definitions/google.protobuf.Any",
          "description": "response is the result of the operation. See the documentation for the API\ncall creating the operation to understand what the value of this is."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "Location is location of the resource that this operation belongs to."
        },
        "link": {
          "$ref": "#/definitions/hashicorp.cloud.location.Link",
          "description": "Link is the resource link the operation is associated with."
        }
      },
      "description": "Operation represents a single operation."
    },
    "hashicorp.cloud.operation.Operation.State": {
      "type": "string",
      "enum": [
        "PENDING",
        "RUNNING",
        "DONE",
        "QUEUED"
      ],
      "default": "PENDING",
      "description": "State is one of the states that an Operation can be in.\n\nThe states are purposely coarse grained to make it easy to understand\nthe operation state machine: pending =\u003e running =\u003e done. Or pending =\u003e\nqueued =\u003e running =\u003e done. No other state transitions are possible. \nSuccess/failure can be determined based on the result oneof."
    }
  },
  "securityDefinitions": {
    "bearer": {
      "type": "apiKey",
      "description": "Authentication token, prefixed by Bearer: Bearer \u003ctoken\u003e",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "bearer": []
    }
  ]
}
