{
  "swagger": "2.0",
  "info": {
    "title": "HashiCorp IAM Service",
    "description": "API for managing Identity and Access Management.",
    "version": "1.0"
  },
  "tags": [
    {
      "name": "IamService"
    },
    {
      "name": "AuthConfigService"
    },
    {
      "name": "GroupsService"
    },
    {
      "name": "ServicePrincipalsService"
    },
    {
      "name": "InvitationsService"
    },
    {
      "name": "ProfileService"
    },
    {
      "name": "SSOManagementService"
    }
  ],
  "host": "api.cloud.hashicorp.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/2019-12-10/iam/{parent_resource_name_1}/service-principals": {
      "get": {
        "summary": "ListServicePrincipals lists service principals at a given scope.",
        "operationId": "ServicePrincipalsService_ListServicePrincipals2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.ListServicePrincipalsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name_1",
            "description": "parent_resource_name is the resource name of the project or organization\nat which the service principal should be listed (e.g.\n\"project/\u003cproject_id\u003e\" or \"organization/\u003corganization_id\u003e\")",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "organization/[^/]+"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      },
      "post": {
        "summary": "CreateServicePrincipal creates a new service principal.",
        "operationId": "ServicePrincipalsService_CreateServicePrincipal2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CreateServicePrincipalResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name_1",
            "description": "parent_resource_name is the resource name of the project or organization\nat which the service principal should be created (e.g.\n\"project/\u003cproject_id\u003e\" or \"organization/\u003corganization_id\u003e\")",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "organization/[^/]+"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name is the customer-chosen name for this service principal."
                }
              },
              "description": "CreateServicePrincipalRequest is the request message used when creating a\nservice principal."
            }
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/2019-12-10/iam/{parent_resource_name}/service-principals": {
      "get": {
        "summary": "ListServicePrincipals lists service principals at a given scope.",
        "operationId": "ServicePrincipalsService_ListServicePrincipals",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.ListServicePrincipalsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "parent_resource_name is the resource name of the project or organization\nat which the service principal should be listed (e.g.\n\"project/\u003cproject_id\u003e\" or \"organization/\u003corganization_id\u003e\")",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "project/[^/]+"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      },
      "post": {
        "summary": "CreateServicePrincipal creates a new service principal.",
        "operationId": "ServicePrincipalsService_CreateServicePrincipal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CreateServicePrincipalResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "parent_resource_name is the resource name of the project or organization\nat which the service principal should be created (e.g.\n\"project/\u003cproject_id\u003e\" or \"organization/\u003corganization_id\u003e\")",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "project/[^/]+"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name is the customer-chosen name for this service principal."
                }
              },
              "description": "CreateServicePrincipalRequest is the request message used when creating a\nservice principal."
            }
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/2019-12-10/{parent_resource_name_1}/keys": {
      "post": {
        "summary": "CreateServicePrincipalKey creates a new service principal key for a service principal.",
        "operationId": "ServicePrincipalsService_CreateServicePrincipalKey2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CreateServicePrincipalKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name_1",
            "description": "parent_resource_name is the resource name of the service principal to\ngenerate a key for.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "iam/organization/[^/]+/service-principal/[^/]+"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "CreateServicePrincipalKeyRequest is the request message used when creating a\nservice principal key."
            }
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/2019-12-10/{parent_resource_name}/keys": {
      "post": {
        "summary": "CreateServicePrincipalKey creates a new service principal key for a service principal.",
        "operationId": "ServicePrincipalsService_CreateServicePrincipalKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CreateServicePrincipalKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "parent_resource_name is the resource name of the service principal to\ngenerate a key for.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "iam/project/[^/]+/service-principal/[^/]+"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "CreateServicePrincipalKeyRequest is the request message used when creating a\nservice principal key."
            }
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/2019-12-10/{parent_resource_name}/workload-identity-providers": {
      "get": {
        "summary": "ListWorkloadIdentityProvider lists workload identity providers under a\nservice principal.",
        "operationId": "ServicePrincipalsService_ListWorkloadIdentityProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.ListWorkloadIdentityProviderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "parent_resource_name is the resource name of the service principal to list\nworkload identity providers from.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "iam/project/[^/]+/service-principal/[^/]+"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      },
      "post": {
        "summary": "CreateWorkloadIdentityProvider creates a workload identity provider\nnested under a service principal.",
        "operationId": "ServicePrincipalsService_CreateWorkloadIdentityProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CreateWorkloadIdentityProviderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "parent_resource_name is the name of the service principal the workload\nidentity provider will be created under.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "iam/project/[^/]+/service-principal/[^/]+"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name is the name of the workload identity provider to be created."
                },
                "provider": {
                  "$ref": "#/definitions/hashicorp.cloud.iam.WorkloadIdentityProvider",
                  "description": "provider is the workload identity provider to create."
                }
              },
              "description": "CreateWorkloadIdentityProviderRequest is the request message used when\ncreating a workload identity provider."
            }
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/2019-12-10/{provider.resource_name}": {
      "patch": {
        "summary": "UpdateWorkloadIdentityProvider updates a workload identity provider.",
        "operationId": "ServicePrincipalsService_UpdateWorkloadIdentityProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.UpdateWorkloadIdentityProviderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "provider.resource_name",
            "description": "resource_name is the resource name for this workload identity\nprovider.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "iam/project/[^/]+/service-principal/[^/]+/workload-identity-provider/[^/]+"
          },
          {
            "name": "provider",
            "description": "provider is the workload identity provider to update.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "resource_id": {
                  "type": "string",
                  "description": "resource_id is the resource identifier for this workload identity\nprovider."
                },
                "description": {
                  "type": "string",
                  "description": "description is an optional description for the workload identity provider."
                },
                "conditional_access": {
                  "type": "string",
                  "description": "conditional_access is a go-bexpr string that is evaluated when exchanging\ntokens. It restricts which upstream identities are allowed to access the\nservice principal."
                },
                "aws_config": {
                  "$ref": "#/definitions/hashicorp.cloud.iam.AWSWorkloadIdentityProviderConfig"
                },
                "oidc_config": {
                  "$ref": "#/definitions/hashicorp.cloud.iam.OIDCWorkloadIdentityProviderConfig"
                },
                "system_managed": {
                  "type": "boolean",
                  "description": "system_managed indicates that the provider is not editable or deletable\nby the user."
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "x-nullable": true,
                  "description": "created_at is when the workload identity provider was created."
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "x-nullable": true,
                  "description": "updated_at is when the workload identity provider was last updated."
                }
              },
              "title": "provider is the workload identity provider to update."
            }
          },
          {
            "name": "update_mask",
            "description": "update_mask describing which resource attribute(s) to update.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/2019-12-10/{resource_name_1}": {
      "get": {
        "summary": "GetServicePrincipal retrieves a service principal.",
        "operationId": "ServicePrincipalsService_GetServicePrincipal2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.GetServicePrincipalResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name_1",
            "description": "resource_name is the resource name of the service principal to retrieve.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "iam/organization/[^/]+/service-principal/[^/]+"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      },
      "delete": {
        "summary": "DeleteServicePrincipal deletes a service principal.",
        "operationId": "ServicePrincipalsService_DeleteServicePrincipal2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.DeleteServicePrincipalResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name_1",
            "description": "resource_name is the resource name of the service principal to delete.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "iam/organization/[^/]+/service-principal/[^/]+"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/2019-12-10/{resource_name_2}": {
      "get": {
        "summary": "GetWorkloadIdentityProvider retrieves a workload identity provider.",
        "operationId": "ServicePrincipalsService_GetWorkloadIdentityProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.GetWorkloadIdentityProviderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name_2",
            "description": "resource_name is the resource name of the workload identity provider to\nretrieve.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "iam/project/[^/]+/service-principal/[^/]+/workload-identity-provider/[^/]+"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      },
      "delete": {
        "summary": "DeleteServicePrincipalKey deletes a service principal key.",
        "operationId": "ServicePrincipalsService_DeleteServicePrincipalKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.DeleteServicePrincipalKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name_2",
            "description": "resource_name is the resource name of the service principal key to\ndelete.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "iam/project/[^/]+/service-principal/[^/]+/key/[^/]+"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/2019-12-10/{resource_name_3}": {
      "delete": {
        "summary": "DeleteServicePrincipalKey deletes a service principal key.",
        "operationId": "ServicePrincipalsService_DeleteServicePrincipalKey2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.DeleteServicePrincipalKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name_3",
            "description": "resource_name is the resource name of the service principal key to\ndelete.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "iam/organization/[^/]+/service-principal/[^/]+/key/[^/]+"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/2019-12-10/{resource_name_4}": {
      "delete": {
        "summary": "DeleteWorkloadIdentityProvider deletes a workload identity provider.",
        "operationId": "ServicePrincipalsService_DeleteWorkloadIdentityProvider",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.DeleteWorkloadIdentityProviderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name_4",
            "description": "resource_name is the resource name of the workload identity provider to\ndelete.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "iam/project/[^/]+/service-principal/[^/]+/workload-identity-provider/[^/]+"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/2019-12-10/{resource_name}": {
      "get": {
        "summary": "GetServicePrincipal retrieves a service principal.",
        "operationId": "ServicePrincipalsService_GetServicePrincipal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.GetServicePrincipalResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name",
            "description": "resource_name is the resource name of the service principal to retrieve.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "iam/project/[^/]+/service-principal/[^/]+"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      },
      "delete": {
        "summary": "DeleteServicePrincipal deletes a service principal.",
        "operationId": "ServicePrincipalsService_DeleteServicePrincipal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.DeleteServicePrincipalResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name",
            "description": "resource_name is the resource name of the service principal to delete.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "iam/project/[^/]+/service-principal/[^/]+"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/2019-12-10/{resource_name}/exchange-token": {
      "post": {
        "summary": "ExchangeWorkloadIdentityToken exchanges an external workload identity\ntoken for an access token whose subject is that of the service principal\nthe identity federation is nested under.",
        "operationId": "ServicePrincipalsService_ExchangeWorkloadIdentityToken",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.ExchangeWorkloadIdentityTokenResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name",
            "description": "resource_name is the resource_name of the workload identity provider to\nexchange against.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "iam/project/[^/]+/service-principal/[^/]+/workload-identity-provider/[^/]+"
          },
          {
            "name": "token",
            "description": "token is the external identity token. This represents the identity of a\nworkload and for token exchange to occur must be valid given the provider's\nconfiguration and conditional_access statatement.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.ExchangeWorkloadIdentityTokenRequest.Token"
            }
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/iam/2019-12-10/accept-invitation": {
      "post": {
        "summary": "AcceptOrganizationInvitation accepts an organization invitation, expects\nan invitation token in the body.",
        "operationId": "InvitationsService_AcceptOrganizationInvitation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.AcceptOrganizationInvitationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "AcceptOrganizationInvitationRequest is a request to accept an organization invitation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.AcceptOrganizationInvitationRequest"
            }
          }
        ],
        "tags": [
          "InvitationsService"
        ]
      }
    },
    "/iam/2019-12-10/caller-identity": {
      "get": {
        "summary": "GetCallerIdentity returns the identity of the current caller.",
        "operationId": "IamService_GetCallerIdentity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.GetCallerIdentityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "tags": [
          "IamService"
        ]
      }
    },
    "/iam/2019-12-10/iam/{parent_resource_name}/groups": {
      "get": {
        "summary": "ListGroups lists the groups in an organization that match the optional\nfilters.",
        "operationId": "GroupsService_ListGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.ListGroupsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "parent_resource is the parent resource of the group.\norganization/\u003corg_id\u003e",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "organization/[^/]+"
          },
          {
            "name": "filter.member_principal_id",
            "description": "member_principal_id is an optional query param to filter groups that a principal belongs to.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.group_resource_ids",
            "description": "group_resource_ids is a way to filter groups by a list of group\nids when we need to resolve group attributes (e.g. name) from a\nlist of ids we get from a project policy.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GroupsService"
        ]
      },
      "post": {
        "summary": "CreateGroup creates a group.",
        "operationId": "GroupsService_CreateGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CreateGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "parent_resource is the parent resource of the group.\norganization/\u003corg_id\u003e",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "organization/[^/]+"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name is the name part of the group resource_name."
                },
                "description": {
                  "type": "string",
                  "description": "description is a description of the group."
                },
                "member_principal_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "member_principal_ids is a list of the ids of the principals that should belong to this group."
                }
              }
            }
          }
        ],
        "tags": [
          "GroupsService"
        ]
      }
    },
    "/iam/2019-12-10/iam/{parent_resource_name}/groups/count": {
      "get": {
        "summary": "CountOrganizationGroups returns the count of groups for an organization.",
        "operationId": "GroupsService_CountOrganizationGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CountOrganizationGroupsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "parent_resource is the parent resource of the group.\norganization/\u003corg_id\u003e",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "organization/[^/]+"
          }
        ],
        "tags": [
          "GroupsService"
        ]
      }
    },
    "/iam/2019-12-10/iam/{parent_resource_name}/groups/count-for-principals": {
      "get": {
        "summary": "CountGroupsForPrincipals will count the number of groups a principal is in for a list of principals",
        "operationId": "GroupsService_CountGroupsForPrincipals",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CountGroupsForPrincipalsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "parent_resource is the parent resource of the groups that should be counted per principal\norganization/\u003corg_id\u003e",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "organization/[^/]+"
          },
          {
            "name": "principal_ids",
            "description": "principal_ids is a list of the ids for which to count groups.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "GroupsService"
        ]
      }
    },
    "/iam/2019-12-10/iam/{parent_resource_name}/groups/count-members-for-groups": {
      "get": {
        "summary": "CountMembersForGroups returns the count of members per group",
        "operationId": "GroupsService_CountMembersForGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CountMembersForGroupsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "parent_resource is the parent resource of the groups that the groups should belong.\norganization/\u003corg_id\u003e",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "organization/[^/]+"
          },
          {
            "name": "group_resource_names",
            "description": "group_resource_names is a list of the group resource_names for which to count members.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "GroupsService"
        ]
      }
    },
    "/iam/2019-12-10/invitations/{invitation_token}/organization": {
      "get": {
        "summary": "GetOrganizationNameByInvitationToken returns the organization name for the invitation associated with the invitation token provided.",
        "operationId": "InvitationsService_GetOrganizationNameByInvitationToken",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.GetOrganizationNameByInvitationTokenResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "invitation_token",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "InvitationsService"
        ]
      }
    },
    "/iam/2019-12-10/me": {
      "get": {
        "summary": "GetCurrentUserPrincipal retrieves information about the current user principal.\nThis endpoint it meant to be used by external clients over an HTTP API.\nIt supports retrieving the basic user principal data (useful for any client) and,\noptionally, the user preferences for the HCP Web Portal JS application.",
        "operationId": "IamService_GetCurrentUserPrincipal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.GetCurrentUserPrincipalResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "web_portal_preferences",
            "description": "web_portal_preferences is a flag indicating whether user's portal preferences\nneed to be included or not. Typically the HCP Web Portal JS application will\nset this option to true, as its the main consumer of this data. Other clients\n(e.g. a CLI, a TF provider) will not need to enable it.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "IamService"
        ]
      }
    },
    "/iam/2019-12-10/me/confirm-mfa-enrollment": {
      "post": {
        "summary": "ConfirmMFAEnrollment is used to perform the first authentication with a newly setup\nMFA (TOTP), which then confirms the user's setup and activates the new\nMFA enrollment.",
        "operationId": "ProfileService_ConfirmMFAEnrollment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.ConfirmMFAEnrollmentResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.ConfirmMFAEnrollmentRequest"
            }
          }
        ],
        "tags": [
          "ProfileService"
        ]
      }
    },
    "/iam/2019-12-10/me/disable-mfa": {
      "post": {
        "operationId": "ProfileService_DisableMFA",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.DisableMFAResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.DisableMFARequest"
            }
          }
        ],
        "tags": [
          "ProfileService"
        ]
      }
    },
    "/iam/2019-12-10/me/enable-mfa": {
      "post": {
        "summary": "EnableMFA triggers the process of enabling MFA for a given user.",
        "operationId": "ProfileService_EnableMFA",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.EnableMFAResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.EnableMFARequest"
            }
          }
        ],
        "tags": [
          "ProfileService"
        ]
      }
    },
    "/iam/2019-12-10/me/mfa-status": {
      "get": {
        "summary": "GetMFAStatus returns the MFA status of the current user.",
        "operationId": "ProfileService_GetMFAStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.GetMFAStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "tags": [
          "ProfileService"
        ]
      }
    },
    "/iam/2019-12-10/me/reset-password": {
      "post": {
        "summary": "ResetPassword resets a password for an email+password user.",
        "operationId": "ProfileService_ResetPassword",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.ResetPasswordResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "tags": [
          "ProfileService"
        ]
      }
    },
    "/iam/2019-12-10/me/send-verification-email": {
      "post": {
        "summary": "SendVerificationEmail triggers a new verification email to be sent to calling user's email address",
        "operationId": "ProfileService_SendVerificationEmail",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.SendVerificationEmailResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "tags": [
          "ProfileService"
        ]
      }
    },
    "/iam/2019-12-10/me/web-portal-preferences": {
      "put": {
        "summary": "UpdateWebConsolePreferences updates a user principal's web portal (fka web console) preferences",
        "operationId": "IamService_UpdateWebConsolePreferences",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.UpdateWebConsolePreferencesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "UpdateWebConsolePreferencesRequest is the request to update a user principal's web portal preferences on the IAM service.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.UpdateWebConsolePreferencesRequest"
            }
          }
        ],
        "tags": [
          "IamService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/auth-metadata": {
      "get": {
        "summary": "GetOrganizationAuthMetadata returns metadata about the organization's\nconfigured authentication methods.",
        "operationId": "IamService_GetOrganizationAuthMetadata",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.GetOrganizationAuthMetadataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the UUID identifier of the organization for which\nauthentication metadata will be retrieved.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "IamService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/auth_connections": {
      "get": {
        "operationId": "AuthConfigService_GetAuthConnections",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.GetAuthConnectionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "AuthConfigService"
        ]
      },
      "delete": {
        "summary": "DeleteAuthConnectionFromOrganization permanently deletes a persisted AuthConnection.",
        "operationId": "AuthConfigService_DeleteAuthConnectionFromOrganization",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id of the organization that owns the AuthConnection.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "AuthConfigService"
        ]
      },
      "post": {
        "summary": "CreateAuthConnection creates an auth connection.",
        "operationId": "AuthConfigService_CreateAuthConnection",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CreateAuthConnectionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the organization that will own the authentication connection.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "issuer": {
                  "type": "string",
                  "description": "issuer is the URL of the identity provider."
                },
                "client_id": {
                  "type": "string",
                  "description": "client_id is the ID of the client for the connection."
                },
                "client_secret": {
                  "type": "string",
                  "description": "client_secret is the secret for the client above."
                },
                "email_domain": {
                  "type": "string",
                  "description": "email_domain associated with the of the connection."
                },
                "default_role": {
                  "type": "string",
                  "description": "default_role is the RBAC role that users signing in to the\nSSO org will get as the default."
                }
              },
              "description": "CreateAuthConnectionRequest creates an AuthConnection."
            }
          }
        ],
        "tags": [
          "AuthConfigService"
        ]
      },
      "patch": {
        "summary": "EditAuthConnection edits an existing AuthConnection.",
        "operationId": "AuthConfigService_EditAuthConnection",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "id of the organization that owns  the connection",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "issuer": {
                  "type": "string",
                  "description": "issuer is the URL of the identity provider."
                },
                "client_id": {
                  "type": "string",
                  "description": "client_id is the ID of the client for the connection."
                },
                "client_secret": {
                  "type": "string",
                  "description": "client_secret is the secret for the client above."
                },
                "email_domain": {
                  "type": "string",
                  "description": "email_domain associated with the connection."
                },
                "update_mask": {
                  "type": "string"
                },
                "default_role": {
                  "type": "string",
                  "description": "default_role is the RBAC role that users signing in to the\nSSO org will get as the default."
                }
              }
            }
          }
        ],
        "tags": [
          "AuthConfigService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/invitations": {
      "get": {
        "summary": "ListOrganizationInvitations returns a list of organization invitations.",
        "operationId": "InvitationsService_ListOrganizationInvitations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.ListOrganizationInvitationsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the unique identifier (UUID) of the organization\nfor which invites are being requested.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "states",
            "description": "States limits the organization invitations to be returned by one or more states.\n\n - PENDING: PENDING is the state of an organization invitation that has been created successfully but\nhas not been accepted yet.\n - ACCEPTED: ACCEPTED is the state of an organization invitation that has been accepted.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PENDING",
                "ACCEPTED"
              ]
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "InvitationsService"
        ]
      },
      "post": {
        "summary": "CreateOrganizationInvitations creates one or more organization invitations.",
        "operationId": "InvitationsService_CreateOrganizationInvitations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CreateOrganizationInvitationsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the unique identifier (UUID) of the organization\nto which the invitee is being invited.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "invitations": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/hashicorp.cloud.iam.NewOrganizationInvitation"
                  },
                  "description": "invitations is a list of the data for the invitations that should be created."
                }
              },
              "description": "CreateOrganizationInvitationsRequest is a request to create an organization invitation.\nInviting multiple people at the same time is supported."
            }
          }
        ],
        "tags": [
          "InvitationsService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/invitations/{invitation_id}": {
      "delete": {
        "summary": "DeleteOrganizationInvitation creates an organization invitation.",
        "operationId": "InvitationsService_DeleteOrganizationInvitation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.DeleteOrganizationInvitationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the unique identifier (UUID) of the organization\nfor which the invitation is being deleted.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitation_id",
            "description": "invitation_id is the id of the invitation to be deleted.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "InvitationsService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/principals": {
      "get": {
        "summary": "BatchGetPrincipals retrieves principals in a batch.",
        "operationId": "IamService_BatchGetPrincipals",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.BatchGetPrincipalsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the organization to query principals in.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "principal_ids",
            "description": "principal_ids is the list of principals to retrieve.\nA maximum of 1000 princiapls are allowed in a single request.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "view",
            "description": "view allows the caller to choose the set of principal data that is returned.\nIf unset, the request defaults to PRINCIPAL_VIEW_BASIC.\n\n - PRINCIPAL_VIEW_UNSPECIFIED: The default / unset value.\n - PRINCIPAL_VIEW_BASIC: Include basic metadata about the principal, but not the principal details.\nThis will return the Id and Type only.\n - PRINCIPAL_VIEW_FULL: Include everything.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "PRINCIPAL_VIEW_UNSPECIFIED",
              "PRINCIPAL_VIEW_BASIC",
              "PRINCIPAL_VIEW_FULL"
            ],
            "default": "PRINCIPAL_VIEW_UNSPECIFIED"
          }
        ],
        "tags": [
          "IamService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/principals/search": {
      "post": {
        "summary": "SearchPrincipals returns principal details for principals within the supplied\norganization. Optional filters may be specified to filter the result set.",
        "operationId": "IamService_SearchPrincipals",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.SearchPrincipalsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the ID of the organization in which the principals\nbelong.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filter": {
                  "$ref": "#/definitions/hashicorp.cloud.iam.SearchPrincipalsFilter",
                  "description": "filter contains optional fields to filter the search results down."
                },
                "pagination": {
                  "$ref": "#/definitions/hashicorp.cloud.common.PaginationRequest",
                  "description": "pagination contains page data."
                }
              },
              "description": "SearchPrincipalsRequest is the request to the SearchPrincipals rpc."
            }
          }
        ],
        "tags": [
          "IamService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/projects/{project_id}/service-principal-keys": {
      "post": {
        "summary": "CreateProjectServicePrincipalKey creates a new service principal key for a service principal on project level.",
        "operationId": "ServicePrincipalsService_CreateProjectServicePrincipalKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CreateProjectServicePrincipalKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the unique identifier (UUID) of the organization under\nwhich the service principal key should be created.\nIt must be the organization of the provided service principal.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "project_id",
            "description": "project_id is the unique identifier (UUID) of the project under\nwhich the service principal key should be created.\nIt must be the project_id of the provided service principal.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "principal_id": {
                  "type": "string",
                  "description": "principal_id is the ID of the service principal for which the new service\nprincipal key should be created."
                }
              },
              "description": "CreateProjectServicePrincipalKeyRequest is the request message used when creating a\nservice principal key for a service principal on project level."
            }
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/projects/{project_id}/service-principal-keys/{client_id}": {
      "delete": {
        "summary": "DeleteProjectServicePrincipalKey deletes a service principal key for a service principal on project level.",
        "operationId": "ServicePrincipalsService_DeleteProjectServicePrincipalKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.DeleteProjectServicePrincipalKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the organization the service principal key belongs to.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "project_id",
            "description": "project_id is the project the service principal key belongs to.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "description": "client_id is client ID of the service principal key.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/projects/{project_id}/service-principals": {
      "get": {
        "summary": "ListProjectServicePrincipals lists service principals in a project.",
        "operationId": "ServicePrincipalsService_ListProjectServicePrincipals",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.ListProjectServicePrincipalsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the unique identifier (UUID) of the organization that\nowns the project of the service principals to be listed.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "project_id",
            "description": "project_id is the unique identifier (UUID) of the project that\nowns the service principals to be listed. When the the project_id\nis provided, only the service principals for this project will be\nlisted.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      },
      "post": {
        "summary": "CreateProjectServicePrincipal creates a new service principal on project level.",
        "operationId": "ServicePrincipalsService_CreateProjectServicePrincipal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CreateProjectServicePrincipalResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the unique identifier (UUID) of the organization under\nwhich the service principal should be created.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "project_id",
            "description": "project_id is the unique identifier (UUID) of the project that\nowns the created service principal.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name is the customer-chosen name for this service principal."
                }
              },
              "description": "CreateProjectServicePrincipalRequest is the request message used when creating a\nservice principal on project level."
            }
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/projects/{project_id}/service-principals/{principal_id}": {
      "get": {
        "summary": "GetProjectServicePrincipal retrieves a service principal on project level.",
        "operationId": "ServicePrincipalsService_GetProjectServicePrincipal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.GetProjectServicePrincipalResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the unique identifier (UUID) of the organization that\nowns the requested service principal or project.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "project_id",
            "description": "project_id is the unique identifier (UUID) of the project that\nunder which the service principal should be created.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "principal_id",
            "description": "principal_id is the ID of the service principal being requested.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      },
      "delete": {
        "summary": "DeleteServicePrincipal deletes a service principal on project level.",
        "operationId": "ServicePrincipalsService_DeleteProjectServicePrincipal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.DeleteProjectServicePrincipalResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the unique identifier (UUID) of the organization from\nwhich the service principal should be deleted.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "project_id",
            "description": "project_id is the unique identifier (UUID) of the project that\nowns the requested service principal.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "principal_id",
            "description": "principal_id is the ID of the service principal to be deleted.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/service-principal-keys": {
      "post": {
        "summary": "CreateOrganizationServicePrincipalKey creates a new service principal key for a service principal on organization level.",
        "operationId": "ServicePrincipalsService_CreateOrganizationServicePrincipalKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CreateOrganizationServicePrincipalKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the unique identifier (UUID) of the organization under\nwhich the service principal key should be created.\nIt must be the organization of the provided service principal.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "principal_id": {
                  "type": "string",
                  "description": "principal_id is the ID of the service principal for which the new service\nprincipal key should be created."
                }
              },
              "description": "CreateOrganizationServicePrincipalKeyRequest is the request message used when creating a\nservice principal key for a principal on organization level."
            }
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/service-principal-keys/{client_id}": {
      "delete": {
        "summary": "DeleteOrganizationServicePrincipalKey deletes a service principal key for a service principal on organization level.",
        "operationId": "ServicePrincipalsService_DeleteOrganizationServicePrincipalKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.DeleteOrganizationServicePrincipalKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the organization the service principal key belongs to.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_id",
            "description": "client_id is client ID of the service principal key.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/service-principals": {
      "get": {
        "summary": "ListProjectServicePrincipals lists service principals in an organization.",
        "operationId": "ServicePrincipalsService_ListOrganizationServicePrincipals",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.ListOrganizationServicePrincipalsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the unique identifier (UUID) of the organization that\nowns the service principals to be listed.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "include",
            "description": "include defines which service principals in the hirarchical level\nbelow an organization should be included in the returned list.\nAllowed values: UNSET, ALL, PROJECTS\n\n - UNSET: UNSET is the default value.\nUNSET will only include service principals at organization level.\n - ALL: ALL will include all service principals on all hirarchical levels\nunder the given organization.\n - PROJECTS: PROJECTS includes service principals at project level\nin the list response.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNSET",
              "ALL",
              "PROJECTS"
            ],
            "default": "UNSET"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      },
      "post": {
        "summary": "CreateOrganizationServicePrincipal creates a new service principal on organization level.",
        "operationId": "ServicePrincipalsService_CreateOrganizationServicePrincipal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CreateOrganizationServicePrincipalResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the unique identifier (UUID) of the organization under\nwhich the service principal should be created.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name is the customer-chosen name for this service principal."
                }
              },
              "description": "CreateOrganizationServicePrincipalRequest is the request message used when creating a\nservice principal on organization level."
            }
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/service-principals/{principal_id}": {
      "get": {
        "summary": "GetOrganizationServicePrincipal retrieves a service principal on organization level.",
        "operationId": "ServicePrincipalsService_GetOrganizationServicePrincipal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.GetOrganizationServicePrincipalResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the unique identifier (UUID) of the organization that\nowns the requested service principal or project.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "principal_id",
            "description": "principal_id is the ID of the service principal being requested.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      },
      "delete": {
        "summary": "DeleteOrganizationServicePrincipal deletes a service principal on organization level.",
        "operationId": "ServicePrincipalsService_DeleteOrganizationServicePrincipal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.DeleteOrganizationServicePrincipalResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the unique identifier (UUID) of the organization from\nwhich the service principal should be deleted.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "principal_id",
            "description": "principal_id is the ID of the service principal to be deleted.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ServicePrincipalsService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/sso-configurations": {
      "get": {
        "summary": "ListSSOConfigurations retrieves the SSO configurations for an organization.",
        "operationId": "SSOManagementService_ListSSOConfigurations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.ListSSOConfigurationsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "OrganizationId is the identifier of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "SSOManagementService"
        ]
      },
      "post": {
        "summary": "CreateSSOConfiguration creates a new SSO configuration for an organization.",
        "operationId": "SSOManagementService_CreateSSOConfiguration",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.CreateSSOConfigurationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "OrganizationId is the identifier of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "$ref": "#/definitions/hashicorp.cloud.iam.SSOConfig",
                  "description": "SsoConfig has the SSO configuration for this organization."
                }
              }
            }
          }
        ],
        "tags": [
          "SSOManagementService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/sso-configurations/{type}": {
      "get": {
        "summary": "GetSSOConfiguration retrieves a specific SSO configuration for an\norganization.",
        "operationId": "SSOManagementService_GetSSOConfiguration",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.GetSSOConfigurationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "OrganizationId is the identifier of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "description": "Type is the type of Single Sign-On.",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "UNSET",
              "SAML",
              "OIDC"
            ]
          }
        ],
        "tags": [
          "SSOManagementService"
        ]
      },
      "delete": {
        "summary": "DeleteSSOConfiguration deletes an existing SSO configuration.",
        "operationId": "SSOManagementService_DeleteSSOConfiguration",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.DeleteSSOConfigurationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "OrganizationId is the identifier of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "description": "Type is the type of Single Sign-On.",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "UNSET",
              "SAML",
              "OIDC"
            ]
          }
        ],
        "tags": [
          "SSOManagementService"
        ]
      },
      "put": {
        "summary": "UpdateSSOConfiguration updates an existing SSO configuration.",
        "operationId": "SSOManagementService_UpdateSSOConfiguration",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.UpdateSSOConfigurationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "OrganizationId is the identifier of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "description": "type is the type of Single Sign-On we are updating. This is only used for\nthe RESTFul Gateway parameter. It must match the type in the config\nfield. This is used due to a bug in the grpc-gateway generator that\nerases the field value if a field is used as a parameter. So we need to\nuse this one instead of config.type.",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "UNSET",
              "SAML",
              "OIDC"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "$ref": "#/definitions/hashicorp.cloud.iam.SSOConfig",
                  "description": "SsoConfig has the SSO configuration for this organization."
                }
              }
            }
          }
        ],
        "tags": [
          "SSOManagementService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/sso-preconfiguration-data": {
      "get": {
        "summary": "GetPreconfigurationData returns data needed prior to an SSO configuration\nbeing created.",
        "operationId": "SSOManagementService_GetPreconfigurationData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.GetPreconfigurationDataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "organization_id is the ID of the organization for which the\npreconfiguration data is required.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "SSOManagementService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/sso-type": {
      "get": {
        "summary": "GetSSOType returns the type of SSO that is configured for an organization.",
        "operationId": "SSOManagementService_GetSSOType",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.GetSSOTypeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "description": "OrganizationId is the identifier of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "SSOManagementService"
        ]
      }
    },
    "/iam/2019-12-10/organizations/{organization_id}/user-principals": {
      "get": {
        "summary": "ListUserPrincipalsByOrganization returns a list of principals that are\nmembers of an organization.",
        "operationId": "IamService_ListUserPrincipalsByOrganization",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.iam.ListUserPrincipalsByOrganizationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
[...]
