{
  "swagger": "2.0",
  "info": {
    "title": "HashiCorp Cloud Platform Consul Global Network Manager Service",
    "version": "2022-02-15"
  },
  "tags": [
    {
      "name": "GlobalNetworkManagerService"
    }
  ],
  "host": "api.cloud.hashicorp.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/2022-02-15/global-network-manager/{cluster_resource_name}/service/{service_name}": {
      "get": {
        "operationId": "GetService",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.GetServiceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "cluster_resource_name",
            "description": "Cluster Resource Name will be of the form `consul/project/\u003cproject_id\u003e/cluster/\u003ccluster_id\u003e`",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "consul/project/[^/]+/cluster/[^/]+"
          },
          {
            "name": "service_name",
            "description": "The `name` of the service.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "partition",
            "description": "Query param filter: `partition` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace",
            "description": "Query param filter: `namespace` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/2022-02-15/global-network-manager/{cluster_resource_name}/service/{service_name}/instances": {
      "get": {
        "operationId": "ListServiceInstances",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ListServiceInstancesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "cluster_resource_name",
            "description": "Cluster resource name will be of the form `consul/project/\u003cproject_id\u003e/cluster/\u003ccluster_id\u003e`",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "consul/project/[^/]+/cluster/[^/]+"
          },
          {
            "name": "service_name",
            "description": "Unique identifier for the service instance.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The maximum number of results per page to return. If the number \nof available results is larger than `page_size`, a `next_page_token` is\nreturned, which you can use to get the next page of results in subsequent\nrequests. A value of zero causes `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this parameter to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this parameter to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace",
            "description": "Query param filter: `namespace` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "partition",
            "description": "Query param filter: `partition` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "description": "Search query to filter by. Searches across `id` and `tags`.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "description": "Query param filter: `status` of the service. This can be combination of `passing`, `warning`, `critical`, `none`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "order_by",
            "description": "Sorts the services based on a field. Allowed fields: id, health.\nThe value needs to be of the format `\u003cField Name\u003e {asc/desc}` For example: `id`, `id asc`, `health desc`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/2022-02-15/global-network-manager/{cluster_resource_name}/services": {
      "get": {
        "operationId": "ListClusterServices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ListClusterServicesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "cluster_resource_name",
            "description": "Cluster resource name will be of the form `consul/project/\u003cproject_id\u003e/cluster/\u003ccluster_id\u003e`",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "consul/project/[^/]+/cluster/[^/]+"
          },
          {
            "name": "pagination.page_size",
            "description": "The maximum number of results per page to return. If the number \nof available results is larger than `page_size`, a `next_page_token` is\nreturned, which you can use to get the next page of results in subsequent\nrequests. A value of zero causes `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this parameter to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this parameter to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "Sorts the services based on a field. Allowed fields: `name`, `health`. The value needs to be of the format \u003c{name/health} {asc/desc}\u003e For example: `name asc`, `health desc`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "partition",
            "description": "Query param filter: `partition` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace",
            "description": "Query param filter: `namespace` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "description": "Query param filter: `status` of the service. This can be combination of `passing`, `warning`, `critical`, `none`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "kind",
            "description": "Query param filter: `kind` of the service. This can be combination of `typical`, `connect-proxy`, `destination`, `api-gateway`, `ingress-gateway`, `terminating-gateway`, `mesh-gateway`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "in_mesh",
            "description": "Query param filter: whether the service is in the service mesh or not. Possible values: `true` or `false`.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mtls_mode",
            "description": "Query param filter: mTLS mode of the service. Possible value: `permissive`, `strict`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "query",
            "description": "Search query to filter by. Searches across service `name`, `cluster_id`, `partition`, `namespace`, `sameness_group`, `tags`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "external_sources",
            "description": "Query param filter: `external_sources`. Returns a service when service's external sources overlap with the external sources specified.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "tags",
            "description": "Query param filter: `tags`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/2022-02-15/global-network-manager/{project_resource_name}/services": {
      "get": {
        "summary": "ListServices returns a list of services for all clusters within an HCP project",
        "operationId": "ListServices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ListServicesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "project_resource_name",
            "description": "Parent Resource name will be of the form `project/\u003cproject_id\u003e`",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "project/[^/]+"
          },
          {
            "name": "pagination.page_size",
            "description": "The maximum number of results per page to return. If the number \nof available results is larger than `page_size`, a `next_page_token` is\nreturned, which you can use to get the next page of results in subsequent\nrequests. A value of zero causes `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this parameter to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this parameter to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "Sorts the services based on a field. Allowed fields: `name`, `health`. The value needs to be of the format `\u003cField Name\u003e {asc/desc}` For example: `name`, `name asc`, `name desc`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "partition",
            "description": "Query param filter: `partition` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace",
            "description": "Query param filter: `namespace` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "description": "Query param filter: `status` of the service. This can be combination of `passing`, `warning`, `critical`, `none`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "kind",
            "description": "Query param filter: `kind` of the service. This can be combination of `typical`, `connect-proxy`, `destination`, `api_gateway`, `ingress_gateway`, `terminating_gateway`, `mesh_gateway`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "in_mesh",
            "description": "Query param filter: whether the service is in the service mesh or not. Possible values: `true` or `false`.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mtls_mode",
            "description": "Query param filter: mTLS mode of the service. Possible values: `permissive`, `strict`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "cluster_ids",
            "description": "Query param filter: `cluster_id` of the service.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "query",
            "description": "Search query to filter by. Searches across service `name`, `cluster_id`, `partition`, `namespace`, `sameness_group`, `tags`.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "external_sources",
            "description": "Query param filter: `external_sources`. Returns a service when service's external sources overlap with the external sources specified.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "tags",
            "description": "Query param filter: `tags`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/list_consul_versions": {
      "get": {
        "operationId": "ListConsulVersions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ListConsulVersionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/aggregate_service_summary": {
      "get": {
        "summary": "GetAggregateServiceSumamry returns a summary of all the service instances.\nCallers should use the response's AggregateServiceSummaryByKind field that keys service summaries by service kind.",
        "operationId": "GetAggregateServiceSummary",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.GetAggregateServiceSummaryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.clusters",
            "description": "filters summaries to the provided cluster names. If empty, all are included",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/clusters": {
      "get": {
        "operationId": "ListClusters",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ListClustersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "description": "The type of clusters to limit the response to\n\n - TYPE_UNSPECIFIED: unspecified type to filter on. If this error appears, default to self-managed clusters\n - TYPE_ALL: all cluster types\n - TYPE_SELF: self-managed clusters\n - TYPE_HCP: HCP-managed clusters",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "TYPE_UNSPECIFIED",
              "TYPE_ALL",
              "TYPE_SELF",
              "TYPE_HCP"
            ],
            "default": "TYPE_UNSPECIFIED"
          },
          {
            "name": "pagination.page_size",
            "description": "The maximum number of results per page to return. If the number \nof available results is larger than `page_size`, a `next_page_token` is\nreturned, which you can use to get the next page of results in subsequent\nrequests. A value of zero causes `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this parameter to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this parameter to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      },
      "post": {
        "operationId": "CreateCluster",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.CreateClusterResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "title": "id is the user settable GNM cluster name"
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "region": {
                      "$ref": "#/definitions/hashicorp.cloud.location.Region",
                      "description": "region is the region that the resource is located in. It is\noptional if the object being referenced is a global object."
                    }
                  },
                  "title": "location is the location of the cluster with an optional provider and region"
                },
                "existing_cluster": {
                  "type": "boolean",
                  "title": "existing_cluster indicates whether or not the cluster existed before creation (for linking)"
                },
                "source": {
                  "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Cluster.Source",
                  "title": "source is the runtime type for the cluster"
                },
                "consul_access_level": {
                  "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Cluster.ConsulAccessLevel",
                  "title": "consul_access_level is an optional field to configure the access level that\nCCM will have to manage the Consul cluster. When unspecified, it will\ndefault to a value depending on how other request parameters; most likely\nGLOBAL_READ_WRITE, since GLOBAL_READ_ONLY needs to be specifically indicated"
                },
                "management_token": {
                  "type": "string",
                  "title": "management_token is an optional field to set a user-submitted management\ntoken that CCM will use manage the Consul cluster. When empty, we will\nauto-generate a management token for the cluster"
                }
              }
            }
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{id}": {
      "get": {
        "operationId": "GetCluster",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.GetClusterResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the user settable GNM cluster name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      },
      "delete": {
        "operationId": "DeleteCluster",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.DeleteClusterResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the user-provided GNM cluster name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      },
      "patch": {
        "operationId": "UpdateCluster",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.UpdateClusterResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the user settable GNM cluster name of the cluster to update",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "region": {
                      "$ref": "#/definitions/hashicorp.cloud.location.Region",
                      "description": "region is the region that the resource is located in. It is\noptional if the object being referenced is a global object."
                    }
                  },
                  "title": "location is the location of the cluster to update with an optional provider\nand region"
                },
                "update_mask": {
                  "type": "string",
                  "title": "update_mask is the mask of fields to update"
                },
                "consul_access_level": {
                  "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Cluster.ConsulAccessLevel",
                  "title": "consul_access_level is a cluster field to update"
                },
                "management_token": {
                  "type": "string",
                  "title": "management_token is a cluster-related field to update"
                }
              },
              "description": "UpdateClusterRequest contains the individual fields of the cluster to update.\nFields are added to the request object as they are supported.\n\nThe request does not contain the `Cluster` object itself since there are\ncluster fields we want to support updateing but do not want to expose\npublically in other APIs that also use `Cluster` i.e. we do not want to\nadd `Cluster.management_token` and start returning the management_token in\nthe GetCluster API."
            }
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{id}/agent/bootstrap_config": {
      "get": {
        "operationId": "AgentBootstrapConfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.AgentBootstrapResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "consul_version",
            "description": "Consul version of the cluster",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{id}/agent/discover": {
      "post": {
        "operationId": "AgentDiscover",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.AgentDiscoverResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the name of the cluster",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "region": {
                      "$ref": "#/definitions/hashicorp.cloud.location.Region",
                      "description": "region is the region that the resource is located in. It is\noptional if the object being referenced is a global object."
                    }
                  },
                  "title": "location is the project and organization of the cluster with an optional provider and region"
                }
              }
            }
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{id}/agent/server-state": {
      "post": {
        "operationId": "AgentPushServerState",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.AgentPushServerStateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the name of the cluster",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "region": {
                      "$ref": "#/definitions/hashicorp.cloud.location.Region",
                      "description": "region is the region that the resource is located in. It is\noptional if the object being referenced is a global object."
                    }
                  },
                  "title": "location is the project and organization of the cluster with an optional provider and region"
                },
                "server_state": {
                  "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ServerState",
                  "title": "server_state is the internal consul node information"
                }
              }
            }
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{id}/api_information": {
      "get": {
        "operationId": "GetClusterAPIInfo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.GetClusterAPIInfoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the user-provided GNM cluster name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{id}/credentials/observability": {
      "get": {
        "operationId": "GetObservabilitySecret",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.GetObservabilitySecretResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the user settable GNM cluster name of the cluster to update",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{id}/management_token_details": {
      "get": {
        "operationId": "GetClusterManagementTokenDetails",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.GetClusterManagementTokenDetailsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the user settable GNM cluster name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{id}/partitions": {
      "get": {
        "summary": "ListClusterPartitions returns the list of consul admin partitions for a given cluster",
        "operationId": "ListClusterPartitions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ListClusterPartitionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the user settable GNM cluster name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{id}/secrets": {
      "get": {
        "operationId": "GetClusterSecrets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.GetClusterSecretsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the user-provided GNM cluster name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{id}/servers": {
      "get": {
        "operationId": "ListClusterServers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ListClusterServersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "id is the user settable GNM cluster name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/clusters_with_acceptor_eligibility": {
      "get": {
        "summary": "ListClustersWithAcceptorEligibility returns the list of clusters along with whether they are eligible to be the acceptor in a peering connection.",
        "operationId": "ListClustersWithAcceptorEligibility",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ListClustersWithAcceptorEligibilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/clusters_with_dialer_eligibility": {
      "get": {
        "summary": "ListClustersWithDialerEligibility returns the list of clusters along with whether they are eligible to be the dialer in a peering connection.",
        "operationId": "ListClustersWithDialerEligibility",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ListClustersWithDialerEligibilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "acceptor_cluster_id",
            "description": "acceptor_cluster_id is the user settable GNM cluster name of the acceptor cluster to\ncheck eligibility with",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "acceptor_cluster_partition_name",
            "description": "acceptor_cluster_partition_name is the name of the partition of the acceptor cluster to\ncheck eligibility with",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/peering_connections": {
      "post": {
        "operationId": "CreatePeeringConnections",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.CreatePeeringConnectionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "acceptor": {
                  "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Peer",
                  "description": "acceptor is the token generator for the peering start process. The peer_name and peer_meta\nof this peer will be used by all the dialers to identify the connection to the acceptor. In the\nfuture we may provide a field/fields on the Peer to allow overrides of the peer_name so that they can\noveride each individual dialer to have a different peer_name or peer_meta."
                },
                "dialers": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.PeerDialer"
                  },
                  "description": "dialers will take the token generated by the acceptor and dial back to the acceptor to establish\nthe peering. The acceptor will use each dialer's peer_name and peer_meta when generating a token.\nLikewise the dialer will take the acceptor's peer_name and peer_meta when dialing back to the cluster."
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "region": {
                      "$ref": "#/definitions/hashicorp.cloud.location.Region",
                      "description": "region is the region that the resource is located in. It is\noptional if the object being referenced is a global object."
                    }
                  },
                  "title": "location is the location where the peering connection should be created"
                }
              }
            }
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/peering_connections/{peering_connection_id}": {
      "delete": {
        "operationId": "DeletePeeringConnection",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.DeletePeeringConnectionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "peering_connection_id",
            "description": "peering_connection_id is the slug ID of the peering connection",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/peers_by_cluster_partition": {
      "get": {
        "summary": "ListPeersByClusterPartition returns the list of cluster partitions, each containing their respective lists of cluster peers.\nIf a cluster_id is supplied, this endpoint returns the list of cluster partitions only for the specified cluster.",
        "operationId": "ListPeersByClusterPartition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ListPeersByClusterPartitionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "description": "cluster_id is the user settable GNM cluster name. If supplied, only peering connections\nbelonging to the cluster in the specified location are returned.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{location.organization_id}/projects/{location.project_id}/services": {
      "get": {
        "operationId": "GetServiceSummaries",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.GetServiceSummariesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The maximum number of results per page to return. If the number \nof available results is larger than `page_size`, a `next_page_token` is\nreturned, which you can use to get the next page of results in subsequent\nrequests. A value of zero causes `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this parameter to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this parameter to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.name_substr",
            "description": "name_substr matches summaries that contain a case-insensitive substring in their service name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.clusters",
            "description": "clusters matches summaries on the cluster name",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.partitions",
            "description": "partitions matches summaries on the partition name",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.namespaces",
            "description": "namespaces matches summaries on the namespace name",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.kinds",
            "description": "kinds matches service kind. If empty, this defaults to all kinds\n\n - KIND_UNSPECIFIED: The default, unspecified service kind. Kind unknown.\n - KIND_TYPICAL: A typical, classic Consul service.\n - KIND_CONNECT_PROXY: A Connect proxy instance.\n - KIND_MESH_GATEWAY: A mesh gateway service instance.\n - KIND_TERMINATING_GATEWAY: A terminating gateway service instance.\n - KIND_INGRESS_GATEWAY: An ingress gateway service instance.\n - KIND_DESTINATION: A Destination  for the Connect feature.\n - KIND_API_GATEWAY: An API gateway service instance",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "KIND_UNSPECIFIED",
                "KIND_TYPICAL",
                "KIND_CONNECT_PROXY",
                "KIND_MESH_GATEWAY",
                "KIND_TERMINATING_GATEWAY",
                "KIND_INGRESS_GATEWAY",
                "KIND_DESTINATION",
                "KIND_API_GATEWAY"
              ]
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    },
    "/global-network-manager/2022-02-15/organizations/{organization_id}/trial": {
      "get": {
        "operationId": "GetTrial",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.GetTrialResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "GlobalNetworkManagerService"
        ]
      }
    }
  },
  "definitions": {
    "google.protobuf.Any": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        }
      },
      "additionalProperties": {},
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\nExample 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\nExample 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := \u0026pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "google.rpc.Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code]."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\n[google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/google.protobuf.Any"
          },
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "hashicorp.cloud.common.PaginationRequest": {
      "type": "object",
      "properties": {
        "page_size": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum number of results per page to return. If the number \nof available results is larger than `page_size`, a `next_page_token` is\nreturned, which you can use to get the next page of results in subsequent\nrequests. A value of zero causes `page_size` to be defaulted."
        },
        "next_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the next page. Set this parameter to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set."
        },
        "previous_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the previous page. Set this parameter to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set."
        }
      },
      "description": "PaginationRequest are the parameters for a paginated list request."
    },
    "hashicorp.cloud.common.PaginationResponse": {
      "type": "object",
      "properties": {
        "next_page_token": {
          "type": "string",
          "description": "This token allows you to get the next page of results for list requests.\nIf the number of results is larger than `page_size`, use the\n`next_page_token` as a value for the query parameter `next_page_token` in\nthe next request. The value becomes empty when there are no more pages."
        },
        "previous_page_token": {
          "type": "string",
          "description": "This token allows you to get the previous page of results for list\nrequests. If the number of results is larger than `page_size`, use the\n`previous_page_token` as a value for the query parameter\n`previous_page_token` in the next request. The value becomes empty when\nthere are no more pages."
        }
      },
      "description": "PaginationResponse is the response holding the page tokens for a paginated\nlist response."
    },
    "hashicorp.cloud.global_network_manager_20220215.ACLInfo": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.AdminPartition": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "name is the name of the consul admin partition"
        },
        "description": {
          "type": "string",
          "title": "description is the description of the consul admin partition"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.AdminPartitionWithEligibility": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "name is the name of the consul admin partition"
        },
        "description": {
          "type": "string",
          "title": "description is the description of the consul admin partition"
        },
        "ineligibility_reasons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.PartitionPeeringIneligibilityReason"
          },
          "description": "ineligibility_reasons is a list of reasons why this particular partition is ineligible for peering.\nEmpty list means the partition is eligible."
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.AgentBootstrapResponse": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Cluster"
        },
        "bootstrap": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ClusterBootstrap"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.AgentDiscoverResponse": {
      "type": "object",
      "properties": {
        "servers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Server"
          },
          "title": "servers is the configuration and TLS status of each consul server in a cluster"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.AgentPushServerStateResponse": {
      "type": "object"
    },
    "hashicorp.cloud.global_network_manager_20220215.AggregateServiceSummary": {
      "type": "object",
      "properties": {
        "total_services": {
          "type": "integer",
          "format": "int32"
        },
        "total_service_instances": {
          "type": "integer",
          "format": "int32"
        },
        "passing_service_instances": {
          "type": "integer",
          "format": "int32"
        },
        "warning_service_instances": {
          "type": "integer",
          "format": "int32"
        },
        "critical_service_instances": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "AggregateServiceSummary is a summary service count, service instance count, and the health of the service instances."
    },
    "hashicorp.cloud.global_network_manager_20220215.AutoPilotInfo": {
      "type": "object",
      "properties": {
        "healthy": {
          "type": "boolean"
        },
        "failure_tolerance": {
          "type": "integer",
          "format": "int32"
        },
        "min_quorum": {
          "type": "integer",
          "format": "int32"
        },
        "num_servers": {
          "type": "integer",
          "format": "int32"
        },
        "num_voters": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.CVE": {
      "type": "object",
      "properties": {
        "documentation": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.CertificateMetadata": {
      "type": "object",
      "properties": {
        "cert_name": {
          "type": "string",
          "description": "cert_name is the Subject.CommonName of the certificate."
        },
        "cert_serial": {
          "type": "string",
          "description": "cert_serial is the Serial Number of the certificate."
        },
        "cert_expiry": {
          "type": "string",
          "format": "date-time",
          "description": "cert_expiry is the expiration (NotAfter) date of the certificate."
        }
      },
      "description": "CertificateMetadata contains metadata about an x.509 certificate."
    },
    "hashicorp.cloud.global_network_manager_20220215.Cluster": {
      "type": "object",
      "properties": {
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location"
        },
        "id": {
          "type": "string"
        },
        "bootstrap_expect": {
          "type": "integer",
          "format": "int32"
        },
        "active_server_count": {
          "type": "integer",
          "format": "int32",
          "title": "active_server_count is the number of servers that have checked in and are reported as running"
        },
        "resource_id": {
          "type": "string",
          "title": "resource_id is the unique identifier for the cluster"
        },
        "resource_link_url": {
          "type": "string",
          "title": "resource_link_url is the location.Link encoded as a url including the organization, project, type and ID"
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Cluster.State",
          "description": "Current state of the cluster."
        },
        "source": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Cluster.Source",
          "title": "source of the cluster"
        },
        "consul_version": {
          "type": "string",
          "title": "Consul version of the cluster"
        },
        "hcp_managed": {
          "type": "boolean",
          "title": "whether this Consul cluster is managed by HCP"
        },
        "existing_cluster": {
          "type": "boolean",
          "title": "whether this is an existing self-managed cluster"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "`created_at` is the timestamp when the cluster was first created."
        },
        "licensing": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Licensing",
          "title": "licensing is the Consul licensing information"
        },
        "consul_access_level": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Cluster.ConsulAccessLevel",
          "title": "consul_access_level is the level of access CCM has to the Consul cluster"
        },
        "hcp_portal_url": {
          "type": "string"
        },
        "trust_domain": {
          "type": "string",
          "description": "trust domain is a globally unique UUID that clusters set for themselves. We use this\nto tell clusters apart based on Envoy labels which include it in their \"consul_destination_trust_domain\"."
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.Cluster.ConsulAccessLevel": {
      "type": "string",
      "enum": [
        "CONSUL_ACCESS_LEVEL_UNSPECIFIED",
        "CONSUL_ACCESS_LEVEL_GLOBAL_READ_ONLY",
        "CONSUL_ACCESS_LEVEL_GLOBAL_READ_WRITE"
      ],
      "default": "CONSUL_ACCESS_LEVEL_UNSPECIFIED",
      "title": "- CONSUL_ACCESS_LEVEL_UNSPECIFIED: the access level is unspecified\n - CONSUL_ACCESS_LEVEL_GLOBAL_READ_ONLY: CCM has global-read-only access to the Consul cluster\n - CONSUL_ACCESS_LEVEL_GLOBAL_READ_WRITE: CCM has global-read-write access to the Consul cluster"
    },
    "hashicorp.cloud.global_network_manager_20220215.Cluster.Source": {
      "type": "string",
      "enum": [
        "SOURCE_UNSPECIFIED",
        "SOURCE_KUBERNETES",
        "SOURCE_HCP",
        "SOURCE_VM"
      ],
      "default": "SOURCE_UNSPECIFIED"
    },
    "hashicorp.cloud.global_network_manager_20220215.Cluster.State": {
      "type": "string",
      "enum": [
        "STATE_UNSPECIFIED",
        "STATE_PENDING",
        "STATE_CREATING",
        "STATE_RUNNING",
        "STATE_FAILED",
        "STATE_UPDATING",
        "STATE_RESTORING",
        "STATE_DELETING",
        "STATE_DELETED",
        "STATE_DISCONNECTED",
        "STATE_UPDATING_TOKEN",
        "STATE_PENDING_INVALID_TOKEN",
        "STATE_DISCONNECTED_INVALID_TOKEN",
        "STATE_UPDATING_ACCESS_LEVEL"
      ],
      "default": "STATE_UNSPECIFIED",
      "description": " - STATE_UPDATING: UPDATING should remain the default and generically used state.\nIf no custom status required, people should stick with UPDATING\nrather than proliferating UPDATING_* without an explicit need\n - STATE_UPDATING_TOKEN: UPDATING_TOKEN is an edge-case of UPDATING intended to be used so\nthat frontend can display a custom status for it.\n - STATE_UPDATING_ACCESS_LEVEL: STATE_UPDATING_ACCESS_LEVEL is an edge-case of UPDATING intended to be\nused so that frontend can display a custom status for it."
    },
    "hashicorp.cloud.global_network_manager_20220215.ClusterBootstrap": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "id is the name of the cluster"
        },
        "bootstrap_expect": {
          "type": "integer",
          "format": "int32",
          "title": "bootstrap_expect is the number of consul servers that is expected to join a quorum"
        },
        "gossip_key": {
          "type": "string",
          "title": "gossip_key is the consul gossip key for bootstrapping the configuration. Should we move this into a Secrets message?"
        },
        "server_tls": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ServerTLS",
          "description": "server_tls is the public key, private key and certificate_authorities for bootstrapping consul RPC TLS."
        },
        "consul_config": {
          "type": "string",
          "description": "consul_config is the embedded consul configuration. It will always return valid JSON."
        },
        "management_token": {
          "type": "string",
          "description": "management_token is the management token for this cluster."
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.ClusterPartitionPeer": {
      "type": "object",
      "properties": {
        "peering_connection_location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "title": "peering_connection_location is the location of the GNM peering connections"
        },
        "peering_connection_id": {
          "type": "string",
          "title": "peering_connection_id is the slug ID of the GNM peering connection"
        },
        "peer_name": {
          "type": "string",
          "title": "peer_name is the name of the peer"
        },
        "peer_cluster_location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "title": "peer_cluster_location is the location of the peer GNM cluster"
        },
        "peer_cluster_id": {
          "type": "string",
          "description": "peer_cluster_id is the user settable GNM cluster name of the peer."
        },
        "peer_partition_name": {
          "type": "string",
          "title": "peer_partition_name is the name of the admin partition on the peer cluster"
        },
        "peering_status": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.PeerState",
          "title": "peering_status is the state of this individual peer"
        },
        "last_heartbeat_timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "last_heartbeat_timestamp is the timestamp the last heartbeat was received from this peer cluster/partition."
        },
        "imported_services_count": {
          "type": "string",
          "format": "int64",
          "title": "imported_services_count is the total number of services imported from the peer cluster/partition"
        },
        "exported_services_count": {
          "type": "string",
          "format": "int64",
          "title": "exported_services_count is the total number of services exported to the peer cluster/partition"
        },
        "display_error": {
          "$ref": "#/definitions/google.rpc.Status",
          "title": "display_error is an error to give to the front end to determine on-going issues for customers"
        },
        "peering_connection_status": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.PeeringConnectionStatus",
          "title": "peering_connection_status is the overall status of the peering connection"
        },
        "peer_licensing": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Licensing",
          "title": "peer_licensing is the Consul licensing information of the peer GNM cluster"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.ClusterPartitionPeers": {
      "type": "object",
      "properties": {
        "cluster_id": {
          "type": "string",
          "description": "cluster_id is the user settable GNM cluster name."
        },
        "partition_name": {
          "type": "string",
          "title": "partition_name is the name of the admin partition on the cluster"
        },
        "peers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ClusterPartitionPeer"
          },
          "title": "peers is the list of cluster peers connected to the above cluster and partition"
        },
        "licensing": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Licensing",
          "title": "licensing is the Consul licensing information"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.ConsulMajorVersion": {
      "type": "object",
      "properties": {
        "end_of_life": {
          "type": "boolean"
        },
        "documentation": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "minor_versions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ConsulMinorVersion"
          }
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.ConsulMinorVersion": {
      "type": "object",
      "properties": {
        "cve": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cve_enterprise_only": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "documentation": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hcp_supported": {
          "type": "boolean"
        },
        "hcp_recommended": {
          "type": "boolean"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.CreateClusterResponse": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Cluster",
          "description": "cluster is the viewable representation of the cluster."
        },
        "client_id": {
          "type": "string",
          "description": "client_id is the oauth client_id used to authenticate consul to global-network-manager. This _may_ move into a separate secrets RPC later on."
        },
        "client_secret": {
          "type": "string",
          "description": "client_secret is the oauth client_secret used to authenticate consul to global-network-manager. This _may_ move into a separate secrets RPC later on."
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.CreatePeeringConnectionsResponse": {
      "type": "object",
      "properties": {
        "peering_connections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.PeeringConnection"
          }
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.DeleteClusterResponse": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Cluster",
          "title": "cluster is the viewable representation of the cluster"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.DeletePeeringConnectionResponse": {
      "type": "object"
    },
    "hashicorp.cloud.global_network_manager_20220215.GetAggregateServiceSummaryRequest.Filter": {
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "filters summaries to the provided cluster names. If empty, all are included"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.GetAggregateServiceSummaryResponse": {
      "type": "object",
      "properties": {
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "title": "location is the location of the services with an optional provider and region"
        },
        "total_services": {
          "type": "integer",
          "format": "int32",
          "description": "TODO: remove these fields in favor of just returning aggregate_service_summary_by_kind.\naggregate_service_summary_by_kind can be reduced to total fields (which this is currently)."
        },
        "total_service_instances": {
          "type": "integer",
          "format": "int32"
        },
        "passing_service_instances": {
          "type": "integer",
          "format": "int32"
        },
        "warning_service_instances": {
          "type": "integer",
          "format": "int32"
        },
        "critical_service_instances": {
          "type": "integer",
          "format": "int32"
        },
        "aggregate_service_summary_by_kind": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.AggregateServiceSummary"
          },
          "description": "aggregate_service_summary_by_kind breaks down service instance health by Service Kind."
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.GetClusterAPIInfoResponse": {
      "type": "object",
      "properties": {
        "api_url": {
          "type": "string",
          "title": "URL to access the Consul API"
        },
        "ui_url": {
          "type": "string",
          "title": "URL to the Consul UI"
        },
        "acl_token": {
          "type": "string",
          "title": "ACL token required to make request to the consul API through HTTP Proxy"
        },
        "version": {
          "type": "string",
          "title": "highest Consul server version"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.GetClusterManagementTokenDetailsResponse": {
      "type": "object",
      "properties": {
        "validity_status": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.TokenValidityStatus",
          "title": "validity_status is the token's validity status"
        },
        "invalid_reasons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.TokenInvalidReason"
          },
          "title": "invalid_reasons are the reasons why the token is invalid. If the token\nis not invalid (it is valid, unknown, or n/a), this will returned\n\"unspecified\". A token could potentially be invalid for multiple reasons,\nso lists all reasons"
        },
        "time_until_expiration": {
          "type": "string",
[...]
