# HCP Consul Docs
/content/docs/consul/* @hashicorp/consul-docs

# HCP Vault & HCP Vault Secrets docs
/content/docs/vault/*          @hashicorp/vault-education-approvers
/content/docs/vault-secrets/*  @hashicorp/vault-education-approvers

# HCP Boundary docs
/content/docs/boundary/*       @hashicorp/boundary-education-approvers