@import '@hashicorp/react-global-styles/custom-properties/color.css';
@import '@hashicorp/react-global-styles/custom-media.css';

#sub-nav {
  width: 100%;

  & .g-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  &.light {
    background-color: var(--white);
    color: var(--black);
  }

  &.dark {
    background-color: var(--black);
    color: var(--white);
  }

  & .root-link {
    color: var(--black);

    &:hover {
      opacity: 0.7;
    }
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
      display: inline-block;
    }
  }

  & .breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
      font-size: 1.25em;
      line-height: 1.6;
      padding: 1em 0;

      & + li:before {
        content: '/\00a0';
        font-weight: 300;
        margin: 0 0 0 3px;
      }

      &:nth-child(odd) {
        font-weight: 300;
      }

      &.active {
        font-weight: bold;
      }
    }
  }

  & .doc-links {
    & li {
      font-size: 0.875em;
      line-height: 1.7;
      margin: 0 10px;
      padding: 7px 0;

      @media (--medium-up) {
        margin: 0 20px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        border-bottom: 3px solid #1563ff;

        & a {
          opacity: 0.7;
        }
      }

      & a {
        color: inherit;
        cursor: pointer;
        display: block;
        text-decoration: none;

        &:hover {
          opacity: 0.7;
        }

        & svg {
          position: relative;
          top: 2px;
          width: 14px;
          height: 14px;
          margin-right: 3px;
        }
      }
    }
  }
}
