{
  "swagger": "2.0",
  "info": {
    "title": "HashiCorp Cloud Vault (HCV)",
    "description": "API for managing HashiCorp Cloud Vault clusters.",
    "version": "20200420"
  },
  "host": "api.cloud.hashicorp.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/vault/2020-04-20/organizations/{cluster.location.organization_id}/projects/{cluster.location.project_id}/clusters": {
      "post": {
        "operationId": "Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.CreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "cluster.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.CreateRequest"
            }
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{location.organization_id}/projects/{location.project_id}/clusters": {
      "get": {
        "operationId": "List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.ListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}": {
      "get": {
        "operationId": "Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.GetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "VaultService"
        ]
      },
      "delete": {
        "operationId": "Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.DeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/admintoken": {
      "get": {
        "operationId": "GetAdminToken",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.GetAdminTokenResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/auditlog": {
      "post": {
        "operationId": "FetchAuditLog",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.FetchAuditLogResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.FetchAuditLogRequest"
            }
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/auditlog/{log_id}": {
      "get": {
        "operationId": "GetAuditLogStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.GetAuditLogStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "log_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/disable-cors": {
      "delete": {
        "operationId": "DisableCORS",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.DisableCORSResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/get-cors-config": {
      "get": {
        "operationId": "GetCORSConfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.GetCORSConfigResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/public-ips": {
      "post": {
        "operationId": "UpdatePublicIps",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.UpdatePublicIpsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.UpdatePublicIpsRequest"
            }
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/restore": {
      "post": {
        "operationId": "RestoreSnapshot",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.RestoreSnapshotResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.RestoreSnapshotRequest"
            }
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/seal": {
      "post": {
        "operationId": "Seal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.SealResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.SealRequest"
            }
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/unseal": {
      "post": {
        "operationId": "Unseal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.UnsealResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.UnsealRequest"
            }
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/update-cors-config": {
      "post": {
        "operationId": "UpdateCORSConfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.UpdateCORSConfigResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.UpdateCORSConfigRequest"
            }
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{location.organization_id}/projects/{location.project_id}/snapshots/{snapshot_id}": {
      "get": {
        "operationId": "GetSnapshot",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.GetSnapshotResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "snapshot_id",
            "description": "snapshot_id represents the snapshot to get.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "VaultService"
        ]
      },
      "delete": {
        "operationId": "DeleteSnapshot",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.DeleteSnapshotResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "snapshot_id",
            "description": "snapshot_id represents the snapshot to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{resource.location.organization_id}/projects/{resource.location.project_id}/snapshots": {
      "get": {
        "operationId": "ListSnapshots",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.ListSnapshotsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "resource.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource.type",
            "description": "type is the unique type of the resource. Each service publishes a\nunique set of types. The type value is recommended to be formatted\nin \"\u003corg\u003e.\u003ctype\u003e\" such as \"hashicorp.hvn\". This is to prevent conflicts\nin the future, but any string value will work.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource.id",
            "description": "id is the identifier for this resource.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource.uuid",
            "description": "uuid is the unique UUID for this resource.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource.location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource.location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource.description",
            "description": "description is a human-friendly description for this link. This is\nused primarily for informational purposes such as error messages.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "VaultService"
        ]
      },
      "post": {
        "operationId": "CreateSnapshot",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.CreateSnapshotResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "resource.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.CreateSnapshotRequest"
            }
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    },
    "/vault/2020-04-20/organizations/{snapshot.location.organization_id}/projects/{snapshot.location.project_id}/snapshots/{snapshot.snapshot_id}": {
      "post": {
        "operationId": "UpdateSnapshot",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.UpdateSnapshotResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "snapshot.location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "snapshot.location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "snapshot.snapshot_id",
            "description": "snapshot_id is the snapshots UUID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.vault_20200420.UpdateSnapshotRequest"
            }
          }
        ],
        "tags": [
          "VaultService"
        ]
      }
    }
  },
  "definitions": {
    "google.protobuf.Any": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type."
        }
      },
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := ptypes.MarshalAny(foo)\n     ...\n     foo := \u0026pb.Foo{}\n     if err := ptypes.UnmarshalAny(any, foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "google.protobuf.FieldMask": {
      "type": "object",
      "properties": {
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of field mask paths."
        }
      },
      "description": "paths: \"f.a\"\n    paths: \"f.b.d\"\n\nHere `f` represents a field in some root message, `a` and `b`\nfields in the message found in `f`, and `d` a field found in the\nmessage in `f.b`.\n\nField masks are used to specify a subset of fields that should be\nreturned by a get operation or modified by an update operation.\nField masks also have a custom JSON encoding (see below).\n\n# Field Masks in Projections\n\nWhen used in the context of a projection, a response message or\nsub-message is filtered by the API to only contain those fields as\nspecified in the mask. For example, if the mask in the previous\nexample is applied to a response message as follows:\n\n    f {\n      a : 22\n      b {\n        d : 1\n        x : 2\n      }\n      y : 13\n    }\n    z: 8\n\nThe result will not contain specific values for fields x,y and z\n(their value will be set to the default, and omitted in proto text\noutput):\n\n\n    f {\n      a : 22\n      b {\n        d : 1\n      }\n    }\n\nA repeated field is not allowed except at the last position of a\npaths string.\n\nIf a FieldMask object is not present in a get operation, the\noperation applies to all fields (as if a FieldMask of all fields\nhad been specified).\n\nNote that a field mask does not necessarily apply to the\ntop-level response message. In case of a REST get operation, the\nfield mask applies directly to the response, but in case of a REST\nlist operation, the mask instead applies to each individual message\nin the returned resource list. In case of a REST custom method,\nother definitions may be used. Where the mask applies will be\nclearly documented together with its declaration in the API.  In\nany case, the effect on the returned resource/resources is required\nbehavior for APIs.\n\n# Field Masks in Update Operations\n\nA field mask in update operations specifies which fields of the\ntargeted resource are going to be updated. The API is required\nto only change the values of the fields as specified in the mask\nand leave the others untouched. If a resource is passed in to\ndescribe the updated values, the API ignores the values of all\nfields not covered by the mask.\n\nIf a repeated field is specified for an update operation, new values will\nbe appended to the existing repeated field in the target resource. Note that\na repeated field is only allowed in the last position of a `paths` string.\n\nIf a sub-message is specified in the last position of the field mask for an\nupdate operation, then new value will be merged into the existing sub-message\nin the target resource.\n\nFor example, given the target message:\n\n    f {\n      b {\n        d: 1\n        x: 2\n      }\n      c: [1]\n    }\n\nAnd an update message:\n\n    f {\n      b {\n        d: 10\n      }\n      c: [2]\n    }\n\nthen if the field mask is:\n\n paths: [\"f.b\", \"f.c\"]\n\nthen the result will be:\n\n    f {\n      b {\n        d: 10\n        x: 2\n      }\n      c: [1, 2]\n    }\n\nAn implementation may provide options to override this default behavior for\nrepeated and message fields.\n\nIn order to reset a field's value to the default, the field must\nbe in the mask and set to the default value in the provided resource.\nHence, in order to reset all fields of a resource, provide a default\ninstance of the resource and set all fields in the mask, or do\nnot provide a mask as described below.\n\nIf a field mask is not present on update, the operation applies to\nall fields (as if a field mask of all fields has been specified).\nNote that in the presence of schema evolution, this may mean that\nfields the client does not know and has therefore not filled into\nthe request will be reset to their default. If this is unwanted\nbehavior, a specific service may require a client to always specify\na field mask, producing an error if not.\n\nAs with get operations, the location of the resource which\ndescribes the updated values in the request message depends on the\noperation kind. In any case, the effect of the field mask is\nrequired to be honored by the API.\n\n## Considerations for HTTP REST\n\nThe HTTP kind of an update operation which uses a field mask must\nbe set to PATCH instead of PUT in order to satisfy HTTP semantics\n(PUT must only be used for full updates).\n\n# JSON Encoding of Field Masks\n\nIn JSON, a field mask is encoded as a single string where paths are\nseparated by a comma. Fields name in each path are converted\nto/from lower-camel naming conventions.\n\nAs an example, consider the following message declarations:\n\n    message Profile {\n      User user = 1;\n      Photo photo = 2;\n    }\n    message User {\n      string display_name = 1;\n      string address = 2;\n    }\n\nIn proto a field mask for `Profile` may look as such:\n\n    mask {\n      paths: \"user.display_name\"\n      paths: \"photo\"\n    }\n\nIn JSON, the same mask is represented as below:\n\n    {\n      mask: \"user.displayName,photo\"\n    }\n\n# Field Masks and Oneof Fields\n\nField masks treat fields in oneofs just as regular fields. Consider the\nfollowing message:\n\n    message SampleMessage {\n      oneof test_oneof {\n        string name = 4;\n        SubMessage sub_message = 9;\n      }\n    }\n\nThe field mask can be:\n\n    mask {\n      paths: \"name\"\n    }\n\nOr:\n\n    mask {\n      paths: \"sub_message\"\n    }\n\nNote that oneof type names (\"test_oneof\" in this case) cannot be used in\npaths.\n\n## Field Mask Verification\n\nThe implementation of any API method which has a FieldMask type field in the\nrequest should verify the included field paths, and return an\n`INVALID_ARGUMENT` error if any path is duplicated or unmappable.",
      "title": "`FieldMask` represents a set of symbolic field paths, for example:"
    },
    "google.rpc.Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of\n[google.rpc.Code][google.rpc.Code]."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\n[google.rpc.Status.details][google.rpc.Status.details] field, or localized\nby the client."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/google.protobuf.Any"
          },
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use."
        }
      },
      "description": "- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error\nmessage, and error details. The error code should be an enum value of\n[google.rpc.Code][google.rpc.Code], but it may accept additional error codes\nif needed.  The error message should be a developer-facing English message\nthat helps developers *understand* and *resolve* the error. If a localized\nuser-facing error message is needed, put the localized message in the error\ndetails or localize it in the client. The optional error details may contain\narbitrary information about the error. There is a predefined set of error\ndetail types in the package `google.rpc` that can be used for common error\nconditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
      "title": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). The error model is designed to be:"
    },
    "grpc.gateway.runtime.Error": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/google.protobuf.Any"
          }
        }
      }
    },
    "hashicorp.cloud.common.PaginationRequest": {
      "type": "object",
      "properties": {
        "page_size": {
          "type": "integer",
          "format": "int64",
          "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted."
        },
        "next_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set."
        },
        "previous_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set."
        }
      },
      "description": "PaginationRequest are the parameters for a paginated list request."
    },
    "hashicorp.cloud.common.PaginationResponse": {
      "type": "object",
      "properties": {
        "next_page_token": {
          "type": "string",
          "description": "This token allows you to get the next page of results for list requests.\nIf the number of results is larger than `page_size`, use the\n`next_page_token` as a value for the query parameter `next_page_token` in\nthe next request. The value will become empty when there are no more pages."
        },
        "previous_page_token": {
          "type": "string",
          "description": "This token allows you to get the previous page of results for list\nrequests. If the number of results is larger than `page_size`, use the\n`previous_page_token` as a value for the query parameter\n`previous_page_token` in the next request. The value will become empty when\nthere are no more pages."
        }
      },
      "description": "PaginationResponse is the response holding the page tokens for a paginated\nlist response."
    },
    "hashicorp.cloud.location.Link": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "type is the unique type of the resource. Each service publishes a\nunique set of types. The type value is recommended to be formatted\nin \"\u003corg\u003e.\u003ctype\u003e\" such as \"hashicorp.hvn\". This is to prevent conflicts\nin the future, but any string value will work."
        },
        "id": {
          "type": "string",
          "description": "id is the identifier for this resource."
        },
        "uuid": {
          "type": "string",
          "description": "uuid is the unique UUID for this resource."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the location where this resource is."
        },
        "description": {
          "type": "string",
          "description": "description is a human-friendly description for this link. This is\nused primarily for informational purposes such as error messages."
        }
      },
      "description": "Link is used to uniquely reference any resource within HashiCorp Cloud.\nThis can be conceptually considered a \"foreign key\"."
    },
    "hashicorp.cloud.location.Location": {
      "type": "object",
      "properties": {
        "organization_id": {
          "type": "string",
          "description": "organization_id is the id of the organization."
        },
        "project_id": {
          "type": "string",
          "description": "project_id is the projects id."
        },
        "region": {
          "$ref": "#/definitions/hashicorp.cloud.location.Region",
          "description": "region is the region that the resource is located in. It is\noptional if the object being referenced is a global object."
        }
      },
      "description": "Location represents a target for an operation in HCP."
    },
    "hashicorp.cloud.location.Region": {
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "title": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")"
        },
        "region": {
          "type": "string",
          "title": "region is the cloud region (\"us-west1\", \"us-east1\")"
        }
      },
      "description": "Region identifies a Cloud data-plane region."
    },
    "hashicorp.cloud.operation.Operation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "id is the unique ID for this operation used in other RPC calls.\nThis ID is only guaranteed to be unique within the region that\nthe operation is running in."
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation.State",
          "description": "state is the current state of the operation. This is a simple tri-state:\nPENDING means the operation is created but not yet started, RUNNING means\nthe operation is currently running (though it may be very long-running),\nand DONE means the operation is complete whether successfully or not."
        },
        "error": {
          "$ref": "#/definitions/google.rpc.Status",
          "description": "error is the error that occurred in the operation."
        },
        "response": {
          "$ref": "#/definitions/google.protobuf.Any",
          "description": "response is the result of the operation. See the documentation for the API\ncall creating the operation to understand what the value of this is."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "Location is location of the resource that this operation belongs to."
        },
        "link": {
          "$ref": "#/definitions/hashicorp.cloud.location.Link",
          "description": "Link is the resource link the operation is associated with."
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "CreatedAt is the timestamp of when the operation was first created."
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "UpdatedAt is the timestamp of when the operation was last updated."
        }
      },
      "description": "Operation represents a single operation."
    },
    "hashicorp.cloud.operation.Operation.State": {
      "type": "string",
      "enum": [
        "PENDING",
        "RUNNING",
        "DONE",
        "QUEUED"
      ],
      "default": "PENDING",
      "description": "State is one of the states that an Operation can be in.\n\nThe states are purposely coarse grained to make it easy to understand\nthe operation state machine: pending =\u003e running =\u003e done. Or pending =\u003e\nqueued =\u003e running =\u003e done. No other state transitions are possible.\nSuccess/failure can be determined based on the result oneof."
    },
    "hashicorp.cloud.vault_20200420.AuditConfig": {
      "type": "object",
      "properties": {
        "audit_logs_disabled": {
          "type": "boolean"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.AuditLog": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "id is the id of the audit log download"
        },
        "cluster_id": {
          "type": "string",
          "title": "cluster_id is the cluster id that this download backs"
        },
        "interval_start": {
          "type": "string",
          "format": "date-time",
          "title": "interval_start"
        },
        "interval_end": {
          "type": "string",
          "format": "date-time",
          "title": "interval_end"
        },
        "download_url": {
          "type": "string",
          "description": "download_url is the URL which can be used to retrieve the audit logs."
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.AuditLog.State",
          "title": "state is the current state of the download"
        },
        "finished_at": {
          "type": "string",
          "format": "date-time",
          "description": "finished_at is the timestamp of when the download was ready."
        },
        "expires_at": {
          "type": "string",
          "format": "date-time",
          "description": "expires_at is the timestamp of when the cluster was first created."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the location of the cluster."
        }
      },
      "title": "AuditLog represents a request for audit logs to download"
    },
    "hashicorp.cloud.vault_20200420.AuditLog.State": {
      "type": "string",
      "enum": [
        "UNSET",
        "PENDING",
        "CREATING",
        "READY",
        "FAILED",
        "EXPIRED"
      ],
      "default": "UNSET",
      "description": "State is the state of download.\n\n - UNSET: UNSET is a sentinel zero value so that an uninitialized value can be\ndetected.\n - PENDING: PENDING is the initial state before the workflow starts.\n - CREATING: CREATING is the state used when the download is being prepared.\n - READY: READY is the completed state when the download is ready\n - FAILED: FAILED is a failure state in which the download is not created\n - EXPIRED: EXPIRED is the state that the download hits when it is no longer\naccessible for download"
    },
    "hashicorp.cloud.vault_20200420.CORSConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "enabled is true if CORS is enabled for this cluster."
        },
        "allowed_origins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "allowed_origins returns the allowed origins."
        },
        "allowed_headers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "allowed_headers returns the allowed headers."
        }
      },
      "title": "CORSConfig is the CORS configuration on the Vault cluster"
    },
    "hashicorp.cloud.vault_20200420.CapacityConfig": {
      "type": "object",
      "properties": {
        "num_servers": {
          "type": "integer",
          "format": "int32",
          "description": "num_servers is the number of nodes this Vault cluster should have."
        }
      }
    },
    "hashicorp.cloud.vault_20200420.Cluster": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "id is ID of the Vault cluster."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the location of the cluster."
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.Cluster.State",
          "description": "state is the current state of the cluster."
        },
        "config": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.ClusterConfig",
          "description": "config holds the configuration of the cluster."
        },
        "dns_names": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.Cluster.DNSNames",
          "description": "DNSNames holds all of the cluster's DNS names."
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "created_at is the timestamp of when the cluster was first created."
        },
        "current_version": {
          "type": "string",
          "description": "currently_deployed_version is the version of the currrent Vault deployment."
        }
      },
      "description": "Cluster represents a single Vault cluster."
    },
    "hashicorp.cloud.vault_20200420.Cluster.DNSNames": {
      "type": "object",
      "properties": {
        "private": {
          "type": "string",
          "description": "private is the DNS name pointing to the cluster's private IP addresses."
        },
        "public": {
          "type": "string",
          "description": "public is the DNS name pointing to the cluster's public IP addresses."
        }
      },
      "description": "DNSNames holds all of the cluster's DNS names."
    },
    "hashicorp.cloud.vault_20200420.Cluster.State": {
      "type": "string",
      "enum": [
        "UNSET",
        "PENDING",
        "CREATING",
        "RUNNING",
        "FAILED",
        "UPDATING",
        "RESTORING",
        "DELETING",
        "DELETED",
        "SEALING",
        "SEALED",
        "UNSEALING"
      ],
      "default": "UNSET",
      "description": "State is the state of the Vault cluster. Note that this state\nrepresents the abstract Vault cluster itself, not necessarily whether\nVault cluster is currently available or not.\n\n - UNSET: UNSET is a sentinel zero value so that an uninitialized value can be\ndetected.\n - PENDING: PENDING is the state the cluster is in while it is waiting to be created.\n - CREATING: CREATING is the state the cluster is in while it is being provisioned for\nthe first time.\n - RUNNING: RUNNING is the steady state while the cluster is running.\n - FAILED: FAILED is a failure state in which the cluster is unavailable and may\nrequired an operator restore action to recover.\n - UPDATING: UPDATING is the state the cluster is in while undergoing a version\nupdate.\n - RESTORING: RESTORING is the state the cluster is in while restoring from a snapshot.\n - DELETING: DELETING is the state the cluster is in while it is being de-provisioned.\n - DELETED: DELETED is the state the cluster is in when it has been de-provisioned. At\nthis point, the cluster is eligible for garbage collection.\n - SEALING: SEALING is the state the cluster is in when it is about to get sealed.\n - SEALED: SEALED is the state the cluster is in while a cluster is sealed.\n - UNSEALING: UNSEALING is the state the cluster is in when it is about to get unsealed."
    },
    "hashicorp.cloud.vault_20200420.ClusterConfig": {
      "type": "object",
      "properties": {
        "vault_config": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.VaultConfig"
        },
        "network_config": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.NetworkConfig"
        },
        "maintenance_config": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.MaintenanceConfig"
        },
        "snapshot_config": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.SnapshotConfig"
        },
        "capacity_config": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.CapacityConfig"
        },
        "vault_access": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.VaultAccess"
        },
        "public_ips_disabled": {
          "type": "boolean"
        },
        "audit_config": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.AuditConfig"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.CreateRequest": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.Cluster"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.CreateResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation"
        },
        "cluster_id": {
          "type": "string"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.CreateSnapshotRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "name is the user provided name of the snapshot."
        },
        "resource": {
          "$ref": "#/definitions/hashicorp.cloud.location.Link",
          "title": "resource specifies the link to the resource to snapshot"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.CreateSnapshotResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation"
        },
        "snapshot_id": {
          "type": "string"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.DeleteResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.DeleteSnapshotResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "operation represents the deletion of the requested snapshot."
        }
      },
      "description": "DeleteSnapshotResponse is a response to deleting a snapshot."
    },
    "hashicorp.cloud.vault_20200420.DisableCORSResponse": {
      "type": "object"
    },
    "hashicorp.cloud.vault_20200420.FetchAuditLogRequest": {
      "type": "object",
      "properties": {
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location"
        },
        "cluster_id": {
          "type": "string"
        },
        "interval_start": {
          "type": "string",
          "format": "date-time"
        },
        "interval_end": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.FetchAuditLogResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation"
        },
        "log_id": {
          "type": "string"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.GetAdminTokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.GetAuditLogStatusResponse": {
      "type": "object",
      "properties": {
        "log": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.AuditLog"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.GetCORSConfigResponse": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "enabled returns true if CORS is enabled."
        },
        "allowed_origins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "allowed_origins are the allowed origins."
        },
        "allowed_headers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "allowed_headers are the allowed headers."
        }
      }
    },
    "hashicorp.cloud.vault_20200420.GetResponse": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.Cluster"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.GetSnapshotResponse": {
      "type": "object",
      "properties": {
        "snapshot": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.Snapshot",
          "description": "snapshot is the requested snapshot."
        }
      },
      "description": "GetSnapshotResponse is a response for retrieving a snapshot's information."
    },
    "hashicorp.cloud.vault_20200420.ListResponse": {
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.vault_20200420.Cluster"
          }
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.ListSnapshotsResponse": {
      "type": "object",
      "properties": {
        "snapshots": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.vault_20200420.Snapshot"
          },
          "description": "snapshots is a list of available snapshots."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination contains the pagination tokens for a subsequent request."
        }
      },
      "description": "ListSnapshotsResponse is a response from listing snapshots."
    },
    "hashicorp.cloud.vault_20200420.MaintenanceConfig": {
      "type": "object"
    },
    "hashicorp.cloud.vault_20200420.NetworkConfig": {
      "type": "object",
      "properties": {
        "network_id": {
          "type": "string",
          "description": "network_id is the ID of the network the Vault cluster belongs to."
        },
        "public_ips_disabled": {
          "type": "boolean",
          "description": "public_ips_disabled indicates if public IP's are disabled."
        },
        "cors_config": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.CORSConfig"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.RestoreSnapshotRequest": {
      "type": "object",
      "properties": {
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location"
        },
        "cluster_id": {
          "type": "string"
        },
        "snapshot_id": {
          "type": "string"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.RestoreSnapshotResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.SealRequest": {
      "type": "object",
      "properties": {
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location"
        },
        "cluster_id": {
          "type": "string"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.SealResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.Snapshot": {
      "type": "object",
      "properties": {
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the location of the Snapshot."
        },
        "snapshot_id": {
          "type": "string",
          "description": "snapshot_id is the snapshots UUID."
        },
        "cluster_id": {
          "type": "string",
          "description": "cluster_id is the cluster id that this snapshot backs."
        },
        "name": {
          "type": "string",
          "title": "Name of the snapshot"
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.Snapshot.State",
          "description": "state is represents the current status for this snapshot."
        },
        "requested_at": {
          "type": "string",
          "format": "date-time",
          "description": "requested_at notes the time that this snapshot was requested."
        },
        "finished_at": {
          "type": "string",
          "format": "date-time",
          "description": "finished_at notes the time that this snapshot was finished."
        },
        "vault_version": {
          "type": "string",
          "description": "vault_version is the version of the Vault cluster this snapshot was taken from."
        },
        "type": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.Snapshot.Type",
          "description": "type is the type of snapshot."
        }
      },
      "description": "Snapshot is our representation needed to back-up a Vault cluster."
    },
    "hashicorp.cloud.vault_20200420.Snapshot.State": {
      "type": "string",
      "enum": [
        "UNSET",
        "PENDING",
        "CREATING",
        "STORED",
        "FAILED",
        "DELETING"
      ],
      "default": "UNSET",
      "title": "SnapshotState represents the lifecycle of snapshots"
    },
    "hashicorp.cloud.vault_20200420.Snapshot.Type": {
      "type": "string",
      "enum": [
        "TYPE_UNSET",
        "AUTOMATIC",
        "SCHEDULED",
        "MANUAL",
        "BEFORE_UPGRADE"
      ],
      "default": "TYPE_UNSET",
      "description": "Type represents the type of snapshots."
    },
    "hashicorp.cloud.vault_20200420.SnapshotConfig": {
      "type": "object",
      "properties": {
        "periodic_snapshots_disabled": {
          "type": "boolean",
          "title": "periodic_snapshots_disabled indicates if automated periodic snapshots should be disabled"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.UnsealRequest": {
      "type": "object",
      "properties": {
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location"
        },
        "cluster_id": {
          "type": "string"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.UnsealResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.UpdateCORSConfigRequest": {
      "type": "object",
      "properties": {
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location"
        },
        "cluster_id": {
          "type": "string"
        },
        "allowed_origins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "allowed_origins sets the allowed origins."
        },
        "allowed_headers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "allowed_headers sets the allowed headers."
        }
      }
    },
    "hashicorp.cloud.vault_20200420.UpdateCORSConfigResponse": {
      "type": "object"
    },
    "hashicorp.cloud.vault_20200420.UpdatePublicIpsRequest": {
      "type": "object",
      "properties": {
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location"
        },
        "cluster_id": {
          "type": "string"
        },
        "enable_public_ips": {
          "type": "boolean"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.UpdatePublicIpsResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "operation represents the operation of the request."
        }
      }
    },
    "hashicorp.cloud.vault_20200420.UpdateSnapshotRequest": {
      "type": "object",
      "properties": {
        "snapshot": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.Snapshot",
          "description": "snapshot contains the fields to update.\n\nSupported fields: name"
        },
        "mask": {
          "$ref": "#/definitions/google.protobuf.FieldMask",
          "description": "mask is the mask of fields to update."
        }
      },
      "description": "UpdateSnapshotRequest is a request to update a snapshot."
    },
    "hashicorp.cloud.vault_20200420.UpdateSnapshotResponse": {
      "type": "object",
      "properties": {
        "snapshot": {
          "$ref": "#/definitions/hashicorp.cloud.vault_20200420.Snapshot",
          "description": "snapshot is the updated snapshot."
        }
      },
      "description": "UpdateSnapshotResponse is a response to updating a snapshot."
    },
    "hashicorp.cloud.vault_20200420.VaultAccess": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        },
        "root_token": {
          "type": "string"
        },
        "recovery_key": {
          "type": "string"
        }
      }
    },
    "hashicorp.cloud.vault_20200420.VaultConfig": {
      "type": "object",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "namespace is the name of the customer namespace."
        },
        "initial_version": {
          "type": "string",
          "description": "initial_version is the initial Vault version to use when creating the\ncluster. Once the cluster is created, this value is no longer used."
        },
        "max_lease_ttl": {
          "type": "string",
          "description": "max_lease_ttl is the max lease ttl for this Vault cluster."
        }
      }
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "description": "Authentication token, prefixed by Bearer: Bearer \u003ctoken\u003e",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ]
}
