{
  "swagger": "2.0",
  "info": {
    "title": "HashiCorp Cloud Platform Boundary",
    "description": "API for managing Boundary clusters.",
    "version": "2021-02-21"
  },
  "host": "api.cloud.hashicorp.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/boundary/2021-12-21/organizations/{location.organization_id}/projects/{location.project_id}/clusters": {
      "get": {
        "summary": "List returns all existing HCP Boundary Clusters.",
        "operationId": "BoundaryService_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.ListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "BoundaryService"
        ]
      },
      "post": {
        "summary": "Create creates a new HCP Boundary cluster.",
        "operationId": "BoundaryService_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.CreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.CreateRequest"
            }
          }
        ],
        "tags": [
          "BoundaryService"
        ]
      }
    },
    "/boundary/2021-12-21/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}": {
      "get": {
        "summary": "Get returns a single existing HCP Boundary cluster.",
        "operationId": "BoundaryService_Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.GetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "description": "cluster_id is the id of the cluster set by user on creation.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "BoundaryService"
        ]
      },
      "delete": {
        "summary": "Delete deletes the specified HCP Boundary cluster.",
        "operationId": "BoundaryService_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.DeleteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "description": "cluster_id is the id of the cluster set by user on creation.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "BoundaryService"
        ]
      },
      "post": {
        "summary": "Update triggers checks if update for the specific cluster is needed and forces an update.",
        "operationId": "BoundaryService_Update",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.UpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "description": "cluster_id is the id of the cluster set by user on creation.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.UpdateRequest"
            }
          }
        ],
        "tags": [
          "BoundaryService"
        ]
      }
    },
    "/boundary/2021-12-21/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/controller-configuration": {
      "get": {
        "summary": "GetControllerConfiguration is used to retrieve the controller configuration values of a specified Boundary\ncluster.",
        "operationId": "BoundaryService_GetControllerConfiguration",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.GetControllerConfigurationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "description": "The cluster name as set by the user on cluster creation.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "BoundaryService"
        ]
      },
      "delete": {
        "summary": "ResetControllerConfiguration is used to reset a cluster's controller configuration to its default values.",
        "operationId": "BoundaryService_ResetControllerConfiguration",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.ResetControllerConfigurationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "description": "The cluster name as set by the user on cluster creation.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "BoundaryService"
        ]
      },
      "put": {
        "summary": "UpdateControllerConfiguration is used to modify the controller configuration values of a specified Boundary\ncluster.",
        "operationId": "BoundaryService_UpdateControllerConfiguration",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.UpdateControllerConfigurationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "description": "The cluster name as set by the user on cluster creation.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.UpdateControllerConfigurationRequest"
            }
          }
        ],
        "tags": [
          "BoundaryService"
        ]
      }
    },
    "/boundary/2021-12-21/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/maintenance-window": {
      "get": {
        "summary": "MaintenanceWindowGet is used to fetch the type of maintenance for the given cluster.\nMaintenance can either be automatic or scheduled, if scheduled the response returns\nthe window set by the user.",
        "operationId": "BoundaryService_MaintenanceWindowGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.MaintenanceWindowGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "description": "cluster_id is the id of the cluster set by user on creation.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "BoundaryService"
        ]
      },
      "post": {
        "summary": "MaintenanceWindowUpdate sets maintenance window for update version",
        "operationId": "BoundaryService_MaintenanceWindowUpdate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.MaintenanceWindowUpdateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "description": "cluster_id is the ID of the cluster to set the maintenance window for.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.MaintenanceWindowUpdateRequest"
            }
          }
        ],
        "tags": [
          "BoundaryService"
        ]
      }
    },
    "/boundary/2021-12-21/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/sessions": {
      "get": {
        "summary": "Sessions returns all session information for existing HCP Boundary Cluster.",
        "operationId": "BoundaryService_Sessions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.SessionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "description": "cluster_id is the id of the cluster set by user on creation.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "BoundaryService"
        ]
      }
    },
    "/boundary/2021-12-21/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/update": {
      "post": {
        "summary": "UpdateApply is used to manually update a cluster to a specific version.",
        "operationId": "BoundaryService_UpdateApply",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.UpdateApplyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "description": "cluster_id is the id of the cluster set by user on creation.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.UpdateApplyRequest"
            }
          }
        ],
        "tags": [
          "BoundaryService"
        ]
      }
    },
    "/boundary/2021-12-21/organizations/{location.organization_id}/projects/{location.project_id}/clusters/{cluster_id}/update-deadline": {
      "get": {
        "summary": "ClusterUpdateDeadlineGet is used to get the deadline for a cluster update.",
        "operationId": "BoundaryService_ClusterUpdateDeadlineGet",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.ClusterUpdateDeadlineGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/grpc.gateway.runtime.Error"
            }
          }
        },
        "parameters": [
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cluster_id",
            "description": "cluster_id is the id of the cluster set by user on creation.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\").",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\").",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "BoundaryService"
        ]
      }
    }
  },
  "definitions": {
    "google.protobuf.Any": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type."
        }
      },
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := \u0026pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "google.rpc.Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of\n[google.rpc.Code][google.rpc.Code]."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\n[google.rpc.Status.details][google.rpc.Status.details] field, or localized\nby the client."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/google.protobuf.Any"
          },
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "grpc.gateway.runtime.Error": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/google.protobuf.Any"
          }
        }
      }
    },
    "hashicorp.cloud.boundary_20211221.Cluster": {
      "type": "object",
      "properties": {
        "cluster_id": {
          "type": "string",
          "description": "cluster_id is the id of the cluster set by user on creation."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the location of the cluster."
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.Cluster.State",
          "description": "state is the current state of the cluster."
        },
        "cluster_url": {
          "type": "string",
          "description": "cluster_url is the generated vanity url."
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "created_at is the timestamp of the cluster creation."
        },
        "boundary_version": {
          "type": "string",
          "description": "boundary_version is the version of the HCP Boundary running in this cluster."
        },
        "marketing_sku": {
          "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.ClusterMarketingSKU",
          "title": "marketing_sku is the marketing sku of the cluster [standard, plus]"
        }
      },
      "description": "Cluster represents a single HCP Boundary cluster."
    },
    "hashicorp.cloud.boundary_20211221.Cluster.State": {
      "type": "string",
      "enum": [
        "STATE_INVALID_UNSPECIFIED",
        "STATE_PENDING",
        "STATE_CREATING",
        "STATE_RUNNING",
        "STATE_FAILED",
        "STATE_DELETING",
        "STATE_DELETED",
        "STATE_UPDATING"
      ],
      "default": "STATE_INVALID_UNSPECIFIED",
      "description": "State is the state of the HCP Boundary cluster.\n\n - STATE_INVALID_UNSPECIFIED: STATE_INVALID_UNSPECIFIED is used when the cluster state is not valid.\n - STATE_PENDING: STATE_PENDING is used when the cluster is waiting for creation.\n - STATE_CREATING: STATE_CREATING is used when the cluster is being created.\n - STATE_RUNNING: STATE_RUNNING is used when the cluster is up and running.\n - STATE_FAILED: STATE_FAILED is used when cluster creation failed.\n - STATE_DELETING: STATE_DELETING is used when cluster deletion is in progress.\n - STATE_DELETED: STATE_DELETED is used when the cluster has been deleted.\n - STATE_UPDATING: STATE_UPDATING is used when an upgrade is in progress for the cluster."
    },
    "hashicorp.cloud.boundary_20211221.ClusterMarketingSKU": {
      "type": "string",
      "enum": [
        "CLUSTER_MARKETING_SKU_UNSPECIFIED",
        "CLUSTER_MARKETING_SKU_STANDARD",
        "CLUSTER_MARKETING_SKU_PLUS"
      ],
      "default": "CLUSTER_MARKETING_SKU_UNSPECIFIED",
      "description": "- CLUSTER_MARKETING_SKU_UNSPECIFIED: CLUSTER_MARKETING_SKU_UNSPECIFIED is unspecified\n - CLUSTER_MARKETING_SKU_STANDARD: CLUSTER_MARKETING_SKU_STANDARD is 'standard' SKU\n - CLUSTER_MARKETING_SKU_PLUS: CLUSTER_MARKETING_SKU_PLUS is a 'plus' SKU",
      "title": "ClusterMarketingSKU is available SKUs for HCP Boundary clusters used for in billing and enterprise feature"
    },
    "hashicorp.cloud.boundary_20211221.ClusterUpdateDeadline": {
      "type": "object",
      "properties": {
        "deadline": {
          "type": "string",
          "format": "date-time",
          "description": "deadline denotes when the update will be forced."
        },
        "version": {
          "type": "string",
          "description": "version contains the target version for the pending update."
        }
      },
      "description": "ClusterUpdateDeadline describes the deadline before a cluster update."
    },
    "hashicorp.cloud.boundary_20211221.ClusterUpdateDeadlineGetResponse": {
      "type": "object",
      "properties": {
        "deadline": {
          "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.ClusterUpdateDeadline",
          "description": "ClusterUpdateDeadline contains the deadline for the next update."
        }
      },
      "description": "ClusterUpdateDeadlineGetResponse is the response for fetching the deadline for a cluster update."
    },
    "hashicorp.cloud.boundary_20211221.ControllerConfiguration": {
      "type": "object",
      "properties": {
        "auth_token_time_to_live": {
          "type": "string",
          "description": "Maximum time to live (TTL) for all auth tokens globally (pertains to all tokens from all auth methods)."
        },
        "auth_token_time_to_stale": {
          "type": "string",
          "description": "Maximum time of inactivity for all auth tokens globally (pertains to all tokens from all auth methods)."
        }
      },
      "description": "The ControllerConfiguration type contains fields from the Boundary cluster controller configuration that can be\nmodified."
    },
    "hashicorp.cloud.boundary_20211221.CreateRequest": {
      "type": "object",
      "properties": {
        "cluster_id": {
          "type": "string",
          "description": "cluster_id is the id of the cluster set by user on creation."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the location of the cluster."
        },
        "username": {
          "type": "string",
          "title": "username is the admin username to setup for initial login"
        },
        "password": {
          "type": "string",
          "title": "password is the initial password to use to setup initial login"
        },
        "boundary_release": {
          "type": "string",
          "title": "boundary_release is the boundary version to deploy"
        },
        "marketing_sku": {
          "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.ClusterMarketingSKU",
          "title": "marketing_sku is the marketing sku of the cluster [standard, plus]"
        },
        "enable_hcp_auth": {
          "type": "boolean",
          "description": "enable_hcp_auth determines whether the cluster is preconfigured with HCP Oauth as an\nauthentication method."
        },
        "controller_config": {
          "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.ControllerConfiguration",
          "description": "controller_config contains controller-specific configuration values to apply to the cluster's\ncontrollers on creation."
        }
      },
      "description": "CreateRequest is a request to create a single HCP Boundary cluster."
    },
    "hashicorp.cloud.boundary_20211221.CreateResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "operation tracks the asynchronous creation of the Boundary cluster."
        },
        "cluster_id": {
          "type": "string",
          "description": "cluster_id is the ID of the Boundary cluster that users set on creation."
        },
        "cluster_url": {
          "type": "string",
          "description": "cluster_url is the generated vanity url."
        }
      },
      "description": "CreateResponse is a response on cluster creation."
    },
    "hashicorp.cloud.boundary_20211221.DeleteResponse": {
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation",
          "description": "operation tracks the asynchronous creation of the Boundary cluster."
        }
      },
      "description": "DeleteResponse is a response from cluster deletion."
    },
    "hashicorp.cloud.boundary_20211221.GetControllerConfigurationResponse": {
      "type": "object",
      "properties": {
        "config": {
          "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.ControllerConfiguration",
          "description": "The controller configuration values."
        }
      },
      "description": "The GetControllerConfigurationResponse type is the response given when querying a cluster's controller\nconfiguration."
    },
    "hashicorp.cloud.boundary_20211221.GetResponse": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.Cluster",
          "description": "Cluster represents a single HCP Boundary cluster."
        }
      },
      "description": "GetResponse is a response from getting an existing cluster."
    },
    "hashicorp.cloud.boundary_20211221.ListResponse": {
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.Cluster"
          },
          "description": "Clusters are the retrieved Boundary clusters."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination contains the pagination tokens for a subsequent request."
        }
      },
      "description": "ListResponse is a response of the list request."
    },
    "hashicorp.cloud.boundary_20211221.MaintenanceWindow": {
      "type": "object",
      "properties": {
        "day_of_week": {
          "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.MaintenanceWindow.DayOfWeek",
          "title": "day_of_week is the one of 7 days in a week"
        },
        "start": {
          "type": "integer",
          "format": "int32",
          "title": "start is the start hour of the window in UTC"
        },
        "end": {
          "type": "integer",
          "format": "int32",
          "title": "end is the last hour of the window in UTC (exclusive)"
        }
      },
      "title": "MaintenanceWindow is the time window in which upgrades will occur"
    },
    "hashicorp.cloud.boundary_20211221.MaintenanceWindow.DayOfWeek": {
      "type": "string",
      "enum": [
        "DAY_OF_WEEK_UNSPECIFIED",
        "DAY_OF_WEEK_MONDAY",
        "DAY_OF_WEEK_TUESDAY",
        "DAY_OF_WEEK_WEDNESDAY",
        "DAY_OF_WEEK_THURSDAY",
        "DAY_OF_WEEK_FRIDAY",
        "DAY_OF_WEEK_SATURDAY",
        "DAY_OF_WEEK_SUNDAY"
      ],
      "default": "DAY_OF_WEEK_UNSPECIFIED",
      "description": "- DAY_OF_WEEK_UNSPECIFIED: DAY_OF_WEEK_UNSPECIFIED is an unspecified DayOfWeek\n - DAY_OF_WEEK_MONDAY: DAY_OF_WEEK_MONDAY is Monday\n - DAY_OF_WEEK_TUESDAY: DAY_OF_WEEK_TUESDAY is Tuesday\n - DAY_OF_WEEK_WEDNESDAY: DAY_OF_WEEK_WEDNESDAY is Wednesday\n - DAY_OF_WEEK_THURSDAY: DAY_OF_WEEK_THURSDAY is Thursday\n - DAY_OF_WEEK_FRIDAY: DAY_OF_WEEK_FRIDAY is Friday\n - DAY_OF_WEEK_SATURDAY: DAY_OF_WEEK_SATURDAY is Saturday\n - DAY_OF_WEEK_SUNDAY: DAY_OF_WEEK_SUNDAY is Sunday",
      "title": "DayOfWeek is the days of the week enumerated"
    },
    "hashicorp.cloud.boundary_20211221.MaintenanceWindowGetResponse": {
      "type": "object",
      "properties": {
        "upgrade_type": {
          "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.UpgradeType",
          "description": "upgrade_type contains upgrade methods set for this clusters."
        },
        "maintenance_window": {
          "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.MaintenanceWindow",
          "description": "maintenance_window contains time frame that user set we want to update the cluster."
        }
      },
      "description": "MaintenanceWindowGetResponse is a response for fetching the maintenance set for this cluster."
    },
    "hashicorp.cloud.boundary_20211221.MaintenanceWindowUpdateRequest": {
      "type": "object",
      "properties": {
        "cluster_id": {
          "type": "string",
          "description": "cluster_id is the ID of the cluster to set the maintenance window for."
        },
        "upgrade_type": {
          "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.UpgradeType",
          "title": "upgrade_type contains upgrade methods for the clusters"
        },
        "maintenance_window": {
          "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.MaintenanceWindow",
          "description": "maintenance_window contains time frame that we want to update the cluster."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the location of the cluster."
        }
      },
      "description": "MaintenanceWindowUpdateRequest is the request to update the maintenance window for a cluster."
    },
    "hashicorp.cloud.boundary_20211221.MaintenanceWindowUpdateResponse": {
      "type": "object",
      "description": "MaintenanceWindowUpdateResponse is the response to update the maintenance window for a cluster."
    },
    "hashicorp.cloud.boundary_20211221.ResetControllerConfigurationResponse": {
      "type": "object",
      "description": "The ResetControllerConfigurationResponse type is the response given when resetting a cluster's controller\nconfiguration."
    },
    "hashicorp.cloud.boundary_20211221.Session": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "id is the ID of the Session."
        },
        "type": {
          "type": "string",
          "description": "type is the type of the Session (e.g. tcp)."
        },
        "status": {
          "type": "string",
          "description": "status is the current status of this session."
        }
      },
      "description": "Session represents single Boundary session."
    },
    "hashicorp.cloud.boundary_20211221.SessionsResponse": {
      "type": "object",
      "properties": {
        "sessions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.Session"
          },
          "description": "Sessions are the retrieved list of Boundary sessions."
        }
      },
      "description": "SessionsResponse is a response from getting an existing cluster."
    },
    "hashicorp.cloud.boundary_20211221.UpdateApplyRequest": {
      "type": "object",
      "properties": {
        "cluster_id": {
          "type": "string",
          "description": "cluster_id is the id of the cluster set by user on creation."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the location of the cluster."
        },
        "version": {
          "type": "string",
          "description": "version contains the desired boundary version."
        }
      },
      "description": "UpdateApplyRequest is the request for manually updating this cluster."
    },
    "hashicorp.cloud.boundary_20211221.UpdateApplyResponse": {
      "type": "object",
      "description": "UpdateApplyResponse is the response once manually triggering a cluster update."
    },
    "hashicorp.cloud.boundary_20211221.UpdateControllerConfigurationRequest": {
      "type": "object",
      "properties": {
        "cluster_id": {
          "type": "string",
          "description": "The cluster name as set by the user on cluster creation."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "The location of the cluster."
        },
        "config": {
          "$ref": "#/definitions/hashicorp.cloud.boundary_20211221.ControllerConfiguration",
          "description": "The new configuration values."
        }
      },
      "description": "The UpdateControllerConfigurationRequest type is the request used when modifying a cluster's controller\nconfiguration."
    },
    "hashicorp.cloud.boundary_20211221.UpdateControllerConfigurationResponse": {
      "type": "object",
      "description": "The UpdateControllerConfigurationResponse type is the response given when modifying a cluster's controller\nconfiguration."
    },
    "hashicorp.cloud.boundary_20211221.UpdateRequest": {
      "type": "object",
      "properties": {
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "Location specifies the project to list from. If region is not specified,\nall regions are returned."
        },
        "cluster_id": {
          "type": "string",
          "description": "cluster_id is the id of the cluster set by user on creation."
        }
      },
      "description": "UpdateRequest is the request for updating HCP Boundary."
    },
    "hashicorp.cloud.boundary_20211221.UpdateResponse": {
      "type": "object",
      "description": "UpdateResponse is a response of the update request."
    },
    "hashicorp.cloud.boundary_20211221.UpgradeType": {
      "type": "string",
      "enum": [
        "UPGRADE_TYPE_UNSPECIFIED",
        "UPGRADE_TYPE_AUTOMATIC",
        "UPGRADE_TYPE_SCHEDULED",
        "UPGRADE_TYPE_MANUAL"
      ],
      "default": "UPGRADE_TYPE_UNSPECIFIED",
      "description": "- UPGRADE_TYPE_UNSPECIFIED: UPGRADE_TYPE_UNSPECIFIED is an unspecified upgrade type\n - UPGRADE_TYPE_AUTOMATIC: UPGRADE_TYPE_AUTOMATIC is the upgrade type where we pick the schedule\n - UPGRADE_TYPE_SCHEDULED: UPGRADE_TYPE_SCHEDULED is the upgrade type where the user picks the schedule\n - UPGRADE_TYPE_MANUAL: UPGRADE_TYPE_MANUAL is the upgrade type where the user can manually trigger the upgrade before a set window,\nafter which the cluster will be automatically upgraded.",
      "title": "UpgradeType is the upgrade method for the cluster"
    },
    "hashicorp.cloud.common.PaginationRequest": {
      "type": "object",
      "properties": {
        "page_size": {
          "type": "integer",
          "format": "int64",
          "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted."
        },
        "next_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set."
        },
        "previous_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set."
        }
      },
      "description": "PaginationRequest are the parameters for a paginated list request."
    },
    "hashicorp.cloud.common.PaginationResponse": {
      "type": "object",
      "properties": {
        "next_page_token": {
          "type": "string",
          "description": "This token allows you to get the next page of results for list requests.\nIf the number of results is larger than `page_size`, use the\n`next_page_token` as a value for the query parameter `next_page_token` in\nthe next request. The value will become empty when there are no more pages."
        },
        "previous_page_token": {
          "type": "string",
          "description": "This token allows you to get the previous page of results for list\nrequests. If the number of results is larger than `page_size`, use the\n`previous_page_token` as a value for the query parameter\n`previous_page_token` in the next request. The value will become empty when\nthere are no more pages."
        }
      },
      "description": "PaginationResponse is the response holding the page tokens for a paginated\nlist response."
    },
    "hashicorp.cloud.location.Link": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "type is the unique type of the resource. Each service publishes a\nunique set of types. The type value is recommended to be formatted\nin \"\u003corg\u003e.\u003ctype\u003e\" such as \"hashicorp.hvn\". This is to prevent conflicts\nin the future, but any string value will work."
        },
        "id": {
          "type": "string",
          "description": "id is the identifier for this resource."
        },
        "uuid": {
          "type": "string",
          "description": "uuid is the unique UUID for this resource."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "location is the location where this resource is."
        },
        "description": {
          "type": "string",
          "description": "description is a human-friendly description for this link. This is\nused primarily for informational purposes such as error messages."
        }
      },
      "description": "Link is used to uniquely reference any resource within HashiCorp Cloud.\nThis can be conceptually considered a \"foreign key\"."
    },
    "hashicorp.cloud.location.Location": {
      "type": "object",
      "properties": {
        "organization_id": {
          "type": "string",
          "description": "organization_id is the id of the organization."
        },
        "project_id": {
          "type": "string",
          "description": "project_id is the projects id."
        },
        "region": {
          "$ref": "#/definitions/hashicorp.cloud.location.Region",
          "description": "region is the region that the resource is located in. It is\noptional if the object being referenced is a global object."
        }
      },
      "description": "Location represents a target for an operation in HCP."
    },
    "hashicorp.cloud.location.Region": {
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "title": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")"
        },
        "region": {
          "type": "string",
          "title": "region is the cloud region (\"us-west1\", \"us-east1\")"
        }
      },
      "description": "Region identifies a Cloud data-plane region."
    },
    "hashicorp.cloud.operation.Operation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "id is the unique ID for this operation used in other RPC calls.\nThis ID is only guaranteed to be unique within the region that\nthe operation is running in."
        },
        "state": {
          "$ref": "#/definitions/hashicorp.cloud.operation.Operation.State",
          "description": "state is the current state of the operation. This is a simple tri-state:\nPENDING means the operation is created but not yet started, RUNNING means\nthe operation is currently running (though it may be very long-running),\nand DONE means the operation is complete whether successfully or not."
        },
        "error": {
          "$ref": "#/definitions/google.rpc.Status",
          "description": "error is the error that occurred in the operation."
        },
        "response": {
          "$ref": "#/definitions/google.protobuf.Any",
          "description": "response is the result of the operation. See the documentation for the API\ncall creating the operation to understand what the value of this is."
        },
        "location": {
          "$ref": "#/definitions/hashicorp.cloud.location.Location",
          "description": "Location is location of the resource that this operation belongs to."
        },
        "link": {
          "$ref": "#/definitions/hashicorp.cloud.location.Link",
          "description": "Link is the resource link the operation is associated with."
        }
      },
      "description": "Operation represents a single operation."
    },
    "hashicorp.cloud.operation.Operation.State": {
      "type": "string",
      "enum": [
        "PENDING",
        "RUNNING",
        "DONE",
        "QUEUED"
      ],
      "default": "PENDING",
      "description": "State is one of the states that an Operation can be in.\n\nThe states are purposely coarse grained to make it easy to understand\nthe operation state machine: pending =\u003e running =\u003e done. Or pending =\u003e\nqueued =\u003e running =\u003e done. No other state transitions are possible.\nSuccess/failure can be determined based on the result oneof."
    }
  },
  "securityDefinitions": {
    "bearer": {
      "type": "apiKey",
      "description": "Authentication token, prefixed by Bearer: Bearer \u003ctoken\u003e",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "bearer": []
    }
  ]
}
