{
  "swagger": "2.0",
  "info": {
    "title": "HashiCorp Cloud Platform Webhook Service",
    "description": "API for delivering and managing webhooks.",
    "version": "2023-05-31"
  },
  "tags": [
    {
      "name": "WebhookService"
    }
  ],
  "host": "api.cloud.hashicorp.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/2023-05-31/webhook/{parent_resource_name}/webhooks": {
      "get": {
        "summary": "Lists all existing webhooks in an HCP project.",
        "operationId": "WebhookService_ListWebhooks",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.webhook.ListWebhooksResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "The parent resource of a webhook is an HCP project. A project's resource name format is `project/\u003cproject-id\u003e`.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "project/[^/]+"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sorting.order_by",
            "description": "Specifies the list of per field ordering that should be used for sorting. \nThe order matters as rows are sorted in order by fields and when the field\nmatches, the next field is used to tie break the ordering.\nThe per field default ordering is ascending.  \n\nThe fields should be immutabile, unique, and orderable. If the field is\nnot unique, more than one sort fields should be passed.\n\nExample: oder_by=name,age desc,created_at asc\nIn that case, 'name' will get the default 'ascending' order.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "WebhookService"
        ]
      },
      "post": {
        "summary": "Creates an enabled webhook that is optionally subscribed to the resources' lifecycle events.",
        "operationId": "WebhookService_CreateWebhook",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.webhook.CreateWebhookResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "The parent resource of a webhook is an HCP project. A project's resource name format is `project/\u003cproject-id\u003e`.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "project/[^/]+"
          },
          {
            "name": "body",
            "description": "The information to create a webhook.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.webhook.CreateWebhookRequestBody"
            }
          }
        ],
        "tags": [
          "WebhookService"
        ]
      }
    },
    "/2023-05-31/{parent_resource_name}/deliveries": {
      "get": {
        "summary": "Lists all the deliveries from the last 90 days for a webhook.",
        "operationId": "WebhookService_ListWebhookDeliveries",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.webhook.ListWebhookDeliveriesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "The parent resource of webhook deliveries is a webhook.\nA webhook's resource name format name is `webhook/project/\u003cproject-id\u003e/geo/\u003cgeography\u003e/webhook/\u003cwebhook-name\u003e`.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "webhook/project/[^/]+/geo/[^/]+/webhook/[^/]+"
          },
          {
            "name": "pagination.page_size",
            "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sorting.order_by",
            "description": "Specifies the list of per field ordering that should be used for sorting. \nThe order matters as rows are sorted in order by fields and when the field\nmatches, the next field is used to tie break the ordering.\nThe per field default ordering is ascending.  \n\nThe fields should be immutabile, unique, and orderable. If the field is\nnot unique, more than one sort fields should be passed.\n\nExample: oder_by=name,age desc,created_at asc\nIn that case, 'name' will get the default 'ascending' order.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "WebhookService"
        ]
      }
    },
    "/2023-05-31/{resource_name}": {
      "get": {
        "summary": "Gets an existing webhook.",
        "operationId": "WebhookService_GetWebhook",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.webhook.GetWebhookResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name",
            "description": "The webhook resource name.\nA webhook's resource name format name is `webhook/project/\u003cproject-id\u003e/geo/\u003cgeography\u003e/webhook/\u003cwebhook-name\u003e`.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "webhook/project/[^/]+/geo/[^/]+/webhook/[^/]+"
          }
        ],
        "tags": [
          "WebhookService"
        ]
      },
      "delete": {
        "summary": "Deletes a webhook and all of its delivery records.",
        "operationId": "WebhookService_DeleteWebhook",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.webhook.DeleteWebhookResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name",
            "description": "The webhook resource name.\nA webhook's resource name format name is `webhook/project/\u003cproject-id\u003e/geo/\u003cgeography\u003e/webhook/\u003cwebhook-name\u003e`.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "webhook/project/[^/]+/geo/[^/]+/webhook/[^/]+"
          }
        ],
        "tags": [
          "WebhookService"
        ]
      },
      "patch": {
        "summary": "Updates a webhook configuration and subscriptions and sets the status to `enabled` or `disabled`.",
        "operationId": "WebhookService_UpdateWebhook",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.webhook.UpdateWebhookResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name",
            "description": "The webhook resource name.\nA webhook's resource name format name is `webhook/project/\u003cproject-id\u003e/geo/\u003cgeography\u003e/webhook/\u003cwebhook-name\u003e`.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "webhook/project/[^/]+/geo/[^/]+/webhook/[^/]+"
          },
          {
            "name": "body",
            "description": "The information to update a webhook.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.webhook.UpdateWebhookRequestBody"
            }
          }
        ],
        "tags": [
          "WebhookService"
        ]
      }
    },
    "/2023-05-31/{resource_name}/name": {
      "patch": {
        "summary": "Updates a webhook name. Updating a webhook name changes its resource name.",
        "operationId": "WebhookService_UpdateWebhookName",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.webhook.UpdateWebhookNameResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name",
            "description": "The webhook resource name.\nA webhook's resource name format name is `webhook/project/\u003cproject-id\u003e/geo/\u003cgeography\u003e/webhook/\u003cwebhook-name\u003e`.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "webhook/project/[^/]+/geo/[^/]+/webhook/[^/]+"
          },
          {
            "name": "body",
            "description": "The information to update a webhook name.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.webhook.UpdateWebhookNameRequestBody"
            }
          }
        ],
        "tags": [
          "WebhookService"
        ]
      }
    }
  },
  "definitions": {
    "google.protobuf.Any": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "google.protobuf.NullValue": {
      "type": "string",
      "enum": [
        "NULL_VALUE"
      ],
      "default": "NULL_VALUE",
      "description": "`NullValue` is a singleton enumeration to represent the null value for the\n`Value` type union.\n\n The JSON representation for `NullValue` is JSON `null`.\n\n - NULL_VALUE: Null value."
    },
    "google.rpc.Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/google.protobuf.Any"
          }
        }
      }
    },
    "hashicorp.cloud.common.PaginationRequest": {
      "type": "object",
      "properties": {
        "page_size": {
          "type": "integer",
          "format": "int64",
          "description": "The max number of results per page that should be returned. If the number\nof available results is larger than `page_size`, a `next_page_token` is\nreturned which can be used to get the next page of results in subsequent\nrequests. A value of zero will cause `page_size` to be defaulted."
        },
        "next_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the next page. Set this to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set."
        },
        "previous_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the previous page. Set this to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set."
        }
      },
      "description": "PaginationRequest are the parameters for a paginated list request."
    },
    "hashicorp.cloud.common.PaginationResponse": {
      "type": "object",
      "properties": {
        "next_page_token": {
          "type": "string",
          "description": "This token allows you to get the next page of results for list requests.\nIf the number of results is larger than `page_size`, use the\n`next_page_token` as a value for the query parameter `next_page_token` in\nthe next request. The value will become empty when there are no more pages."
        },
        "previous_page_token": {
          "type": "string",
          "description": "This token allows you to get the previous page of results for list\nrequests. If the number of results is larger than `page_size`, use the\n`previous_page_token` as a value for the query parameter\n`previous_page_token` in the next request. The value will become empty when\nthere are no more pages."
        }
      },
      "description": "PaginationResponse is the response holding the page tokens for a paginated\nlist response."
    },
    "hashicorp.cloud.common.SortingRequest": {
      "type": "object",
      "properties": {
        "order_by": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the list of per field ordering that should be used for sorting. \nThe order matters as rows are sorted in order by fields and when the field\nmatches, the next field is used to tie break the ordering.\nThe per field default ordering is ascending.  \n\nThe fields should be immutabile, unique, and orderable. If the field is\nnot unique, more than one sort fields should be passed.\n\nExample: oder_by=name,age desc,created_at asc\nIn that case, 'name' will get the default 'ascending' order."
        }
      },
      "description": "SortingRequest are the parameters for a sorted list request."
    },
    "hashicorp.cloud.webhook.CreateWebhookRequestBody": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The webhook name."
        },
        "description": {
          "type": "string",
          "description": "The webhook description. Useful for providing a summary of the webhook."
        },
        "config": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.WebhookConfig",
          "description": "The required information for delivering event payloads."
        },
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.webhook.WebhookSubscription"
          },
          "description": "The resource lifecycle events that this webhook is subscribed to."
        },
        "test_payload": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.WebhookPayload",
          "description": "The optional payload used to deliver a test request to validate the webhook configuration.\nIf not set, the webhook service delivers a generic payload."
        },
        "enabled": {
          "type": "boolean",
          "x-nullable": true,
          "description": "When set to 'true', a verification request will be sent and the webhook created enabled and only if the verification succeeds.\nWhen set to 'false', the webhook configuration won't be verified and the webhook created disabled.\nWhen left unset, a verification request will be sent and the webhook will be created enabled if it succeeds,\nor disabled if it fails."
        }
      }
    },
    "hashicorp.cloud.webhook.CreateWebhookResponse": {
      "type": "object",
      "properties": {
        "webhook": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.Webhook",
          "description": "The newly create webhook."
        }
      }
    },
    "hashicorp.cloud.webhook.DeleteWebhookResponse": {
      "type": "object"
    },
    "hashicorp.cloud.webhook.GetWebhookResponse": {
      "type": "object",
      "properties": {
        "webhook": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.Webhook",
          "description": "The fetched webhook."
        }
      }
    },
    "hashicorp.cloud.webhook.ListWebhookDeliveriesResponse": {
      "type": "object",
      "properties": {
        "deliveries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.webhook.WebhookDelivery"
          },
          "description": "The list of webhook deliveries."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination tokens for a subsequent request."
        }
      }
    },
    "hashicorp.cloud.webhook.ListWebhooksResponse": {
      "type": "object",
      "properties": {
        "webhooks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.webhook.Webhook"
          },
          "description": "The list of webhooks."
        },
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "description": "Pagination tokens for a subsequent request."
        }
      }
    },
    "hashicorp.cloud.webhook.TestWebhookRequestBody": {
      "type": "object",
      "properties": {
        "webhook_resource_id": {
          "type": "string",
          "description": "The optional webhook UUID. If specified, the test is stored as a delivery for this webhook."
        },
        "config": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.WebhookConfig",
          "description": "The required information necessary for delivering the test payload."
        },
        "test_payload": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.WebhookPayload",
          "description": "The optional testing payload to send to the webhook. If not set, the webhook service delivers a generic payload."
        }
      }
    },
    "hashicorp.cloud.webhook.TestWebhookResponse": {
      "type": "object"
    },
    "hashicorp.cloud.webhook.UpdateWebhookNameRequestBody": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The updated name for the webhook."
        }
      }
    },
    "hashicorp.cloud.webhook.UpdateWebhookNameResponse": {
      "type": "object",
      "properties": {
        "webhook": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.Webhook",
          "description": "The updated webhook."
        }
      }
    },
    "hashicorp.cloud.webhook.UpdateWebhookRequestBody": {
      "type": "object",
      "properties": {
        "webhook": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.Webhook",
          "description": "The webhook to update."
        },
        "update_mask": {
          "type": "string",
          "description": "The required mask of webhook fields to update. The endpoint converts field names to the lower-camel naming convention.\nFields that you can update are `description`, `config`, `subscriptions`, and `enabled`.\n\nExample of usage:\n* `\"description,config\"` updates the description, `config.url`, and `config.hmac_key`.\n* `\"config.hmacKey\"` only updates `config.hmac_key`.\n* `\"description,config,subscriptions,enabled\"` update all allowed fields."
        },
        "test_payload": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.WebhookPayload",
          "description": "The optional payload used to deliver a test request to validate the webhook configuration.\nThe endpoint only sends the test payload when the `webhook.config` is updated or webhook is enabled.\nOthewise, the webhook service delivers a generic payload."
        }
      }
    },
    "hashicorp.cloud.webhook.UpdateWebhookResponse": {
      "type": "object",
      "properties": {
        "webhook": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.Webhook",
          "description": "The updated webhook."
        }
      }
    },
    "hashicorp.cloud.webhook.Webhook": {
      "type": "object",
      "properties": {
        "resource_id": {
          "type": "string",
          "description": "Unique identifier for the platform."
        },
        "resource_name": {
          "type": "string",
          "description": "The human-readable identifier for the platform. For example, `webhooks/project/\u003cproject-id\u003e/geo/\u003cgeography\u003e/webhook/\u003cwebhook-name\u003e`."
        },
        "description": {
          "type": "string",
          "description": "The description of this webhook."
        },
        "config": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.WebhookConfig",
          "description": "The information for delivering event payloads."
        },
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.webhook.WebhookSubscription"
          },
          "description": "The resource events this webhook is subscribed to."
        },
        "enabled": {
          "type": "boolean",
          "description": "When `true`, this parameter indicates that the webhook is enabled and is able to receive payloads for the subscribed events."
        },
        "last_delivery": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.WebhookDelivery",
          "description": "The latest delivery to the webhook."
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The time the webhook was created."
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The time the webhook was last updated."
        }
      }
    },
    "hashicorp.cloud.webhook.WebhookConfig": {
      "type": "object",
      "properties": {
        "hmac_key": {
          "type": "string",
          "description": "The optional HMAC key used to sign all requests."
        },
        "url": {
          "type": "string",
          "description": "The HTTP or HTTPS endpoint URL that HCP Packer delivers the requests to."
        }
      },
      "description": "The webhook configuration used to deliver event payloads."
    },
    "hashicorp.cloud.webhook.WebhookDelivery": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier for the delivery."
        },
        "webhook_resource_id": {
          "type": "string",
          "description": "The ID of the webhook to which the payload was delivered."
        },
        "request": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.WebhookRequest",
          "description": "The request that delivers the event payload."
        },
        "response": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.WebhookResponse",
          "description": "The response received from the external webhook service when a request was sent to deliver the payload."
        },
        "retries": {
          "type": "integer",
          "format": "int32",
          "description": "The number of times HCP Packer resent the request before successfully delivering the payload."
        }
      },
      "description": "The information about a webhook delivery, such as the sent request, the received response, and how many times\nthe webhook service retried to send the delivery in case of failure."
    },
    "hashicorp.cloud.webhook.WebhookPayload": {
      "type": "object",
      "properties": {
        "resource_id": {
          "type": "string",
          "description": "The ID of the resource the event is related to."
        },
        "resource_name": {
          "type": "string",
          "description": "The name of the resource the event is related to."
        },
        "event_id": {
          "type": "string",
          "description": "The unique identifier for the event generated by the services that own the resources. The value format is: `\u003cservice\u003e.event:\u003crandom string\u003e`,\nfor example, `packer.event:t79BRg8WhTmDPBRM`."
        },
        "event_action": {
          "type": "string",
          "description": "The type of action performed by this event, for example `create`."
        },
        "event_description": {
          "type": "string",
          "description": "The event description, for example `Created iteration`."
        },
        "event_source": {
          "type": "string",
          "description": "Refers to the source of the event, for example `hashicorp.packer.version`.\nThe event source type may differ from the resource that the webhook is subscribed to when the event is from a\ndescendent resource.\nFor example, webhooks subscribed to `hashicorp.packer.registry` receive events for the descendant's resources,\nsuch as a `hashicorp.packer.version`."
        },
        "event_version": {
          "type": "string",
          "description": "The version of the payload being sent."
        },
        "event_payload": {
          "type": "object",
          "description": "The payload containing information about the resource's lifecycle event. The lifecycle event is defined by the services that own the resources."
        }
      },
      "description": "The payload that is delivered as the body of the request made to the webhook's destination URL."
    },
    "hashicorp.cloud.webhook.WebhookRequest": {
      "type": "object",
      "properties": {
        "headers": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The request headers."
        },
        "url": {
          "type": "string",
          "description": "The request's destination URL."
        },
        "payload": {
          "$ref": "#/definitions/hashicorp.cloud.webhook.WebhookPayload",
          "description": "The request body."
        },
        "sent_at": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC time the request was sent."
        }
      },
      "description": "The information about the request made to deliver an event payload."
    },
    "hashicorp.cloud.webhook.WebhookResponse": {
      "type": "object",
      "properties": {
        "status_code": {
          "type": "integer",
          "format": "int32",
          "description": "The response status code."
        },
        "headers": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The response headers."
        },
        "body": {
          "type": "string",
          "description": "The response body."
        }
      },
      "description": "The information about the response received after delivering an event payload."
    },
    "hashicorp.cloud.webhook.WebhookSubscription": {
      "type": "object",
      "properties": {
        "resource_id": {
          "type": "string",
          "description": "Refers to the resource the webhook is subscribed to.\nIf not set, the webhook subscribes to the emitted events listed in `events`\nfor any resource in the webhook's project."
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.webhook.WebhookSubscriptionEvent"
          },
          "description": "The list of resource lifecycle events that the webhook is subscribed to.\nEvents are a combination of event source and event action.\nFor example, `hashicorp.packer.version:create`.\nThe wildcard(`*`) subscribes the webhook to all the source's events, for example `hashicorp.packer.version:*`."
        }
      },
      "description": "The information about a webhook subscription.\nA webhook can either provide the `resource_id` to subscribe to events generated by a specific resource,\nor they can subscribe to the available events for all resources in the webhook's project when the `resource_id` is omitted."
    },
    "hashicorp.cloud.webhook.WebhookSubscriptionEvent": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "description": "The type of action of this event, such as `create`, `update`, or `delete`.\nWhen the action is '*', it means that the webhook is subscribed to all event actions for the event source."
        },
        "source": {
          "type": "string",
          "description": "The source of the event, such as `hashicorp.packer.version`."
        }
      },
      "description": "The information about an event type of a webhook subscription."
    }
  },
  "securityDefinitions": {
    "bearer": {
      "type": "apiKey",
      "description": "Authentication token, prefixed by Bearer: Bearer \u003ctoken\u003e",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "bearer": []
    }
  ]
}
