{
  "swagger": "2.0",
  "info": {
    "title": "HashiCorp Cloud Platform Consul Central",
    "description": "This page provides an API reference for the HCP Consul Central API, a RESTful API for the hosted management plane service available through HCP Consul. HCP Consul Central is an interface that centralizes management operations across all of your Consul clusters. It provides global visibility and control for both HashiCorp-managed and self-managed Consul clusters, even when you deploy services in multiple cloud environments and regions.\n\nRefer to the [HCP Consul Central API Overview](/hcp/docs/consul/api) for more information and instructions on how to authenticate and interact with the API.",
    "version": "2023-10-10"
  },
  "tags": [
    {
      "name": "ConsulCloudManagerService"
    }
  ],
  "host": "api.cloud.hashicorp.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/2023-10-10/consul/{parent_resource_name}/clusters": {
      "get": {
        "operationId": "List Clusters",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.ListClustersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "Parent Resource name will be of the form `project/\u003cproject_id\u003e`",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "project/[^/]+"
          },
          {
            "name": "pagination.page_size",
            "description": "The maximum number of results per page to return. If the number \nof available results is larger than `page_size`, a `next_page_token` is\nreturned, which you can use to get the next page of results in subsequent\nrequests. A value of zero causes `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this parameter to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this parameter to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Query param filter: `name` of the cluster",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "description": "Query param filter: `state` of the cluster. This can be combination of `creating`, 'pending', `running`, `disconnected`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "type",
            "description": "Query param filter: `type` of the cluster. This can be combination of `self_managed`, `hcp-managed`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "order_by",
            "description": "Sorts the services based on a field. Allowed fields: `name`, `state`, `created_at`. The value needs to be of the format \u003c{name/state/created_at} {asc/desc}\u003e. For example: `name asc`, `state desc`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Clusters"
        ]
      }
    },
    "/2023-10-10/consul/{project_resource_name}/nodes": {
      "get": {
        "summary": "Nodes API",
        "operationId": "List Nodes",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.ListNodesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "project_resource_name",
            "description": "Project resource name of the project to which the node belongs. Resource name will be of the form `project/\u003cproject_id\u003e`",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "project/[^/]+"
          },
          {
            "name": "pagination.page_size",
            "description": "The maximum number of results per page to return. If the number \nof available results is larger than `page_size`, a `next_page_token` is\nreturned, which you can use to get the next page of results in subsequent\nrequests. A value of zero causes `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this parameter to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this parameter to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Query param filter: list of `name` of the nodes",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "cluster_name",
            "description": "Query param filter: list of `name` of the cluster",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "address",
            "description": "Query param filter: list of `address`",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "partition",
            "description": "Query param filter: list of `partition`",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "order_by",
            "description": "Sorts the nodes based on a field. Allowed fields: `name`, `partition`, `created_at`, `updated_at` The value needs to be of the format `\u003cField Name\u003e {asc/desc}` For example: `name`, `partition asc`, `name desc`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "include_synthetic_nodes",
            "description": "Include synthetic nodes in response",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Nodes"
        ]
      }
    },
    "/2023-10-10/consul/{project_resource_name}/services": {
      "get": {
        "summary": "Services APIs",
        "operationId": "List Services",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ListServicesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "project_resource_name",
            "description": "Parent Resource name will be of the form `project/\u003cproject_id\u003e`",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "project/[^/]+"
          },
          {
            "name": "pagination.page_size",
            "description": "The maximum number of results per page to return. If the number \nof available results is larger than `page_size`, a `next_page_token` is\nreturned, which you can use to get the next page of results in subsequent\nrequests. A value of zero causes `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this parameter to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this parameter to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "Sorts the services based on a field. Allowed fields: `name`, `health`. The value needs to be of the format `\u003cField Name\u003e {asc/desc}` For example: `name`, `name asc`, `name desc`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "partition",
            "description": "Query param filter: `partition` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace",
            "description": "Query param filter: `namespace` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "description": "Query param filter: `status` of the service. This can be combination of `passing`, `warning`, `critical`, `none`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "kind",
            "description": "Query param filter: `kind` of the service. This can be combination of `typical`, `connect-proxy`, `destination`, `api_gateway`, `ingress_gateway`, `terminating_gateway`, `mesh_gateway`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "in_mesh",
            "description": "Query param filter: whether the service is in the service mesh or not. Possible values: `true` or `false`.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mtls_mode",
            "description": "Query param filter: mTLS mode of the service. Possible values: `permissive`, `strict`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "cluster_ids",
            "description": "Query param filter: `cluster_id` of the service.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "query",
            "description": "Search query to filter by. Searches across service `name`, `cluster_id`, `partition`, `namespace`, `sameness_group`, `tags`.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "external_sources",
            "description": "Query param filter: `external_sources`. Returns a service when service's external sources overlap with the external sources specified.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Services"
        ]
      }
    },
    "/2023-10-10/{cluster_resource_name}/node/{node}/service/{service_name}/instance/{instance_id}": {
      "get": {
        "operationId": "Get Service Instance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.GetServiceInstanceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "cluster_resource_name",
            "description": "Cluster resource name will be of the form `consul/project/\u003cproject_id\u003e/cluster/\u003ccluster_id\u003e`",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "consul/project/[^/]+/cluster/[^/]+"
          },
          {
            "name": "node",
            "description": "Name of the node on which the service instance resides.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "service_name",
            "description": "Name of the service.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance_id",
            "description": "Unique identifier for the service instance.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "namespace",
            "description": "Namespace where the service is deployed.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "partition",
            "description": "Partition where the service is deployed.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Service Instances"
        ]
      }
    },
    "/2023-10-10/{cluster_resource_name}/service/{service_name}": {
      "get": {
        "operationId": "Get Service",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.GetServiceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "cluster_resource_name",
            "description": "Cluster Resource Name will be of the form `consul/project/\u003cproject_id\u003e/cluster/\u003ccluster_id\u003e`",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "consul/project/[^/]+/cluster/[^/]+"
          },
          {
            "name": "service_name",
            "description": "The `name` of the service.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "partition",
            "description": "Query param filter: `partition` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace",
            "description": "Query param filter: `namespace` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Services"
        ]
      }
    },
    "/2023-10-10/{cluster_resource_name}/service/{service_name}/instances": {
      "get": {
        "summary": "Instances APIs",
        "operationId": "List Service Instances",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ListServiceInstancesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "cluster_resource_name",
            "description": "Cluster resource name will be of the form `consul/project/\u003cproject_id\u003e/cluster/\u003ccluster_id\u003e`",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "consul/project/[^/]+/cluster/[^/]+"
          },
          {
            "name": "service_name",
            "description": "Unique identifier for the service instance.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pagination.page_size",
            "description": "The maximum number of results per page to return. If the number \nof available results is larger than `page_size`, a `next_page_token` is\nreturned, which you can use to get the next page of results in subsequent\nrequests. A value of zero causes `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this parameter to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this parameter to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace",
            "description": "Query param filter: `namespace` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "partition",
            "description": "Query param filter: `partition` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "description": "Search query to filter by. Searches across `id` and `tags`.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "description": "Query param filter: `status` of the service. This can be combination of `passing`, `warning`, `critical`, `none`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "order_by",
            "description": "Sorts the services based on a field. Allowed fields: id, health.\nThe value needs to be of the format `\u003cField Name\u003e {asc/desc}` For example: `id`, `id asc`, `health desc`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Service Instances"
        ]
      }
    },
    "/2023-10-10/{cluster_resource_name}/services": {
      "get": {
        "operationId": "List Cluster Services",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ListClusterServicesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "cluster_resource_name",
            "description": "Cluster resource name will be of the form `consul/project/\u003cproject_id\u003e/cluster/\u003ccluster_id\u003e`",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "consul/project/[^/]+/cluster/[^/]+"
          },
          {
            "name": "pagination.page_size",
            "description": "The maximum number of results per page to return. If the number \nof available results is larger than `page_size`, a `next_page_token` is\nreturned, which you can use to get the next page of results in subsequent\nrequests. A value of zero causes `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this parameter to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this parameter to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "Sorts the services based on a field. Allowed fields: `name`, `health`. The value needs to be of the format \u003c{name/health} {asc/desc}\u003e For example: `name asc`, `health desc`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "partition",
            "description": "Query param filter: `partition` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "namespace",
            "description": "Query param filter: `namespace` of the service.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "description": "Query param filter: `status` of the service. This can be combination of `passing`, `warning`, `critical`, `none`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "kind",
            "description": "Query param filter: `kind` of the service. This can be combination of `typical`, `connect-proxy`, `destination`, `api-gateway`, `ingress-gateway`, `terminating-gateway`, `mesh-gateway`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "in_mesh",
            "description": "Query param filter: whether the service is in the service mesh or not. Possible values: `true` or `false`.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "mtls_mode",
            "description": "Query param filter: mTLS mode of the service. Possible value: `permissive`, `strict`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "query",
            "description": "Search query to filter by. Searches across service `name`, `cluster_id`, `partition`, `namespace`, `sameness_group`, `tags`",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "external_sources",
            "description": "Query param filter: `external_sources`. Returns a service when service's external sources overlap with the external sources specified.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Services"
        ]
      }
    },
    "/2023-10-10/{parent_resource_name}/node/{node_name}": {
      "get": {
        "operationId": "Get Node",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.GetNodeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "Parent resource name will be of the form `consul/project/\u003cproject_id\u003e/cluster/\u003ccluster_id\u003e`",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "consul/project/[^/]+/cluster/[^/]+"
          },
          {
            "name": "node_name",
            "description": "Node name of which details is required",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Nodes"
        ]
      }
    },
    "/2023-10-10/{parent_resource_name}/nodes": {
      "get": {
        "operationId": "List Cluster Nodes",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.ListNodesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "parent_resource_name",
            "description": "Cluster resource name will be of the form `consul/project/\u003cproject_id\u003e/cluster/\u003ccluster_id\u003e`",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "consul/project/[^/]+/cluster/[^/]+"
          },
          {
            "name": "pagination.page_size",
            "description": "The maximum number of results per page to return. If the number \nof available results is larger than `page_size`, a `next_page_token` is\nreturned, which you can use to get the next page of results in subsequent\nrequests. A value of zero causes `page_size` to be defaulted.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pagination.next_page_token",
            "description": "Specifies a page token to use to retrieve the next page. Set this parameter to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.previous_page_token",
            "description": "Specifies a page token to use to retrieve the previous page. Set this parameter to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filters nodes based on the list of names.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "cluster_name",
            "description": "Filters nodes based on the lists of cluster names.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "address",
            "description": "Filters nodes based on the lists of addresses.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "partition",
            "description": "Filters nodes based on the lists of partitions.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "order_by",
            "description": "Sorts the nodes based on a field. Allowed fields: `name`, `partition`, `created_at`, `updated_at`. The value needs to be of the format `\u003c{name/partition/created_at/updated_at} {asc/desc}\u003e` For example: `partition asc`, `name desc`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "include_synthetic_nodes",
            "description": "Include synthetic nodes in response",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Nodes"
        ]
      }
    },
    "/2023-10-10/{resource_name}": {
      "get": {
        "operationId": "Get Cluster",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.GetClusterResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_name",
            "description": "Resource name will be of the form `consul/project/\u003cproject_id\u003e/cluster/\u003ccluster_id\u003e`",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "consul/project/[^/]+/cluster/[^/]+"
          }
        ],
        "tags": [
          "Clusters"
        ]
      }
    }
  },
  "definitions": {
    "google.protobuf.Any": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        }
      },
      "additionalProperties": {},
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\nExample 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\nExample 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := \u0026pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "google.rpc.Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code]."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\n[google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/google.protobuf.Any"
          },
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "hashicorp.cloud.common.PaginationRequest": {
      "type": "object",
      "properties": {
        "page_size": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum number of results per page to return. If the number \nof available results is larger than `page_size`, a `next_page_token` is\nreturned, which you can use to get the next page of results in subsequent\nrequests. A value of zero causes `page_size` to be defaulted."
        },
        "next_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the next page. Set this parameter to the\n`next_page_token` returned by previous list requests to get the next page of\nresults. If set, `previous_page_token` must not be set."
        },
        "previous_page_token": {
          "type": "string",
          "description": "Specifies a page token to use to retrieve the previous page. Set this parameter to\nthe `previous_page_token` returned by previous list requests to get the\nprevious page of results. If set, `next_page_token` must not be set."
        }
      },
      "description": "PaginationRequest are the parameters for a paginated list request."
    },
    "hashicorp.cloud.common.PaginationResponse": {
      "type": "object",
      "properties": {
        "next_page_token": {
          "type": "string",
          "description": "This token allows you to get the next page of results for list requests.\nIf the number of results is larger than `page_size`, use the\n`next_page_token` as a value for the query parameter `next_page_token` in\nthe next request. The value becomes empty when there are no more pages."
        },
        "previous_page_token": {
          "type": "string",
          "description": "This token allows you to get the previous page of results for list\nrequests. If the number of results is larger than `page_size`, use the\n`previous_page_token` as a value for the query parameter\n`previous_page_token` in the next request. The value becomes empty when\nthere are no more pages."
        }
      },
      "description": "PaginationResponse is the response holding the page tokens for a paginated\nlist response."
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.CidrRange": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "title": "The IPv4 address range, including prefix in CIDR notation. For example, 172.25.16.0/24"
        },
        "description": {
          "type": "string",
          "description": "An optional description of the IP address range."
        }
      },
      "description": "CidrRange specifies an IP address and prefix in CIDR format."
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.Cluster": {
      "type": "object",
      "properties": {
        "resource_id": {
          "type": "string",
          "title": "Resource ID of the cluster"
        },
        "resource_name": {
          "type": "string",
          "title": "Resource name of the cluster"
        },
        "parent_resource_id": {
          "type": "string",
          "title": "Resource id of the parent"
        },
        "parent_resource_name": {
          "type": "string",
          "title": "Resource name of the parent"
        },
        "name": {
          "type": "string",
          "description": "Name of the cluster."
        },
        "state": {
          "type": "string",
          "description": "Current state of the cluster."
        },
        "type": {
          "type": "string",
          "description": "Type of the cluster."
        },
        "config": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.ClusterConfig",
          "description": "Configuration for the cluster. Returned only for HashiCorp-managed clusters on HCP."
        },
        "consul_version": {
          "type": "string",
          "title": "Consul version of the cluster"
        },
        "meta": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.Meta",
          "title": "Metadata of the cluster"
        },
        "region": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.Region",
          "title": "Region where the cluster is deployed"
        }
      }
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.ClusterConfig": {
      "type": "object",
      "properties": {
        "consul_config": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.ConsulConfig",
          "title": "consul config"
        },
        "network_config": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.NetworkConfig",
          "description": "NetworkConfig contains the network to deploy the Consul cluster into."
        },
        "tier": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.ClusterConfig.Tier",
          "description": "The type of tier this Consul cluster is provisioned as."
        },
        "size": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.ClusterConfig.Size"
        },
        "dns_names": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.DNSNames",
          "title": "Public and Private DNS names for the cluster"
        }
      },
      "description": "ClusterConfig holds the configuration for a Consul cluster."
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.ClusterConfig.Size": {
      "type": "string",
      "enum": [
        "UNSET",
        "X_SMALL",
        "SMALL",
        "MEDIUM",
        "LARGE"
      ],
      "default": "UNSET",
      "description": "Size corresponds to the size of the VM that a cluster is provisioned\nwith.\nThese sizes are represented as \"t-shirt\" sizes, with each corresponding to a specific\ninstance type depending on the cloud provider."
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.ClusterConfig.Tier": {
      "type": "string",
      "enum": [
        "DEVELOPMENT",
        "STANDARD",
        "PLUS",
        "PREMIUM"
      ],
      "default": "DEVELOPMENT",
      "description": "Tier represents the different groupings of features and cluster settings\nand determines the base billing product associated with a cluster resource."
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.ClusterDetail": {
      "type": "object",
      "properties": {
        "resource_id": {
          "type": "string",
          "description": "Resource ID of the cluster."
        },
        "resource_name": {
          "type": "string",
          "description": "Resource name of the cluster."
        },
        "parent_resource_id": {
          "type": "string",
          "title": "resource id of the parent"
        },
        "parent_resource_name": {
          "type": "string",
          "title": "resource name of the parent"
        },
        "name": {
          "type": "string",
          "description": "Name of the cluster."
        },
        "state": {
          "type": "string",
          "description": "Current state of the cluster."
        },
        "type": {
          "type": "string",
          "description": "Type of the cluster."
        },
        "config": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.ClusterConfig",
          "description": "Configuration for the cluster. Returned only for HashiCorp-managed clusters on HCP."
        },
        "summary": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.ClusterSummary",
          "title": "Summary of the cluster"
        },
        "consul_version": {
          "type": "string",
          "title": "Consul version of the cluster"
        },
        "meta": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.Meta",
          "title": "Metadata of the cluster"
        },
        "region": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.Region",
          "title": "Region where the cluster is deployed"
        }
      }
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.ClusterSummary": {
      "type": "object",
      "properties": {
        "node_count": {
          "type": "integer",
          "format": "int32"
        },
        "server_count": {
          "type": "integer",
          "format": "int32"
        },
        "service_count": {
          "type": "integer",
          "format": "int32"
        },
        "service_passing": {
          "type": "integer",
          "format": "int32"
        },
        "service_warning": {
          "type": "integer",
          "format": "int32"
        },
        "service_critical": {
          "type": "integer",
          "format": "int32"
        },
        "client_count": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.ConsulConfig": {
      "type": "object",
      "properties": {
        "datacenter": {
          "type": "string",
          "description": "`datacenter` is the name of datacenter the Consul servers run in. If\nnot set, a default value of `dc1` is used.\n\nhttps://developer.hashicorp.com/consul/docs/agent/config/config-files#datacenter"
        },
        "connect_enabled": {
          "type": "boolean",
          "description": "`connect_enabled` flag denotes that the service mesh is enabled on the Consul servers."
        },
        "acl_enabled": {
          "type": "boolean",
          "description": "`acl_enabled` stores if ACLs are enabled for this cluster or not."
        }
      },
      "description": "`ConsulConfig` exposes user settable configurations for a Consul cluster."
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.DNSNames": {
      "type": "object",
      "properties": {
        "public": {
          "type": "string",
          "description": "`public` is the DNS name pointing to the cluster's public IP addresses."
        },
        "private": {
          "type": "string",
          "description": "`private` is the DNS name pointing to the cluster's private IP addresses."
        }
      },
      "description": "DNSNames holds all of the cluster's DNS names."
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.GetClusterResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.ClusterDetail"
        }
      }
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.GetNodeResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.NodeDetails",
          "title": "Contains detailed information about the node"
        }
      }
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.GetServiceInstanceResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ServiceInstance"
        }
      }
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.ListClustersResponse": {
      "type": "object",
      "properties": {
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.Cluster"
          }
        }
      }
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.ListNodesResponse": {
      "type": "object",
      "properties": {
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "title": "pagination information for the requesting next or previous page"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.Node"
          },
          "title": "list of nodes of a cluster"
        }
      }
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.Meta": {
      "type": "object",
      "properties": {
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "`created_at` is the timestamp when the cluster was first created."
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "`updated_at` is the timestamp when the cluster was last updated."
        }
      }
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.NetworkConfig": {
      "type": "object",
      "properties": {
        "private": {
          "type": "boolean",
          "description": "`private` indicates if this cluster's instances should be configured in a\nnon-externally accessible way."
        },
        "resource_id": {
          "type": "string",
          "description": "This parameter is the network resource's `id`."
        },
        "resource_name": {
          "type": "string",
          "description": "This parameter is the network resource's `name`."
        },
        "ip_allowlist": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.CidrRange"
          },
          "description": "A list of IP addresses used to restrict access to a cluster."
        }
      },
      "description": "NetworkConfig configures the network of the Consul cluster."
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.Node": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "ID of the node"
        },
        "parent_resource_id": {
          "type": "string",
          "title": "`resource_id` of the cluster to which the node belongs"
        },
        "parent_resource_name": {
          "type": "string",
          "title": "Resource name of the cluster to which the node belongs"
        },
        "name": {
          "type": "string",
          "title": "Mame of the node"
        },
        "address": {
          "type": "string",
          "title": "IP address of the node"
        },
        "cluster_name": {
          "type": "string",
          "title": "Name of the cluster to which the node belongs"
        },
        "partition": {
          "type": "string",
          "title": "Partition of the node"
        },
        "tagged_addresses": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "title": "Tagged address of the node"
        }
      }
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.NodeDetails": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "id of the node"
        },
        "parent_resource_id": {
          "type": "string",
          "title": "resource_id of the cluster to which the node belongs"
        },
        "parent_resource_name": {
          "type": "string",
          "title": "resource_name of the cluster to which the node belongs"
        },
        "name": {
          "type": "string",
          "title": "name of the node"
        },
        "address": {
          "type": "string",
          "title": "address of the node"
        },
        "cluster_name": {
          "type": "string",
          "title": "name of the cluster the node is part of"
        },
        "partition": {
          "type": "string",
          "title": "name of the partition the node belongs to"
        },
        "tagged_addresses": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "title": "tagged addresses of the node"
        },
        "service_data": {
          "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.NodeServiceData",
          "title": "service data of all the services running in the node"
        }
      }
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.NodeServiceData": {
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.consul_cloud_manager_20231010.NodeServiceDetails"
          },
          "title": "details of all service running on a node"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "cumulative tags of all services running on the node"
        },
        "namespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "cumulative namespaces of all the services of the node"
        }
      }
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.NodeServiceDetails": {
      "type": "object",
      "properties": {
        "service_name": {
          "type": "string",
          "title": "service name of the running service"
        },
        "instance_ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "instance_ids of the service"
        },
        "instance_count": {
          "type": "integer",
          "format": "int32",
          "title": "instance count of the service"
        },
        "ports": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "title": "different ports of node occupied by the service"
        },
        "namespace": {
          "type": "string",
          "title": "`namespace` of the service"
        },
        "kind": {
          "type": "string",
          "title": "`kind` of service"
        }
      }
    },
    "hashicorp.cloud.consul_cloud_manager_20231010.Region": {
      "type": "object",
      "properties": {
        "provider": {
          "type": "string"
        },
        "region": {
          "type": "string"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.GetServiceResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Service"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.ListClusterServicesResponse": {
      "type": "object",
      "properties": {
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "title": "Pagination response containing the page tokens for future requests"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Service"
          }
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.ListServiceInstancesResponse": {
      "type": "object",
      "properties": {
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "title": "Pagination response containing the page tokens for future requests"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.ServiceInstance"
          }
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.ListServicesResponse": {
      "type": "object",
      "properties": {
        "pagination": {
          "$ref": "#/definitions/hashicorp.cloud.common.PaginationResponse",
          "title": "Pagination response containing the page tokens for future requests"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Service"
          }
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.Service": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the service."
        },
        "cluster_id": {
          "type": "string",
          "title": "The unique identifier of the Consul cluster the service is registered with"
        },
        "cluster_resource_name": {
          "type": "string",
          "title": "V2 resource name for parent cluster"
        },
        "cluster_resource_id": {
          "type": "string",
          "title": "V2 resource id for parent cluster"
        },
        "namespace": {
          "type": "string",
          "description": "Namespace where the service is deployed."
        },
        "partition": {
          "type": "string",
          "description": "Partition where the service is deployed."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Each instance of a service can have its own tags. At the service level, returns a set of all tags of all service instances."
        },
        "external_sources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Union of all the external sources on the service instances."
        },
        "connect_native": {
          "type": "boolean",
          "description": "True if the service is “connect native”, meaning that it does not use an Envoy proxy."
        },
        "connected_with_proxy": {
          "type": "boolean",
          "description": "True if the service is connected to an Envoy mesh proxy."
        },
        "transparent_proxy": {
          "type": "boolean",
          "description": "Determines whether service traffic is forced to pass through the sidecar proxy."
        },
        "connected_with_gateway": {
          "type": "boolean",
          "description": "True if the service is connected to a gateway."
        },
        "gateway_config": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Service.GatewayConfig",
          "title": "Only applies for `gateway` type services"
        },
        "instance_count": {
          "type": "integer",
          "format": "int32"
        },
        "checks_critical": {
          "type": "integer",
          "format": "int32"
        },
        "checks_passing": {
          "type": "integer",
          "format": "int32"
        },
        "checks_warning": {
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "title": "`Kind` of service\nPossible values: \"\", \"typical\", \"connect-proxy\", \"mesh-gateway\", \"terminating-gateway\", \"ingress-gateway\"\n\"destination\", \"api-gateway\""
        },
        "mtls_mode": {
          "type": "string",
          "title": "Represents how external service requests are handled with regards to mutual TLS protocol\nPossible values: \"\", \"strict\", \"permissive\""
        },
        "sameness_group": {
          "$ref": "#/definitions/hashicorp.cloud.global_network_manager_20220215.Service.SamenessGroup",
          "description": "A name defined at the admin partition level to help determine if two services are the same."
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.Service.GatewayConfig": {
      "type": "object",
      "properties": {
        "associated_service_count": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.Service.SamenessGroup": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "hashicorp.cloud.global_network_manager_20220215.ServiceInstance": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "Service name"
        },
        "id": {
          "type": "string",
          "title": "Service instance ID"
        },
        "cluster_id": {
          "type": "string",
          "title": "The unique identifier of the Consul cluster the service is registered with"
        },
        "cluster_resource_name": {
          "type": "string",
          "title": "V2 resource name for parent cluster"
        },
        "cluster_resource_id": {
          "type": "string",
          "title": "V2 resource id for parent cluster"
        },
        "namespace": {
          "type": "string",
          "description": "Namespace where the service is deployed."
        },
        "partition": {
          "type": "string",
          "description": "Partition where the service is deployed."
        },
        "node": {
          "type": "string",
          "title": "Consul node the service is registered on"
        },
        "address": {
          "type": "string",
          "description": "Service-specific IP address or hostname. If no value is specified, the IP address of the agent node is used by default."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "title": "Port number of the service"
        },
        "connected_with_proxy": {
          "type": "boolean",
          "description": "True if the service is connected to an Envoy mesh proxy."
        },
        "external_source": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "title": "Represents overall service instance health status as determined by the highest elevated health check\nThis can be any of \"passing\", \"warning\", \"critical\", \"none\""
        },
        "service_checks_critical": {
          "type": "integer",
          "format": "int32"
        },
        "service_checks_warning": {
          "type": "integer",
          "format": "int32"
        },
        "service_checks_passing": {
          "type": "integer",
          "format": "int32"
        },
        "proxy_checks_critical": {
          "type": "integer",
          "format": "int32"
        },
        "proxy_checks_warning": {
          "type": "integer",
          "format": "int32"
        },
        "proxy_checks_passing": {
          "type": "integer",
          "format": "int32"
        },
        "node_checks_critical": {
          "type": "integer",
          "format": "int32"
        },
        "node_checks_warning": {
          "type": "integer",
          "format": "int32"
        },
        "node_checks_passing": {
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "title": "`Kind` of service"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "meta": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "bearer": {
      "type": "apiKey",
      "description": "Authentication token, prefixed by Bearer: Bearer \u003ctoken\u003e",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "bearer": []
    }
  ]
}
