/* Global Component Styles */
@import '~@hashicorp/react-global-styles/style.css';
@import '~@hashicorp/react-global-styles/font.css';
@import '~@hashicorp/react-global-styles/code-highlighting.css';
@import '~@hashicorp/react-global-styles/custom-properties/color.css';

:root {
  --highlight-color: var(--brand);
}

/* Global Component Styles */
@import '~@hashicorp/react-button/dist/style.css';
@import '~@hashicorp/react-checkbox-input/dist/style.css';
@import '~@hashicorp/react-consent-manager/dist/style.css';
@import '~@hashicorp/react-content/dist/style.css';
@import '~@hashicorp/react-docs-sidenav/dist/style.css';
@import '~@hashicorp/react-footer/dist/style.css';
@import '~@hashicorp/react-toggle/dist/style.css';
@import '~@hashicorp/react-product-downloader/dist/style.css';
@import '~@hashicorp/react-search/dist/style.css';
@import '~@hashicorp/react-text-input/dist/style.css';
@import '~@hashicorp/react-newsletter-signup-form/dist/style.css';

/* Local Component Styles */
@import '../components/docs-page/style.css';
@import '../components/search-bar/style.css';
@import '../components/subnav/style.css';

/* Web Fonts */
@font-face {
  font-family: 'klavika-web';
  src: url('/fonts/klavika/medium.woff2') format('woff2'),
    url('/fonts/klavika/medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
