.DS_Store
node_modules
.next
out
.mdx-data

# Local Netlify folder
.netlify

# As per Next.js conventions (https://nextjs.org/docs/basic-features/environment-variables#default-environment-variables)
!.env
.env*.local
