{
  "swagger": "2.0",
  "info": {
    "title": "HashiCorp Vault Radar",
    "description": "API for managing Vault Radar.",
    "version": "2023-05-01"
  },
  "tags": [
    {
      "name": "DataSourceRegistrationService"
    },
    {
      "name": "IntegrationConnectionService"
    },
    {
      "name": "IntegrationSubscriptionService"
    },
    {
      "name": "ResourceService"
    },
    {
      "name": "SecretManagerService"
    },
    {
      "name": "TenantService"
    }
  ],
  "host": "api.cloud.hashicorp.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/2023-05-01/vault-radar/projects/{location.project_id}/data-source-registrations/offboard": {
      "post": {
        "operationId": "OffboardDataSource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                },
                "id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "DataSourceRegistrationService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/data-source-registrations/onboard": {
      "post": {
        "operationId": "OnboardDataSource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vault_radar_20230501OnboardDataSourceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                },
                "connection_url": {
                  "type": "string"
                },
                "detector_type": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "DataSourceRegistrationService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/data-source-registrations/token": {
      "put": {
        "operationId": "UpdateDataSourceToken",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                },
                "id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "DataSourceRegistrationService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/data-source-registrations/{id}": {
      "get": {
        "operationId": "GetDataSourceByID",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vault_radar_20230501GetDataSourceByIDResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "DataSourceRegistrationService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/integrations/connections": {
      "post": {
        "operationId": "CreateIntegrationConnection",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vault_radar_20230501CreateIntegrationConnectionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                },
                "name": {
                  "type": "string"
                },
                "integration_type": {
                  "type": "string"
                },
                "auth_key": {
                  "type": "string"
                },
                "details": {
                  "type": "string"
                },
                "is_source": {
                  "type": "boolean"
                },
                "is_sink": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "tags": [
          "IntegrationConnectionService"
        ]
      },
      "put": {
        "operationId": "UpdateIntegrationConnection",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "auth_key": {
                  "type": "string"
                },
                "details": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "IntegrationConnectionService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/integrations/connections/search-by-name": {
      "post": {
        "operationId": "GetIntegrationConnectionByName",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vault_radar_20230501IntegrationConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                },
                "name": {
                  "type": "string",
                  "description": "Name is the unique name of the integration connection to retrieve."
                }
              }
            }
          }
        ],
        "tags": [
          "IntegrationConnectionService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/integrations/connections/{id}": {
      "get": {
        "operationId": "GetIntegrationConnectionByID",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vault_radar_20230501IntegrationConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "ID is the identifier of the integration connection to retrieve.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "IntegrationConnectionService"
        ]
      },
      "delete": {
        "operationId": "DeleteIntegrationConnection",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "ID is the identifier of the integration connection to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "IntegrationConnectionService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/integrations/subscriptions": {
      "post": {
        "operationId": "CreateIntegrationSubscription",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vault_radar_20230501CreateIntegrationSubscriptionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                },
                "name": {
                  "type": "string"
                },
                "connection_id": {
                  "type": "string"
                },
                "details": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "IntegrationSubscriptionService"
        ]
      },
      "put": {
        "operationId": "UpdateIntegrationSubscription",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "connection_id": {
                  "type": "string"
                },
                "details": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "IntegrationSubscriptionService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/integrations/subscriptions/search-by-name": {
      "post": {
        "operationId": "GetIntegrationSubscriptionByName",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vault_radar_20230501IntegrationSubscription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                },
                "name": {
                  "type": "string",
                  "description": "Name is the unique name of the integration subscription to retrieve."
                }
              }
            }
          }
        ],
        "tags": [
          "IntegrationSubscriptionService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/integrations/subscriptions/{id}": {
      "get": {
        "operationId": "GetIntegrationSubscriptionByID",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vault_radar_20230501IntegrationSubscription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "ID is the identifier of the integration subscription to retrieve.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "IntegrationSubscriptionService"
        ]
      },
      "delete": {
        "operationId": "DeleteIntegrationSubscription",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "ID is the identifier of the integration subscription to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "IntegrationSubscriptionService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/resources/list": {
      "post": {
        "operationId": "ListResources",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vault_radar_20230501ResourceListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                },
                "search": {
                  "$ref": "#/definitions/vault_radar_20230501SearchSchema"
                }
              }
            }
          }
        ],
        "tags": [
          "ResourceService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/secret-managers/features": {
      "patch": {
        "operationId": "PatchSecretManagerFeatures",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                },
                "id": {
                  "type": "string"
                },
                "features": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "tags": [
          "SecretManagerService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/secret-managers/offboard": {
      "post": {
        "operationId": "OffboardSecretManager",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                },
                "id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "SecretManagerService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/secret-managers/onboard": {
      "post": {
        "operationId": "OnboardSecretManager",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vault_radar_20230501OnboardSecretManagerResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                },
                "connection_url": {
                  "type": "string"
                },
                "detector_type": {
                  "type": "string"
                },
                "auth_method": {
                  "type": "string"
                },
                "features": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "tags": [
          "SecretManagerService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/secret-managers/token": {
      "put": {
        "operationId": "UpdateSecretManagerToken",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                },
                "id": {
                  "type": "string"
                },
                "token": {
                  "type": "string"
                },
                "auth_method": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "SecretManagerService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/secret-managers/{id}": {
      "get": {
        "operationId": "GetSecretManagerByID",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vault_radar_20230501GetSecretManagerByIDResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "SecretManagerService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/tenants": {
      "get": {
        "operationId": "GetTenant",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vault_radar_20230501TenantGetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "TenantService"
        ]
      },
      "post": {
        "operationId": "CreateTenant",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vault_radar_20230501TenantCreateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                }
              }
            }
          }
        ],
        "tags": [
          "TenantService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/tenants/organizations/{location.organization_id}": {
      "get": {
        "operationId": "ListOrganizationTenants",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/vault_radar_20230501ListOrganizationTenantsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.organization_id",
            "description": "organization_id is the id of the organization.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location.region.provider",
            "description": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "location.region.region",
            "description": "region is the cloud region (\"us-west1\", \"us-east1\")",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "TenantService"
        ]
      }
    },
    "/2023-05-01/vault-radar/projects/{location.project_id}/tenants/provision": {
      "post": {
        "operationId": "ProvisionTenant",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location.project_id",
            "description": "project_id is the projects id.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "object",
                  "properties": {
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id is the id of the organization."
                    },
                    "region": {
                      "$ref": "#/definitions/locationRegion"
                    }
                  },
                  "description": "Location represents a target for an operation in HCP."
                }
              }
            }
          }
        ],
        "tags": [
          "TenantService"
        ]
      }
    }
  },
  "definitions": {
    "FilterFilterOperation": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "EQ",
        "GT",
        "GE",
        "LT",
        "LE",
        "NEQ",
        "NEQ_NULL_AWARE",
        "LIKE",
        "ILIKE"
      ],
      "default": "UNKNOWN"
    },
    "cloudlocationLocation": {
      "type": "object",
      "properties": {
        "organization_id": {
          "type": "string",
          "description": "organization_id is the id of the organization."
        },
        "project_id": {
          "type": "string",
          "description": "project_id is the projects id."
        },
        "region": {
          "$ref": "#/definitions/locationRegion"
        }
      },
      "description": "Location represents a target for an operation in HCP."
    },
    "locationRegion": {
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "title": "provider is the named cloud provider (\"aws\", \"gcp\", \"azure\")"
        },
        "region": {
          "type": "string",
          "title": "region is the cloud region (\"us-west1\", \"us-east1\")"
        }
      },
      "description": "Region identifies a Cloud data-plane region."
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        }
      },
      "additionalProperties": {},
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := \u0026pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "protobufNullValue": {
      "type": "string",
      "enum": [
        "NULL_VALUE"
      ],
      "default": "NULL_VALUE",
      "description": "`NullValue` is a singleton enumeration to represent the null value for the\n`Value` type union.\n\nThe JSON representation for `NullValue` is JSON `null`.\n\n - NULL_VALUE: Null value."
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "vault_radar_20230501CreateIntegrationConnectionResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "vault_radar_20230501CreateIntegrationSubscriptionResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "vault_radar_20230501Filter": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/vault_radar_20230501FilterValue"
          }
        },
        "op": {
          "$ref": "#/definitions/FilterFilterOperation"
        },
        "exact_match": {
          "type": "boolean"
        }
      }
    },
    "vault_radar_20230501FilterValue": {
      "type": "object",
      "properties": {
        "string_value": {
          "type": "string"
        },
        "int_value": {
          "type": "string",
          "format": "int64"
        },
        "bool_value": {
          "type": "boolean"
        },
        "float_value": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "vault_radar_20230501GetDataSourceByIDResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "deleted": {
          "type": "boolean"
        },
        "connection_url": {
          "type": "string"
        }
      }
    },
    "vault_radar_20230501GetSecretManagerByIDResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "deleted": {
          "type": "boolean"
        },
        "connection_url": {
          "type": "string"
        },
        "features": {
          "type": "object"
        }
      }
    },
    "vault_radar_20230501IntegrationConnection": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "integration_type": {
          "type": "string"
        },
        "details": {
          "type": "string"
        },
        "is_source": {
          "type": "boolean"
        },
        "is_sink": {
          "type": "boolean"
        }
      }
    },
    "vault_radar_20230501IntegrationSubscription": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "connection_id": {
          "type": "string"
        },
        "details": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        }
      }
    },
    "vault_radar_20230501ListOrganizationTenantsResponse": {
      "type": "object",
      "properties": {
        "provisioned_tenants": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "vault_radar_20230501OnboardDataSourceResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "vault_radar_20230501OnboardSecretManagerResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "vault_radar_20230501Resource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "connection_url": {
          "type": "string"
        },
        "data_source_name": {
          "type": "string"
        },
        "data_source_type": {
          "type": "string"
        },
        "data_source_info": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "detector_type": {
          "type": "string"
        },
        "visibility": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "hcp_resource_id": {
          "type": "string"
        },
        "hcp_resource_name": {
          "type": "string"
        },
        "hcp_resource_status": {
          "type": "string"
        }
      }
    },
    "vault_radar_20230501ResourceListResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/vault_radar_20230501Resource"
          }
        }
      }
    },
    "vault_radar_20230501SearchSchema": {
      "type": "object",
      "properties": {
        "orderBy": {
          "type": "string"
        },
        "orderDirection": {
          "type": "string"
        },
        "limit": {
          "type": "integer",
          "format": "int32"
        },
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "groupBy": {
          "type": "string"
        },
        "interval": {
          "type": "string"
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/vault_radar_20230501Filter"
          }
        }
      }
    },
    "vault_radar_20230501TenantCreateResponse": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "state": {
          "type": "string"
        }
      }
    },
    "vault_radar_20230501TenantGetResponse": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "trial_expires_at": {
          "type": "string",
          "format": "date-time"
        }
      },
      "title": "For now, we only want to send back type and state"
    }
  },
  "securityDefinitions": {
    "bearer": {
      "type": "apiKey",
      "description": "Authentication token, prefixed by Bearer: Bearer \u003ctoken\u003e",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "bearer": []
    }
  ]
}
