# Apply a product label based on the product selected in the issue template's
# product list.
#
# https://github.com/marketplace/actions/advanced-issue-labeler
# https://github.com/redhat-plumbers-in-action/advanced-issue-labeler
# https://github.com/redhat-plumbers-in-action/issue-forms-automation/blob/main/.github/workflows/issue-labeler.yml

# Inspired by: https://github.com/stefanbuck/ristorante
# See: https://stefanbuck.com/blog/codeless-contributions-with-github-issue-forms

name: Issue labeler
on:
  issues:
    types: [ opened, edited ]

jobs:
  label-issues-policy:
    runs-on: ubuntu-latest
    permissions:
      issues: write

    strategy:
      matrix:
        template: [ bug-report.yml, feature-request.yml ]

    steps:
      - uses: actions/checkout@v3

      - name: Parse issue form
        uses: stefanbuck/github-issue-parser@v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/${{ matrix.template }}

      - name: Set labels based on policy
        uses: redhat-plumbers-in-action/advanced-issue-labeler@main
        with:
          issue-form: ${{ steps.issue-parser.outputs.jsonString }}
          template: ${{ matrix.template }}
          token: ${{ secrets.GITHUB_TOKEN }}
 
